@import 'reset.css';

@font-face {
	font-family: Helvetica;
	src: url(/fonts/HelveticaLTStd-Roman.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Helvetica;
	src: url(/fonts/HelveticaLTStd-Bold.otf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Helvetica;
	src: url(/fonts/HelveticaLTStd-Light.otf);
	font-weight: lighter;
	font-style: normal;
}

/* <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <> *\
 <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>
\* <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <> */

* {
	box-sizing: border-box;
	cursor: inherit;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html,
body {
	background: #000;
	height: 100%;
	width: 100%;
}

body {
	color: #fff;
	cursor: default;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: lighter;
	line-height: 1;
}

a {
	color: inherit;
	text-decoration: inherit;
}

input {
	background: #4a536a;
	border: 1px solid #000;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 5px 10px;
}

h1,
h2,
h3 {
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
}

h1 {
	font-size: 21px;
	padding: 0.571428571em 0;
	text-align: center;
}

h2 {
	font-size: 16px;
}

h3 {
	color: #bac7da;
	font-size: 16px;
}

p {
	color: #cbcaca;
	display: block;
	line-height: 1.6em;
}

.text-wall {
	line-height: 1.6;
	margin: auto;
	max-width: 700px;
	padding: 20px 40px;
}

.text-wall .btn,
.text-wall .on-off-btn {
	line-height: 1;
	margin: 0.5em 0;
}

.btn {
	background: #243774;
	cursor: pointer;
	display: inline-block;
	min-width: 145px;
	position: relative;
}

.btn:hover {
	background: #1c335d;
}

.btn.is-selected {
	background: #4f7abd;
}

.btn img {
	background: transparent no-repeat center center;
	display: none;
	height: 44px;
	position: absolute;
	right: 0;
	width: 44px;
}

.btn label {
	cursor: pointer;
	display: block;
	padding: 14px 20px;
	text-align: center;
}

.back-btn {
	background: #000;
	display: none;
	width: 100%;
}

.back-btn:hover {
	background: #000;
}

.back-btn img {
	background-image: url(/images/back-btn.png);
	display: block;
	left: 0;
}

.add-btn img {
	background-image: url(/images/add-btn.png);
	display: block;
}

.add-btn:hover img {
	background-image: url(/images/add-btn-hover.png);
}

.on-off-btn {
	cursor: pointer;
	display: inline-block;
	min-width: 0;
}

.on-off-btn .on,
.on-off-btn .off {
	float: left;
	min-width: 3.4375em;
	padding: 0.4375em 0.625em;
	text-align: center;
}

.on-off-btn .on,
.on-off-btn.is-on .off {
	background: #4a536a;
	border: 1px solid #000;
	color: #000;
}

.on-off-btn.is-on .on,
.on-off-btn .off {
	background: #4f7abd;
	border: 1px solid #fff;
	color: #fff;
}

/* <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <> *\
 <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>
\* <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <> */

.header {
	background: transparent url(/images/header.png) no-repeat center center;
	background-size: 100%;
	/*position: relative;*/
	position: absolute;
	width: 100%;
	z-index: 3;
}

.header .tracvision-logo {
	cursor: pointer;
	display: block;
	height: 50px;
	margin: auto;
	width: 150px;
}

.header .tracvision-logo img {
	background: transparent url(/images/tracvision-logo.png);
	height: 100%;
	width: 100%;	
}

.header .status-btn {
	height: 50px;
	left: 0;
	position: absolute;
	top: 0;
	width: 50px;
}

.header .status-btn .status-light {
	background: #abd037;
	float: left;
	height: 22px;
	margin-right: 3px;
	margin-top: 7px;
	width: 10px;
}

.header .status-btn .status-light:nth-child(1) {
	margin-left: 7px;
}

.header .status-btn label {
	bottom: 4px;
	cursor: pointer;
	font-size: 13px;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.header .status-bar {
	display: none;
}

.header .nav-btn {
	display: none;
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
}

.header .nav-btn .nav-btn-square {
	background: #fff;
	float: left;
	height: 10px;
	margin-right: 3px;
	margin-top: 7px;
	width: 10px;
}

.header .nav-btn .nav-btn-square:nth-child(3n+1) {
	margin-left: 7px;
}

.header .nav-btn .nav-btn-square:nth-child(n+4) {
	margin-top: 3px;
}

.header .nav-btn label {
	bottom: 4px;
	cursor: pointer;
	font-size: 13px;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.header .nav-bar {
	background: #010305;
	height: 45px;
	overflow: hidden;
	position: absolute;
	width: 100%;
}

.header .nav-bar .nav-btn {
	cursor: pointer;
	display: block;
	float: left;
	padding-right: 22px;
	position: relative;
	width: auto;
}

.header .nav-bar .home-btn {
	padding-left: 10px;
}

.header .nav-bar .nav-btn img {
	background: transparent no-repeat center center;
	display: block;
	float: left;
	height: 45px;
	margin: auto 10px;
	position: relative;
}

.header .nav-bar .home-btn img {
	background-image: url(/images/nav-home-small.png);
	width: 17px;
}

.header .nav-bar .home-btn:hover img,
.header .nav-bar .home-btn.is-selected img {
	background-image: url(/images/nav-home-small-selected.png);
}

.header .nav-bar .satellites-btn img {
	background-image: url(/images/nav-satellites-small.png);
	width: 18px;
}

.header .nav-bar .satellites-btn:hover img,
.header .nav-bar .satellites-btn.is-selected img {
	background-image: url(/images/nav-satellites-small-selected.png);
}

.header .nav-bar .autoswitch-btn img {
	background-image: url(/images/nav-autoswitch-small.png);
	width: 19px;
}

.header .nav-bar .autoswitch-btn:hover img,
.header .nav-bar .autoswitch-btn.is-selected img {
	background-image: url(/images/nav-autoswitch-small-selected.png);
}

.header .nav-bar .settings-btn img {
	background-image: url(/images/nav-settings-small.png);
	width: 17px;
}

.header .nav-bar .settings-btn:hover img,
.header .nav-bar .settings-btn.is-selected img {
	background-image: url(/images/nav-settings-small-selected.png);
}

.header .nav-bar .updates-btn img {
	background-image: url(/images/nav-updates-small.png);
	width: 19px;
}

.header .nav-bar .updates-btn:hover img,
.header .nav-bar .updates-btn.is-selected img {
	background-image: url(/images/nav-updates-small-selected.png);
}

.header .nav-bar .support-btn img {
	background-image: url(/images/nav-support-small.png);
	width: 13px;
}

.header .nav-bar .support-btn:hover img,
.header .nav-bar .support-btn.is-selected img {
	background-image: url(/images/nav-support-small-selected.png);
}

.header .nav-bar .sat-finder-btn img {
	background-image: url(/images/nav-sat-finder-small.png);
}

.header .nav-bar .sat-finder-btn:hover img,
.header .nav-bar .sat-finder-btn.is-selected img {
	background-image: url(/images/nav-sat-finder-small-selected.png);
}


.header .nav-bar .nav-btn label {
	color: #bac7da;
	cursor: pointer;
	float: left;
	font-size: 16px;
	margin-top: 20px;
	position: relative;
	width: auto;
}

.header .nav-bar .nav-btn:hover label,
.header .nav-bar .nav-btn.is-selected label {
	color: #fff;
}

/* <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <> *\
 <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>
\* <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <> */

.view {
	display: none;
	float: left;
	min-height: 100%;
	position: relative;
	padding-top: 95px;
	z-index: 1;
}

/*
.view.is-active {
	display: block;
}
*/

.menu {
	background: #040b17;
	/*display: block;*/
	width: 240px;
	z-index: 2;
}

.menu .btn {
	display: block;
}

.menu .menu-btn {
	border-bottom: 1px solid #466ab2;
}

.menu .menu-btn img {
	background-image: url(/images/menu-btn.png);
}

.menu .menu-btn label {
	text-align: left;
}

.view:not(.menu) {
	background: #04122a url(/images/gradient.png) no-repeat;
	background-position: top -35px left calc(50% + 120px);
	margin-left: -240px;
	padding-left: 240px;
	width: 100%;
}

/* <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <> *\
 <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>
\* <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <> */

@media screen and (max-width: 880px) {

	p {
		font-size: 13px;
	}

	.back-btn {
		display: block;
	}

	.back-btn label {
		font-size: 21px;
		padding: 12px 0;
	}

	.text-wall {
		padding: 20px;
	}

	/* <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <> *\
	 <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>
	\* <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <> */

	.header {
		position: fixed;
	}

	.header .nav-btn {
		display: block;
	}

	.header .nav-bar {
		background: #231f20;
		height: 0;
		transition: padding-bottom 0.5s;
		-moz-transition: padding-bottom 0.5s;
		-webkit-transition: padding-bottom 0.5s;
	}

	.header .nav-bar.is-expanded {
		width: 100%;
		padding-bottom: 74%;
		transition: padding-bottom 0.5s;
		-moz-transition: padding-bottom 0.5s;
		-webkit-transition: padding-bottom 0.5s;
	}

	.header .nav-bar .nav-btn {
		/*margin-bottom: 2%;*/
		padding-bottom: 37%;
		position: relative;
		width: 33.333%;
	}

	.header .nav-bar .home-btn {
		padding-left: 0;
	}

	.header .nav-bar .nav-btn img {
		background: transparent no-repeat center center;
		float: none;
		height: 80%;
		width: 100%;
	}

	.header .nav-bar .nav-btn label {
		color: #fff;
		display: block;
		float: none;
		text-align: center;
		width: 100%;
		margin: -2% 10px;
	}

	.header .nav-bar .home-btn img,
	.header .nav-bar .home-btn:hover img,
	.header .nav-bar .home-btn.is-selected img { background-image: url(/images/nav-home-large.png); }
	
	.header .nav-bar .satellites-btn img,
	.header .nav-bar .satellites-btn:hover img,
	.header .nav-bar .satellites-btn.is-selected img { background-image: url(/images/nav-satellites-large.png); }
	
	.header .nav-bar .autoswitch-btn img,
	.header .nav-bar .autoswitch-btn:hover img,
	.header .nav-bar .autoswitch-btn.is-selected img { background-image: url(/images/nav-autoswitch-large.png); }
	
	.header .nav-bar .settings-btn img,
	.header .nav-bar .settings-btn:hover img,
	.header .nav-bar .settings-btn.is-selected img { background-image: url(/images/nav-settings-large.png); }
	
	.header .nav-bar .updates-btn img,
	.header .nav-bar .updates-btn:hover img,
	.header .nav-bar .updates-btn.is-selected img { background-image: url(/images/nav-updates-large.png); }
	
	.header .nav-bar .support-btn img,
	.header .nav-bar .support-btn:hover img,
	.header .nav-bar .support-btn.is-selected img { background-image: url(/images/nav-support-large.png); }
	
	.header .nav-bar .sat-finder-btn img,
	.header .nav-bar .sat-finder-btn:hover img,
	.header .nav-bar .sat-finder-btn.is-selected img { background-image: url(/images/nav-sat-finder-large.png); }

	/* <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <> *\
	 <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>
	\* <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <> */

	.view:not(.menu),
	.menu {
		background: #04122a url(/images/gradient.png) no-repeat;
		background-position: top -35px center;
		margin-left: 0;
		padding-left: 0;
		width: 100%;
	}

/*
	.menu:not(.is-active) {
		display: none;
	}
*/
	.menu .menu-btn.is-selected {
		background: #243774;
	}

	.menu .menu-btn img {
		display: block;
	}

	h1 {
		display: none;
	}
}

/* <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <> *\
 <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>
\* <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <> */

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.header .tracvision-logo img {
		background-image: url(/images/tracvision-logo@2x.png);
		background-size: 100% 100%;
	}
}

@media screen and (min-width: 880px) and (-webkit-min-device-pixel-ratio: 2) {
	.header .nav-bar .nav-btn img {
		background-size: 100%;
	}

	.header .nav-bar .home-btn img { background-image: url(/images/nav-home-small@2x.png); }

	.header .nav-bar .home-btn:hover img,
	.header .nav-bar .home-btn.is-selected img { background-image: url(/images/nav-home-small-selected@2x.png); }

	.header .nav-bar .satellites-btn img { background-image: url(/images/nav-satellites-small@2x.png); }

	.header .nav-bar .satellites-btn:hover img,
	.header .nav-bar .satellites-btn.is-selected img { background-image: url(/images/nav-satellites-small-selected@2x.png); }

	.header .nav-bar .autoswitch-btn img { background-image: url(/images/nav-autoswitch-small@2x.png); }

	.header .nav-bar .autoswitch-btn:hover img,
	.header .nav-bar .autoswitch-btn.is-selected img { background-image: url(/images/nav-autoswitch-small-selected@2x.png); }

	.header .nav-bar .settings-btn img { background-image: url(/images/nav-settings-small@2x.png); }

	.header .nav-bar .settings-btn:hover img,
	.header .nav-bar .settings-btn.is-selected img { background-image: url(/images/nav-settings-small-selected@2x.png); }

	.header .nav-bar .updates-btn img { background-image: url(/images/nav-updates-small@2x.png); }

	.header .nav-bar .updates-btn:hover img,
	.header .nav-bar .updates-btn.is-selected img { background-image: url(/images/nav-updates-small-selected@2x.png); }

	.header .nav-bar .support-btn img { background-image: url(/images/nav-support-small@2x.png); }

	.header .nav-bar .support-btn:hover img,
	.header .nav-bar .support-btn.is-selected img { background-image: url(/images/nav-support-small-selected@2x.png); }

	.header .nav-bar .sat-finder-btn img { background-image: url(/images/nav-sat-finder-small@2x.png); }

	.header .nav-bar .sat-finder-btn:hover img,
	.header .nav-bar .sat-finder-btn.is-selected img { background-image: url(/images/nav-sat-finder-small-selected@2x.png); }
}

@media screen and (max-width: 880px) and (-webkit-min-device-pixel-ratio: 2) {

	.header .nav-bar .nav-btn img {
		background-size: 49px;	
	}
	
	.header .nav-bar .autoswitch-btn img,
	.header .nav-bar .support-btn img {
		background-size: 48px 49px;
	}

	.header .nav-bar .home-btn img,
	.header .nav-bar .home-btn:hover img,
	.header .nav-bar .home-btn.is-selected img { background-image: url(/images/nav-home-large@2x.png); }

	.header .nav-bar .satellites-btn img,
	.header .nav-bar .satellites-btn:hover img,
	.header .nav-bar .satellites-btn.is-selected img { background-image: url(/images/nav-satellites-large@2x.png); }

	.header .nav-bar .autoswitch-btn img,
	.header .nav-bar .autoswitch-btn:hover img,
	.header .nav-bar .autoswitch-btn.is-selected img { background-image: url(/images/nav-autoswitch-large@2x.png); }

	.header .nav-bar .settings-btn img,
	.header .nav-bar .settings-btn:hover img,
	.header .nav-bar .settings-btn.is-selected img { background-image: url(/images/nav-settings-large@2x.png); }

	.header .nav-bar .updates-btn img,
	.header .nav-bar .updates-btn:hover img,
	.header .nav-bar .updates-btn.is-selected img { background-image: url(/images/nav-updates-large@2x.png); }

	.header .nav-bar .support-btn img,
	.header .nav-bar .support-btn:hover img,
	.header .nav-bar .support-btn.is-selected img { background-image: url(/images/nav-support-large@2x.png); }
}


/* <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <> *\
 <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>
\* <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <>  <> */

* {
	/*outline: 1px dotted red;*/
}

*:hover {
	outline: 1px solid red;
}

@media screen and (max-width: 880px) {

	.header .nav-bar .nav-btn img {
		background-size: 49px;
	}

	.header .nav-bar .home-btn img {
		background-image: url(/images/nav-home-large.svg) !important;
	}
}