/*       *\

    ^3^

\*       */

@import 'reset.css';

@font-face {
	font-family: Helvetica;
	src: url(/fonts/HelveticaLTStd-Roman.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Helvetica;
	src: url(/fonts/HelveticaLTStd-Bold.otf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Helvetica;
	src: url(/fonts/HelveticaLTStd-Light.otf);
	font-weight: lighter;
	font-style: normal;
}

/*               *\

    BASE STYLES

\*               */

html,
body {
	background: #06102a;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: lighter;
	color: #fff;
	height: 100%;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: inherit;
}

p {
	line-height: 120%;
}

.page,
.sb,
.mc,
.mcg,
.bg,
.back-btn,
.menu-btn,
.accordion-btn {
	display: block;
}

.sb {
	background: #020306;
}

.mc {
	background: #06102a;
}

.mcg {
	padding: 10px 20px;
}

.bg {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.headline {
	color: #ccc;
	margin-bottom: 30px;
}

.warning {
	background: #d22;
	margin-bottom: 30px;
	padding: 10px;
}

.dropdown-btn,
.text-btn,
.border-btn,
.block-btn {
	background: transparent;
	display: inline-block;
	padding: 10px 20px;
}

.dropdown-btn,
.text-btn,
.border-btn {
	color: #4388fd;
}

.border-btn {
	border: 1px solid #4388fd;
	padding: 8px 18px;
}


.back-btn img {
	display: inline;
	background: transparent url(/images/back.png) no-repeat center center;
	height: 40px;
	width: 40px;
	vertical-align: middle;
}

.back-btn {
	background: #020306;
}

.menu-btn,
.accordion-btn {
	padding: 10px 20px;
	position: relative;
}

.block-btn,
.menu-btn {
	background: #031b42;
}

.menu-btn + .menu-btn {
	margin-top: 2px;
}

.menu-btn.selected {
	background: #15438f;
}

.menu-btn img,
.accordion-btn img {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}

.menu-btn img {
	background: transparent url(/images/forward.png) no-repeat center center;
}

.of-btn {
	color: #4388fd;
	display: inline-block;
}

.of-btn .on,
.of-btn .off {
	border-color: transparent;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	padding: 5px 10px;
}

.of-btn.on .on,
.of-btn:not(.on) .off {
	border-color: #4388fd;
}

.accordion-btn {
	background: #020306;
	color: #ccc;
}

.accordion-btn img {
	background: transparent url(/images/plus.png) no-repeat center center;
}

.accordion.exp .accordion-btn img {
	background: transparent url(/images/minus.png) no-repeat center center;
}

@media screen and (max-width: 880px) {
	.page {
		position: relative;
	}

	.sb {
		display: none;
	}

	.sb,
	.mc {
		width: 100%;
	}

	.accordion:not(.exp) {
		height: 36px; /* MAGIC NUMBER - needs to know size of .accordian-btn, which is determined by font-size + padding */
		overflow: hidden;
	}

}

@media screen and (min-width: 880px) {
	.back-btn {
		display: none;
	}

	.page,
	.mc,
	.sb {
		bottom: 0;
		position: absolute;
	}

	.mcg {
		width: 550px;
		margin: auto;
	}

	.page {
		top: 95px;
	}

	.page,
	.sb {
		left: 0;
	}

	.mc,
	.sb {
		top: 0;
	}

	.sb {
		width: 260px;
	}

	.page,
	.mc {
		right: 0;
	}

	.mc {
		left: 260px;
	}

	.menu-btn img,
	.accordion-btn img {
		display: none;
	}

	.accordion {
		height: auto;
	}	

}

















.header {
	background: #002879; /*	#002879 - #001339 */
	position: relative;
	width: 100%;
}

.tracvision-logo,
.tracvision-logo img,
.status-btn,
.nav-btn {
	height: 55px;
}

.tracvision-logo {
	display: block;
	margin: auto;
}

.tracvision-logo img {
	background: transparent url(/images/tracvision-logo.png) no-repeat center center;
}

.tracvision-logo,
.tracvision-logo img {
	width: 133px;
}

.status-btn,
.nav-btn {
	color: #fff;
	font-size: 12px;
	font-weight: lighter;
	padding: 0 5px;
	position: absolute;
	text-align: center;
	top: 0;
}

.status-btn img,
.nav-btn img {
	background: transparent url(/images/status-icon.png) no-repeat center center;
	display: block;
	height: 36px;
	width: 53px;
}

.status-btn {
	left: 0;
}

.nav-btn {
	right: 0;
}

.status {
	height: 0;
	overflow: hidden;
}

.nav {
	background: #0f344c;
}

.nav a {
	background: #020306;
	text-decoration: none;
}

/*                           *\

     SMALL & MEDIUM SHARED

\*                           */

@media screen and (max-width: 880px) {
	.nav {
		height: 0;
		overflow: hidden;
		padding-bottom: 0;
		text-align: center;
		transition: padding-bottom 0.5s;
		-moz-transition: padding-bottom 0.5s;
		-webkit-transition: padding-bottom 0.5s;
	}

	.nav.toggled {
		transition: padding-bottom 0.5s;
		-moz-transition: padding-bottom 0.5s;
		-webkit-transition: padding-bottom 0.5s;
	}

	.nav a {
		float: left;
		font-size: 15px;
		height: 0;
		margin: 0;/* 1% 1% 0;*/
	}

	.nav a img {	
		height: 0;
		padding-bottom: 60%;
		width: 100%;
	}

	.dashboard-btn img { background: transparent url(/images/dashboard-icon-large.png) no-repeat center bottom; }
	.satellites-btn img { background: transparent url(/images/satellites-icon-large.png) no-repeat center bottom; }
	.autoswitch-btn img { background: transparent url(/images/autoswitch-icon-large.png) no-repeat center bottom; }
	.settings-btn img { background: transparent url(/images/settings-icon-large.png) no-repeat center bottom; }
	.updates-btn img { background: transparent url(/images/updates-icon-large.png) no-repeat center bottom; }
	.support-btn img { background: transparent url(/images/support-icon-large.png) no-repeat center bottom; }
}

/*                *\

     SMALL SOLO

\*                */

@media screen and (max-width: 540px) {
	.nav.toggled {
		padding-bottom: 66.666%;
	}

	.nav a {
		padding-bottom: 33.333%;
		width: 33.333%;
	}
}

/*                 *\

     MEDIUM SOLO

\*                 */

@media screen and (min-width: 540px) and (max-width: 880px) {
	.nav.toggled {
		padding-bottom: 16.666%;
	}

	.nav a {
		padding-bottom: 16.666%;
		width: 16.666%;
	}
}

/*                *\

     LARGE SOLO

\*                */

@media screen and (min-width: 880px) {
	.nav-btn {
		display: none;
	}

	.nav {
		height: 40px;
	}

	.nav a {
		display: inline-block;
		height: 35px;
		padding: 0 20px 0 5px;
		position: relative;
		margin: 5px 5px 0 0;
		line-height: 250%;
	}

	.nav a.selected {
		background: #06102a;
	}

	.nav a img {
		float: left;
		height: 100%;
		width: 40px;
	}

	.dashboard-btn img { background: transparent url(/images/dashboard-icon-small.png) no-repeat center center; }
	.satellites-btn img { background: transparent url(/images/satellites-icon-small.png) no-repeat center center; }
	.autoswitch-btn img { background: transparent url(/images/autoswitch-icon-small.png) no-repeat center center; }
	.settings-btn img { background: transparent url(/images/settings-icon-small.png) no-repeat center center; }
	.updates-btn img { background: transparent url(/images/updates-icon-small.png) no-repeat center center; }
	.support-btn img { background: transparent url(/images/support-icon-small.png) no-repeat center center; }
}








.nav .sat-finder-btn {
	position: fixed;
	top: 0;
	right: 70px;
	z-index: 9999;
	display: none;
}

.sat-finder-btn {
	display: block;
}

.sat-finder-btn img {
	background: white;
}
