body.at-splash .menu-view,
body.at-splash .vessel-view {
	display: block;
}

.menu-sub-view,
.satellite-sub-view {
	border-bottom: 1px solid #466ab2;
	line-height: 1.6;
	padding: 1em;
	position: relative;
}

.satellite-view,
.satellite-dropdown-view {
	border-bottom: 0;
	padding: 0;
}

.autoswitch-master-label,
.antenna-label,
.location-label {
	display: block;
	min-height: 1.6em;
}

.satellite-mode-btn {
	margin-top: 0.5em;
	width: 100%;
}

.satellite-mode-btn .on,
.satellite-mode-btn .off {
	padding-bottom: 0.25em;
	padding-top: 0.25em;
	width: 50%;
}

.satellite-dropdown-option {
	background-color: #293147;
}

.satellite-status-label {
	bottom: 1em;
	color: #4a536a;
	position: absolute;
}

.satellite-signal {
	background: transparent no-repeat right bottom;
	height: 60px;
	width: 100%;
}

.satellite-signal.is-0 { background-image: url(/images/satellite-signal-0.png); }
.satellite-signal.is-1 { background-image: url(/images/satellite-signal-1.png); }
.satellite-signal.is-2 { background-image: url(/images/satellite-signal-2.png); }
.satellite-signal.is-3 { background-image: url(/images/satellite-signal-3.png); }
.satellite-signal.is-4 { background-image: url(/images/satellite-signal-4.png); }
.satellite-signal.is-5 { background-image: url(/images/satellite-signal-5.png); }

.autoswitch-view {
	padding-bottom: 2.6em;
}

.autoswitch-view img {
	background: transparent url(/images/nav-autoswitch-small-selected.png) no-repeat center center;
	float: left;
	height: 1.4em;
	width: 19px;
}

.autoswitch-view.is-disabled img {
	background: transparent url(/images/nav-autoswitch-small-disabled.png) no-repeat center center;
}

.autoswitch-master-label {
	float: left;
	margin-left: 0.5em;
}

.autoswitch-view.is-disabled h3,
.autoswitch-view.is-disabled .autoswitch-master-label {
	color: #4a536a;
}

.autoswitch-change-btn {
	float: right;
	font-size: 13px;
	min-width: 0;
}

.autoswitch-view.is-disabled .autoswitch-change-btn {
	display: none;
}

.autoswitch-change-btn label {
	padding: 0.5em 0.75em;
}


/*
.page .view:not(.is-active) {
	display: block;
}

.page .menu {
	background: #040b17;
}

.menu .select-btn {
	color: #466ab3;
	cursor: pointer;
	font-size: 13px;
	margin-top: 5px;
	text-align: right;
}

.menu .section {
	border-color: #283d66;
	border-style: solid;
	border-width: 0 0 1px 0;
	padding: 15px 10px;
	position: relative;
}

.menu .autoswitch img {
	background: transparent url(/images/nav-autoswitch-small.png) no-repeat center center;
	float: left;
	height: 100%;
	width: 20px;
}

.menu .autoswitch .master {
	color: #fff;
	display: inline-block;
	margin: 3px 10px 1px;
}

.menu .autoswitch .select-btn {
	float: right;
}

.menu .gps {
	padding: 30px 10px;
}

.menu .satellite .name,
.menu .gps .coordinate,
.menu .antenna .type {
	display: block;
	min-height: 1em;
}

.menu .gps .coordinate,
.menu .antenna .type {
	margin-top: 10px;
}

.menu .satellite {
	padding: 15px 10px 30px;
}

.menu .satellite .select-btn {
	display: block;
}

.menu .satellite .manual {
	display: inline-block;
	font-size: 13px;
	position: absolute;
	top: 46px;
}

.menu .satellite .manual h3 {
	font-size: inherit;
	text-align: center;
	margin-bottom: 7px;
}

.menu .satellite .signal {
	background: transparent no-repeat right bottom;
	height: 60px;
	width: 100%;
}

.menu .satellite .signal-0 { background-image: url(/images/satellite-signal-0.png); }
.menu .satellite .signal-1 { background-image: url(/images/satellite-signal-1.png); }
.menu .satellite .signal-2 { background-image: url(/images/satellite-signal-2.png); }
.menu .satellite .signal-3 { background-image: url(/images/satellite-signal-3.png); }
.menu .satellite .signal-4 { background-image: url(/images/satellite-signal-4.png); }
.menu .satellite .signal-5 { background-image: url(/images/satellite-signal-5.png); }

.vessel {
	background: transparent no-repeat center center;
	background-image: url(/images/vessel-large.png);
	height: 530px;
	margin-top: 30px;
	position: relative;
	width: 100%;
}

.vessel .heading,
.vessel .name {
	padding: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.vessel .heading {
	top: 0;
}

.vessel .name {
	bottom: 0;
}

.vessel .animation {
	background: transparent no-repeat center center;
	background-image: url(/images/vessel-animation-large.png);
	display: block;
	left: 50%;
	margin-left: -228px;
	margin-top: -228px;
	position: absolute;
	top: 50%;
	height: 457px;
	width: 457px;
}

@media screen and (max-width: 880px) {
	.page .menu {
		height: auto;
		min-height: 0;
		position: relative;
		top: 350px;
	}

	.page .menu .section:nth-child(n+2) {
		border-width: 0 1px 0 0;
		display: block;
		float: left;
		height: 110px;
		margin: 15px 0;
		padding: 0 10px 15px;
		width: 33.33%;
	}

	.page .menu .section:last-child {
		border: 0;
	}

	.page .menu .autoswitch {
		margin: 0 10px;
		padding: 15px 0;
	}

	.page .menu .satellite .manual {
		display: none !important;
	}

	.page .view:not(.menu) {
		top: auto;
		bottom: auto;
		position: absolute;
		height: 350px;
		min-height: 0;
	}

	.vessel {
		background-image: url(/images/vessel-small.png);
		height: 300px;
	}

	.vessel .animation {
		background-image: url(/images/vessel-animation-small.png);
		height: 235px;
		margin-left: -118px;
		margin-top: -118px;
		width: 235px;
	}
}
*/