/*       *\

    ^3^

\*       */



.sb .headline {
	margin-bottom: 0;
	padding: 10px 20px;
}

.table {
	margin-left: -137.5px;
	width: 825px;
}

.table-header {
	margin-bottom: 2px;
}

.table-row {
	cursor: pointer;
	display: block;
	position: relative;
	width: 100%;
}

.table-row .table-col {
	background: #4d5369;
}

.table-row:nth-child(2n) .table-col {
	background: #2a3046;
}

.table-row.selected,
.table-row.selected .table-col {
	background: #203c90;
}

.table-row+.table-row {
	margin-top: 2px;
}

.table-col {
	display: inline-block;
	padding: 10px;
}

.table-col+.table-col {
	margin-left: 2px;
}

.table-header .table-col {
	background: #253a73;
}

.name-col {
	width: 344px;
}

.orbital-slot-col {
	width: 117px;
}

.region-col {
	width: 106px;
}

.favorites-col,
.selected-col {
	text-align: center;
	width: 75px;
}

.favorites-col img,
.selected-col img {
	vertical-align: top;
	background: red;
	height: 16px;
	width: 16px;
}

.table-row.favorite .favorites-col img {
	background: green;
}

.table-row.selected .selected-col img {
	background: green;
}

.hover {
	background: rgba(0, 0, 0, 0.75);
	bottom: 0;
	display: none;
	left: 0;
	padding: 10px;
	position: absolute;
	text-align: center;
	right: 0;
	top: 0;
}

.table-row:hover .hover,
.table-row:focus .hover {
	display: block;
}

.sort-btn {
	cursor: pointer;
}

.sort-btn:hover {

}

#satellite-editor {
	display: none;
}