.view .back-btn {
	margin-bottom: 30px;
}

.view h1 {
	margin-top: 30px;
}

.view .text-wall .on-off-btn {
	margin-bottom: 2em;
}

.settings-view {
	position: relative;
	width: 100%;
	margin-bottom: 5em;
}

/*
.settings-view:not(.is-active),
.edit-settings-view:not(.is-active) {
	display: none;
}
*/

.settings-view .setting label {
	color: #cbcaca;
	padding-right: 10px;
	position: absolute;
	text-align: right;
	right: 50%;
}

.settings-view .setting span,
.settings-view .setting input,
.settings-view .setting a {
	display: block;
	left: 50%;
	margin-left: 50%;
	min-height: 1.6em;	/* magic number, .text-wall */
	padding-left: 10px;
}

.settings-view .btn:not(.close-btn) {
	float: right;
	margin-top: 1em;
}

@media screen and (min-width: 880px) {
	.popup,
	.dropdown {
		background: rgba(0,0,0,.2);
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 4;
	}

	.popup .popup-content,
	.dropdown .dropdown-content {
		background: #041229;
		box-shadow: 0 0 50px #000;
		display: block;
		position: absolute;
	}

	.popup .popup-content {
		height: 600px;
		left: 50%;
		margin: -300px -400px;
		top: 50%;
		width: 800px;
	}

	.dropdown .dropdown-content {
		min-width: 250px;
	}

	.dropdown .dropdown-content .dropdown-option {
		border-bottom: 1px solid #466ab2;
		display: block;
	}

	.dropdown .dropdown-content .dropdown-option label {
		padding-left: 44px;
		text-align: left;
	}

	.dropdown .dropdown-content .dropdown-option img {
		background-image: url(/images/check-mark.png);
		right: auto;
	}

	.dropdown .dropdown-content .dropdown-option.is-selected img {
		display: block;
	}

	.popup .popup-header,
	.dropdown .dropdown-header {
		background: #000;
		border-bottom: 1px solid #466ab2;
		position: relative;
	}

	.popup .popup-header {
		margin-bottom: 1em;
	}

	.popup .popup-header .close-btn {
		background: transparent;
		display: block;
		height: 100%;
		min-width: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 45px;
	}

	.popup .popup-header .close-btn img {
		display: block;
		height: 100%;
		width: 100%;
		background-image: url(/images/close-btn.png);
	}

	.popup .popup-header .close-btn:hover img {
		background-image: url(/images/close-btn-hover.png);
	}

	.edit-settings-view .btns {
		bottom: 0;
		position: relative;
		width: 100%;
	}

	.edit-settings-view .btns .btn {
		float: right;
		margin: 1em 1em 1em 0;
	}
}

.popup {
	display: none;
}

body.is-showing-splash .menu,
/**/
body.is-showing-menu .menu,
/**/
body.is-showing-general-settings .menu,
body.is-showing-general-settings .general-settings-view,
/**/
body.is-showing-advanced-settings .menu,
body.is-showing-advanced-settings .advanced-settings-view,
/**/
body.is-showing-network-settings .menu,
body.is-showing-network-settings .network-settings-view,
/**/
body.is-showing-ethernet-settings .menu,
body.is-showing-ethernet-settings .network-settings-view,
body.is-showing-ethernet-settings .ethernet-settings-view,
/**/
body.is-showing-wireless-settings .menu,
body.is-showing-wireless-settings .network-settings-view,
body.is-showing-wireless-settings .wireless-settings-view {
	display: block;
}

.ethernet-settings-view .static-view {
	display: none;
}

.ethernet-settings-view.is-showing-static-mode .static-view {
	display: block;
}


@media screen and (max-width: 880px) {
	body.is-showing-general-settings .menu,
	body.is-showing-advanced-settings .menu,
	body.is-showing-network-settings .menu,
	body.is-showing-ethernet-settings .menu,
	body.is-showing-wireless-settings .menu {
		display: none;
	}
}