@import url(reset.css);
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor: inherit;
  font-size-adjust: 0.55;
  text-rendering: optimizeLegibility;
  user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important; }
div{user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important; }
input {
  user-select: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text; }

html {
  background: #04122a url(/images/gradient.png) no-repeat;
  height: 100%;
  width: 100%;background-size:100% 100%;  }
  @media screen and (max-width: 880px) {
    html {
      background-position: top center; } }
  @media screen and (min-width: 881px) {
    html {
      background-position: top left calc(50% + 120px); } }

body {
  color: #fff;
  cursor: default;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  height: 100%;
  line-height: 1;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit; }

.header {
  background-color: transparent;
  background-image: url(/images/header.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 4; }
  .header .tracvision-logo {
    background-color: transparent;
    background-image: url(/images/tracvision-logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% auto;
    height: 100%;
    margin: auto;
    width: 150px;
    cursor: pointer; }
  .header .status-btn {
    cursor: pointer;
    font-size: 13px;
    height: 100%;
    text-align: center;
    width: 50px;
    float: left; }
    .header .status-btn .status-light {
      text-shadow: 0 1px #000;
      background-color: #4c5269;
      display: inline-block;
      font-size: 8.25px;
      height: 22px;
      line-height: 23px;
      margin: 7px 3px 4px 0;
      text-align: center;
      vertical-align: top;
      width: 10px; }
      .header .status-btn .status-light.\$green {
        background-color: #acd038; }
      .header .status-btn .status-light.\$orange {
        background-color: #e76d24; }
      .header .status-btn .status-light.\$red {
        background-color: #c51313; }
      .header .status-btn .status-light.\$off {
        background-color: #4c5269; }
  .header .nav-btn {
    cursor: pointer;
    font-size: 13px;
    height: 100%;
    text-align: center;
    width: 50px;
    float: right; }
    @media screen and (min-width: 881px) {
      .header .nav-btn {
        display: none; } }
    .header .nav-btn .nav-light {
      background-color: #fff;
      display: inline-block;
      height: 10px;
      margin: 7px 3px 2px 0;
      width: 10px; }
    .header .nav-btn .nav-light:nth-child(n+3) {
      margin-top: 0; }

.status {
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 4;
  height: 0;
  overflow: hidden;
  transition: height .3s; }
  .status.\$expanded {
    height: 100%; }
  .status .status-label {
    background-color: #000;
    line-height: 1.4;
    padding: 1em; }
  .status .status-label + .status-label {
    padding-top: 0; }
  .status .\$green {
    color: #acd038; }
  .status .\$orange {
    color: #e76d24; }
  .status .\$red {
    color: #c51313; }

@media screen and (max-width: 880px) {
  .nav {
    height: 0;
    overflow: hidden;
    padding-bottom: 0%;
    position: fixed;
    top: 50px;
    transition: height .3s;
    width: 100%;
    z-index: 3; }
    .nav:after {
      content: "";
      display: table;
      clear: both; }
    .nav.\$expanded {
      height: 100%; }
    .nav .home-btn {
      background-color: #000;
      background-image: url(/images/home-icon-white.svg);
      background-repeat: no-repeat;
      background-position: 50% 35%;
      background-size: 42.85714% auto;
      cursor: pointer;
      display: block;
      float: left;
      padding: 22% 0 5%;
      text-align: center;
      width: 33%; }
      .nav .home-btn:nth-child(3n + 2) {
        width: 34%; }
    .nav .sat-btn {
      background-color: #000;
      background-image: url(/images/sat-icon-white.svg);
      background-repeat: no-repeat;
      background-position: 50% 35%;
      background-size: 39.28571% auto;
      cursor: pointer;
      display: block;
      float: left;
      padding: 22% 0 5%;
      text-align: center;
      width: 33%; }
      .nav .sat-btn:nth-child(3n + 2) {
        width: 34%; }
    .nav .autoswitch-btn {
      background-color: #000;
      background-image: url(/images/autoswitch-icon-white.svg);
      background-repeat: no-repeat;
      background-position: 50% 35%;
      background-size: 36.90476% auto;
      cursor: pointer;
      display: block;
      float: left;
      padding: 22% 0 5%;
      text-align: center;
      width: 33%; }
      .nav .autoswitch-btn:nth-child(3n + 2) {
        width: 34%; }
    .nav .settings-btn {
      background-color: #000;
      background-image: url(/images/settings-icon-white.svg);
      background-repeat: no-repeat;
      background-position: 50% 35%;
      background-size: 40.47619% auto;
      cursor: pointer;
      display: block;
      float: left;
      padding: 22% 0 5%;
      text-align: center;
      width: 33%; }
      .nav .settings-btn:nth-child(3n + 2) {
        width: 34%; }
    .nav .updates-btn {
      background-color: #000;
      background-image: url(/images/updates-icon-white.svg);
      background-repeat: no-repeat;
      background-position: 50% 35%;
      background-size: 45.2381% auto;
      cursor: pointer;
      display: block;
      float: left;
      padding: 22% 0 5%;
      text-align: center;
      width: 33%; }
      .nav .updates-btn:nth-child(3n + 2) {
        width: 34%; }
    .nav .support-btn {
      background-color: #000;
      background-image: url(/images/support-icon-white.svg);
      background-repeat: no-repeat;
      background-position: 50% 35%;
      background-size: 30.95238% auto;
      cursor: pointer;
      display: block;
      float: left;
      padding: 22% 0 5%;
      text-align: center;
      width: 33%; }
      .nav .support-btn:nth-child(3n + 2) {
        width: 34%; }
    .nav .satfinder-btn {
      background-color: #000;
      background-image: url(/images/satfinder-icon-white.svg);
      background-repeat: no-repeat;
      background-position: 50% 35%;
      background-size: 50% auto;
      cursor: pointer;
      display: block;
      float: left;
      padding: 22% 0 5%;
      text-align: center;
      width: 33%;
      width: 100%;
      padding: 10% 0;
      background-position: 10.5% 50%;
      background-size: 15% auto; }
      .nav .satfinder-btn:nth-child(3n + 2) {
        width: 34%; } }
@media screen and (min-width: 881px) {
  .nav {
    background: #000;
    height: 45px;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 3; }
    .nav .home-btn {
      background: transparent url(/images/home-icon-grey.svg) no-repeat left 10px center/17px 21px;
      color: #bac7da;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      padding: 16px 15px 0 37px;
      background-position: left 20px center;
      padding-left: 47px; }
      .nav .home-btn:hover, .nav .home-btn.\$selected {
        background-image: url(/images/home-icon-white.svg);
        color: #fff; }
    .nav .sat-btn {
      background: transparent url(/images/sat-icon-grey.svg) no-repeat left 10px center/18px 21px;
      color: #bac7da;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      padding: 16px 15px 0 38px; }
      .nav .sat-btn:hover, .nav .sat-btn.\$selected {
        background-image: url(/images/sat-icon-white.svg);
        color: #fff; }
    .nav .autoswitch-btn {
      background: transparent url(/images/autoswitch-icon-grey.svg) no-repeat left 10px center/19px 21px;
      color: #bac7da;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      padding: 16px 15px 0 39px; }
      .nav .autoswitch-btn:hover, .nav .autoswitch-btn.\$selected {
        background-image: url(/images/autoswitch-icon-white.svg);
        color: #fff; }
    .nav .settings-btn {
      background: transparent url(/images/settings-icon-grey.svg) no-repeat left 10px center/17px 21px;
      color: #bac7da;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      padding: 16px 15px 0 37px; }
      .nav .settings-btn:hover, .nav .settings-btn.\$selected {
        background-image: url(/images/settings-icon-white.svg);
        color: #fff; }
    .nav .updates-btn {
      background: transparent url(/images/updates-icon-grey.svg) no-repeat left 10px center/19px 21px;
      color: #bac7da;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      padding: 16px 15px 0 39px; }
      .nav .updates-btn:hover, .nav .updates-btn.\$selected {
        background-image: url(/images/updates-icon-white.svg);
        color: #fff; }
    .nav .support-btn {
      background: transparent url(/images/support-icon-grey.svg) no-repeat left 10px center/13px 21px;
      color: #bac7da;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      padding: 16px 15px 0 33px; }
      .nav .support-btn:hover, .nav .support-btn.\$selected {
        background-image: url(/images/support-icon-white.svg);
        color: #fff; }
    .nav .satfinder-btn {
      background: transparent url(/images/satfinder-icon-grey.svg) no-repeat left 10px center/21px 21px;
      color: #bac7da;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      padding: 16px 15px 0 41px; }
      .nav .satfinder-btn:hover, .nav .satfinder-btn.\$selected {
        background-image: url(/images/satfinder-icon-white.svg);
        color: #fff; } }
.nav .satfinder-btn:not(.\$available) {
  display: none; }

.sidebar,
.view,
.spin-view,
.popup,
.dropdown {
  display: none; }

@media screen and (min-width: 881px) {
  .sidebar {
    background: #000;
    bottom: 0;
    left: 0;
    position: absolute;
    right: auto;
    top: 95px;
    width: 240px; } }
@media screen and (max-width: 880px) {
  .sidebar {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 96px;
    top: 50px; }
    .sidebar .view-head, .sidebar .spin-view-head {
      background-color: #000;
      border-bottom: 1px solid #4f7abd;
      font-size: 21px;
      left: 0;
      line-height: 46px;
      margin: 0 0 46px;
      position: fixed;
      right: 0;
      text-align: center;
      top: 50px;
      z-index: 2; }
    .sidebar .back-btn {
      background-image: url(/images/prev-icon-blue.svg);
      background-position: left 10px center;
      background-repeat: no-repeat;
      background-size: 21px 21px;
      min-height: 21px;
      min-width: 21px;
      cursor: pointer;
      display: block;
      height: 46px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .sidebar .btn-tray {
      background-color: #000;
      bottom: 0;
      padding: 10px;
      position: fixed;
      left: 0;
      right: 0;
      height: 60px; } }
.sidebar .sidebar-chunk {
  border-bottom: 1px solid #4f7abd;
  padding: 16px;
  position: relative; }
  .sidebar .sidebar-chunk .label + .label {
    margin-top: 10px; }
  .sidebar .sidebar-chunk .sidebar-chunk-head {
    color: #bac7da;
    padding-bottom: inherit; }
.sidebar .master-chunk .label {
  background-image: url(/images/autoswitch-icon-white.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 21px 21px;
  min-height: 21px;
  min-width: 21px;
  padding: 4px 30px 0;
  margin-top: -6px;
  margin-bottom: 4px; }
.sidebar .master-chunk .master-btn {
  bottom: 0;
  display: inline-block;
  font-size: 13px;
  padding: 6px 10px;
  position: absolute;
  right: 0;
  width: auto; }
.sidebar .sat-status {
  bottom: 16px;
  position: absolute; }
.sidebar .sat-signal {
  background-color: transparent;
  background-image: url(/images/sat-signal-0.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 60px auto;
  height: 60px;
  margin-top: -16px;
  width: 100%; }
  .sidebar .sat-signal.\$0 {
    background-image: url(/images/sat-signal-0.svg); }
  .sidebar .sat-signal.\$1 {
    background-image: url(/images/sat-signal-1.svg); }
  .sidebar .sat-signal.\$2 {
    background-image: url(/images/sat-signal-2.svg); }
  .sidebar .sat-signal.\$3 {
    background-image: url(/images/sat-signal-3.svg); }
  .sidebar .sat-signal.\$4 {
    background-image: url(/images/sat-signal-4.svg); }
  .sidebar .sat-signal.\$5 {
    background-image: url(/images/sat-signal-5.svg); }

@media screen and (min-width: 881px) {
  .view, .spin-view {
    bottom: 0;
    left: 240px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 95px;
    max-width: 800px; } }
  @media screen and (min-width: 881px) and (min-width: 880px) and (max-width: 1100px) {
    .view, .spin-view {
      max-width: 600px; } }
@media screen and (min-width: 881px) {
    .view .view-head, .view .spin-view-head, .spin-view .view-head, .spin-view .spin-view-head {
      font-size: 21px;
      margin: 30px 0;
      text-align: center; }
    .view .back-btn, .spin-view .back-btn {
      display: none; }
    .view .btn-tray, .spin-view .btn-tray {
      border-top: 1px solid #4f7abd;
      display: inline-block;
      padding: 30px 0 30px;
      width: 100%; }
      .view .btn-tray .block-btn, .spin-view .btn-tray .block-btn {
        float: right;
        margin-left: 15px;
        min-width: 130px;
        text-align: center; } }
@media screen and (max-width: 880px) {
  .view, .spin-view {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 96px; }
    .view .view-head, .view .spin-view-head, .spin-view .view-head, .spin-view .spin-view-head {
      background-color: #000;
      border-bottom: 1px solid #4f7abd;
      font-size: 21px;
      left: 0;
      line-height: 46px;
      margin: 0 0 46px;
      position: fixed;
      right: 0;
      text-align: center;
      top: 50px;
      z-index: 2; }
    .view .back-btn, .spin-view .back-btn {
      background-image: url(/images/prev-icon-blue.svg);
      background-position: left 10px center;
      background-repeat: no-repeat;
      background-size: 21px 21px;
      min-height: 21px;
      min-width: 21px;
      cursor: pointer;
      display: block;
      height: 46px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .view .btn-tray, .spin-view .btn-tray {
      background-color: #000;
      bottom: 0;
      padding: 10px;
      position: fixed;
      left: 0;
      right: 0;
      height: 60px; } }

@media screen and (min-width: 881px) {
  .popup {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 6; }
    .popup .popup-guts,
    .popup .dropdown-guts {
      background-color: #101f30;
      box-shadow: 0 0 100px #000;
      display: block;
      height: 600px;
      left: 50%;
      margin: -300px -400px;
      padding-top: 46px;
      position: absolute;
      top: 50%;
      width: 800px; }
    .popup .view-head, .popup .spin-view-head {
      background-color: #000;
      border-bottom: 1px solid #4f7abd;
      font-size: 21px;
      left: 0;
      line-height: 46px;
      margin: 0 0 46px;
      position: fixed;
      right: 0;
      text-align: center;
      top: 50px;
      z-index: 2;
      position: absolute;
      top: 0; }
    .popup .back-btn {
      background-image: url(/images/x-icon-blue.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 21px 21px;
      min-height: 21px;
      min-width: 21px;
      cursor: pointer;
      display: block;
      height: 46px;
      position: absolute;
      right: 0;
      top: 0;
      width: 46px; }
    .popup .btn-tray {
      border-top: 1px solid #4f7abd;
      display: inline-block;
      padding: 30px 0 30px;
      width: 100%;
      border-top: 0;
      position: absolute;
      bottom: 0;
      padding: 30px; }
      .popup .btn-tray .block-btn {
        float: right;
        margin-left: 15px;
        min-width: 130px;
        text-align: center; } }
@media screen and (max-width: 880px) {
  .popup {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 96px; }
    .popup .view-head, .popup .spin-view-head {
      background-color: #000;
      border-bottom: 1px solid #4f7abd;
      font-size: 21px;
      left: 0;
      line-height: 46px;
      margin: 0 0 46px;
      position: fixed;
      right: 0;
      text-align: center;
      top: 50px;
      z-index: 2; }
    .popup .back-btn {
      background-image: url(/images/prev-icon-blue.svg);
      background-position: left 10px center;
      background-repeat: no-repeat;
      background-size: 21px 21px;
      min-height: 21px;
      min-width: 21px;
      cursor: pointer;
      display: block;
      height: 46px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .popup .btn-tray {
      background-color: #000;
      bottom: 0;
      padding: 10px;
      position: fixed;
      left: 0;
      right: 0;
      height: 60px; } }

.dropdown {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 6; }
  .dropdown .popup-guts,
  .dropdown .dropdown-guts {
    background-color: #101f30;
    box-shadow: 0 0 100px #000;
    display: block;
    height: 600px;
    left: 50%;
    margin: -300px -400px;
    padding-top: 46px;
    position: absolute;
    top: 50%;
    width: 800px; }
  .dropdown .view-head, .dropdown .spin-view-head {
    background-color: #000;
    border-bottom: 1px solid #4f7abd;
    font-size: 21px;
    left: 0;
    line-height: 46px;
    margin: 0 0 46px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 50px;
    z-index: 2;
    position: absolute;
    top: 0; }
  .dropdown .back-btn {
    background-image: url(/images/x-icon-blue.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 21px 21px;
    min-height: 21px;
    min-width: 21px;
    cursor: pointer;
    display: block;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    width: 46px; }
  .dropdown .btn-tray {
    border-top: 1px solid #4f7abd;
    display: inline-block;
    padding: 30px 0 30px;
    width: 100%;
    border-top: 0;
    position: absolute;
    bottom: 0;
    padding: 30px; }
    .dropdown .btn-tray .block-btn {
      float: right;
      margin-left: 15px;
      min-width: 130px;
      text-align: center; }
  .dropdown .dropdown-guts {
    height: auto;
    min-height: auto;
    min-width: 280px;
    width: auto;
    margin: 0px 0px; }
  .dropdown .table {
    width: 100%;
    position: relative;
    max-height: calc(400px - 46px);
    overflow: auto; }
    .dropdown .table .table-head {
      display: block;
      width: 100%;
      min-height: 46px;
      border-bottom: 1px solid #4f7abd;
      position: relative;
      vertical-align: middle;
      position: absolute;
      z-index: 1; }
    .dropdown .table .table-row {
      display: block;
      width: 100%;
      min-height: 46px;
      border-bottom: 1px solid #4f7abd;
      position: relative;
      vertical-align: middle; }
    .dropdown .table .table-col {
      display: inline-block;
      height: 100%;
      overflow: hidden;
      padding: 15px;
      vertical-align: middle; }
    .dropdown .table .table-head {
      display: block;
      width: 100%;
      min-height: 46px;
      border-bottom: 1px solid #4f7abd;
      position: relative;
      vertical-align: middle;
      position: absolute;
      z-index: 1;
      background-color: #243774; }
    .dropdown .table .table-row {
      display: block;
      width: 100%;
      min-height: 46px;
      border-bottom: 1px solid #4f7abd;
      position: relative;
      vertical-align: middle;
      background-color: #243774; }
      .dropdown .table .table-row.\$selected {
        background-color: #4f7abd; }
    .dropdown .table .table-col {
      display: inline-block;
      height: 100%;
      overflow: hidden;
      padding: 15px;
      vertical-align: middle; }
  .dropdown .table-col {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    padding: 15px;
    vertical-align: middle; }
  .dropdown .table-row {
    display: block;
    width: 100%;
    min-height: 46px;
    border-bottom: 1px solid #4f7abd;
    position: relative;
    vertical-align: middle;
    cursor: pointer; }
    .dropdown .table-row .dropdown-icon {
      background-image: url(/images/radio-unchecked.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 21px 21px;
      min-height: 21px;
      min-width: 21px;
      display: inline-block;
      padding: 0;
      margin-left: 15px; }
    .dropdown .table-row.\$selected .dropdown-icon {
      background-image: url(/images/radio-checked.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 21px 21px;
      min-height: 21px;
      min-width: 21px; }
  @media screen and (max-width: 880px) {
    .dropdown .dropdown-guts {
      bottom: 0 !important;
      left: 0 !important;
      margin: 0 !important;
      min-width: 0 !important;
      right: 0 !important;
      top: auto !important; } }

.input, .dropdown-btn, .vessel-location .geoloc-view .hem-dropdown-btn,
.vessel-location .coordinates-view .hem-dropdown-btn,
.vessel-location .city-view .hem-dropdown-btn, .vessel-location .geoloc-view .gps-input,
.vessel-location .coordinates-view .gps-input,
.vessel-location .city-view .gps-input {
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: #4c5269;
  border: 1px solid #000;
  color: inherit;
  cursor: text;
  font-family: inherit;
  font-size: 16px;
  font-weight: inherit;
  margin: -7px -11px;
  outline: 0;
  padding: 4px 10px; }

.toggle-btn {
  text-shadow: 0 1px #000;
  cursor: pointer;
  display: inline-block; }
  .toggle-btn .on, .toggle-btn .off {
    float: left;
    padding: 5px 10px;
    text-align: center;
    width: 50%; }
  .toggle-btn.\$on .on, .toggle-btn .off {
    background-color: #4f7abd;
    border: 1px solid #fff; }
  .toggle-btn.\$on .off, .toggle-btn .on {
    border: 1px solid #000;
    background-color: #4c5269; }
  .sidebar-chunk .toggle-btn {
    width: 100%; }

.block-btn {
  text-shadow: 0 1px #000;
  background-color: #4f7abd;
  cursor: pointer;
  display: inline-block;
  padding: 12px 17px;
  text-align: center; }
  .sidebar .block-btn {
    display: block;
    margin: 16px; }

.dropdown-btn, .vessel-location .geoloc-view .hem-dropdown-btn,
.vessel-location .coordinates-view .hem-dropdown-btn,
.vessel-location .city-view .hem-dropdown-btn {
  cursor: pointer;
  min-height: 28px;
  position: relative; }
  .dropdown-btn .dropdown-icon, .vessel-location .geoloc-view .hem-dropdown-btn .dropdown-icon,
  .vessel-location .coordinates-view .hem-dropdown-btn .dropdown-icon,
  .vessel-location .city-view .hem-dropdown-btn .dropdown-icon {
    background-image: url(/images/down-icon-white.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 7px 21px;
    min-height: 7px;
    min-width: 21px;
    background-color: #4f7abd;
    position: absolute;
    top: 0;
    right: 0;
    height: 26px;
    width: 26px; }

.flashing-view {
  z-index: 3; }
  .flashing-view .popup-guts {
    background: #101f30;
    position: fixed;
    text-align: center;
    line-height: 1.6;
    padding: 46px; }
    @media screen and (min-width: 881px) {
      .flashing-view .popup-guts {
        padding-top: 92px;
        width: 400px;
        height: 200px;
        margin-top: -100px;
        margin-left: -200px; } }
    @media screen and (max-width: 880px) {
      .flashing-view .popup-guts {
        height: 100%;
        width: 100%; } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
.popup-spinner, .spinner {
  position: relative;
  overflow: hidden; }
  .popup-spinner:after, .spinner:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background: transparent url(/images/spinner.png) no-repeat center center/50% 50%;
    -moz-animation: spin 1s steps(8) infinite;
    -webkit-animation: spin 1s steps(8) infinite; }

.popup-spinner {
  display: block;
  background-color: #101f30;
  width: 100%;
  height: calc(100% - 46px);
  top: 46px;
  left: 0;
  z-index: 1; }
  @media screen and (min-width: 881px) {
    .popup-spinner {
      position: absolute; }
      .popup-spinner:after {
        background-size: 200px 200px; } }
  @media screen and (max-width: 880px) {
    .popup-spinner {
      position: fixed; }
      .popup-spinner:after {
        background-size: 200px 200px; } }

.menu-table {
  width: 100%;
  position: relative; }
  .menu-table .table-head {
    display: block;
    width: 100%;
    min-height: 46px;
    border-bottom: 1px solid #4f7abd;
    position: relative;
    vertical-align: middle;
    position: absolute;
    z-index: 1; }
  .menu-table .table-row {
    display: block;
    width: 100%;
    min-height: 46px;
    border-bottom: 1px solid #4f7abd;
    position: relative;
    vertical-align: middle; }
  .menu-table .table-col {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    padding: 15px;
    vertical-align: middle; }
  .menu-table .table-head {
    display: block;
    width: 100%;
    min-height: 46px;
    border-bottom: 1px solid #4f7abd;
    position: relative;
    vertical-align: middle;
    position: absolute;
    z-index: 1;
    background-color: #243774; }
  .menu-table .table-row {
    display: block;
    width: 100%;
    min-height: 46px;
    border-bottom: 1px solid #4f7abd;
    position: relative;
    vertical-align: middle;
    background-color: #243774; }
    .menu-table .table-row.\$selected {
      background-color: #4f7abd; }
  .menu-table .table-col {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    padding: 15px;
    vertical-align: middle; }
  .menu-table .table-row {
    cursor: pointer; }
  @media screen and (max-width: 880px) {
    .menu-table .table-row.\$selected {
      background-color: #243774; }
    .menu-table .table-row {
      background-image: url(/images/right-icon-blue.svg);
      background-position: 96% 50%;
      background-repeat: no-repeat;
      background-size: 7px auto;
      min-height: 7px;
      min-width: auto; } }

.label,
.value {
  width: 50%;
  display: inline-block;
  margin-bottom: 15px; }

.label {
  color: #cbcaca;
  text-align: right;
  padding-right: 10px; }

.value {
  padding-left: 10px; }

.password-info-label {
  font-size: .75em; }
  @media screen and (min-width: 881px) {
    .password-info-label {
      position: absolute;
      left: 590px;
      margin-top: -2px; } }
  @media screen and (max-width: 880px) {
    .password-info-label {
      display: block;
      margin-top: 15px;
      margin-left: 0px; } }
  @media screen and (min-width: 440px) and (max-width: 880px) {
    .password-info-label {
      margin-top: 0;
      margin-left: 45%; } }

.edit-btn {
  width: 130px;
  float: right;
  margin-right: calc(50% - 135px);
  margin-bottom: 15px; }

@media screen and (min-width: 881px) {
  .network-settings > .view-head {
    display: none; }
  .network-settings .ethernet-settings:after,
  .network-settings .wireless-settings:after {
    content: "";
    display: table;
    clear: both; } }
@media screen and (max-width: 880px) {
  .network-settings .ethernet-settings:after,
  .network-settings .wireless-settings:after {
    content: "";
    display: table;
    clear: both; }
  .network-settings .ethernet-settings .view-head,
  .network-settings .wireless-settings .view-head {
    background: transparent;
    border: 0;
    left: 0;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: static;
    top: 0;
    font-size: 21px;
    margin: 30px 0;
    text-align: center; } }
.network-settings.\$eth-off .wireless-settings {
  display: none; }

.popup .link {
  width: 40%;
  margin: 30px auto;
  color: #4f7abd;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: underline; }
  @media screen and (max-width: 880px) {
    .popup .link {
      width: 100%;
      line-height: 1.6; } }
.popup .ethernet-settings,
.popup .wireless-settings {
  padding-bottom: 106px; }
.popup.\$eth-static .ethernet-settings .ip-value,
.popup.\$eth-static .ethernet-settings .subnet-value,
.popup.\$eth-static .ethernet-settings .gateway-value,
.popup.\$eth-static .ethernet-settings .broadcast-value {
  display: none; }
.popup.\$eth-dynamic .ethernet-settings .ip-input,
.popup.\$eth-dynamic .ethernet-settings .subnet-input,
.popup.\$eth-dynamic .ethernet-settings .gateway-input,
.popup.\$eth-dynamic .ethernet-settings .broadcast-input {
  display: none; }
.popup.\$wlan-bridged .wireless-settings .value, .popup.\$wlan-end-point .wireless-settings .value, .popup.\$wlan-static .wireless-settings .value {
  display: none; }

.\$eth-off .ethernet-settings .ip-label, .\$eth-off .ethernet-settings .ip-value, .\$eth-off .ethernet-settings .ip-input,
.\$eth-off .ethernet-settings .subnet-label, .\$eth-off .ethernet-settings .subnet-value, .\$eth-off .ethernet-settings .subnet-input,
.\$eth-off .ethernet-settings .gateway-label, .\$eth-off .ethernet-settings .gateway-value, .\$eth-off .ethernet-settings .gateway-input,
.\$eth-off .ethernet-settings .broadcast-label, .\$eth-off .ethernet-settings .broadcast-value, .\$eth-off .ethernet-settings .broadcast-input {
  display: none; }

.\$wlan-off .wireless-settings .network-label, .\$wlan-off .wireless-settings .network-value, .\$wlan-off .wireless-settings .network-dropdown-btn,
.\$wlan-off .wireless-settings .ssid-label, .\$wlan-off .wireless-settings .ssid-value, .\$wlan-off .wireless-settings .ssid-input,
.\$wlan-off .wireless-settings .ip-label, .\$wlan-off .wireless-settings .ip-value, .\$wlan-off .wireless-settings .ip-input,
.\$wlan-off .wireless-settings .subnet-label, .\$wlan-off .wireless-settings .subnet-value, .\$wlan-off .wireless-settings .subnet-input,
.\$wlan-off .wireless-settings .gateway-label, .\$wlan-off .wireless-settings .gateway-value, .\$wlan-off .wireless-settings .gateway-input,
.\$wlan-off .wireless-settings .broadcast-label, .\$wlan-off .wireless-settings .broadcast-value, .\$wlan-off .wireless-settings .broadcast-input,
.\$wlan-off .wireless-settings .security-label, .\$wlan-off .wireless-settings .security-value, .\$wlan-off .wireless-settings .security-dropdown-btn,
.\$wlan-off .wireless-settings .password-label, .\$wlan-off .wireless-settings .password-value, .\$wlan-off .wireless-settings .password-input {
  display: none; }

.\$wlan-bridged .wireless-settings .network-label, .\$wlan-bridged .wireless-settings .network-value, .\$wlan-bridged .wireless-settings .network-dropdown-btn,
.\$wlan-bridged .wireless-settings .gateway-input, .\$wlan-bridged .wireless-settings .broadcast-input, .\$wlan-bridged .wireless-settings .subnet-input,
.\$wlan-end-point .wireless-settings .network-label,
.\$wlan-end-point .wireless-settings .network-value,
.\$wlan-end-point .wireless-settings .network-dropdown-btn,
.\$wlan-end-point .wireless-settings .gateway-input,
.\$wlan-end-point .wireless-settings .broadcast-input,
.\$wlan-end-point .wireless-settings .subnet-input {
  display: none; }
.\$wlan-bridged .wireless-settings .gateway-value, .\$wlan-bridged .wireless-settings .broadcast-value, .\$wlan-bridged .wireless-settings .subnet-value,
.\$wlan-end-point .wireless-settings .gateway-value,
.\$wlan-end-point .wireless-settings .broadcast-value,
.\$wlan-end-point .wireless-settings .subnet-value {
  display: inline-block !important; }

.\$wlan-dynamic .wireless-settings .ip-input,
.\$wlan-dynamic .wireless-settings .subnet-input,
.\$wlan-dynamic .wireless-settings .gateway-input,
.\$wlan-dynamic .wireless-settings .broadcast-input {
  display: none; }

.\$dtv-service .checkswitch-mode {
  display: none; }

.\$not-linear .multiswitch-mode {
  display: none; }

.\$not-tv6 .sidelobe-mode {
  display: none; }

.\$hide-view .nmea-view {
  display: none; }

.\$wlan-sec-off .wireless-settings .password-label, .\$wlan-sec-off .wireless-settings .password-value, .\$wlan-sec-off .wireless-settings .password-input, .\$wlan-sec-off .wireless-settings .password-info-label {
  display: none; }

@media screen and (min-width: 881px) {
  .popup .popup-guts {
    padding-top: 92px; }
  .popup .btn-tray {
    left: 0; } }
@media screen and (max-width: 880px) {
  .popup .popup-guts {
    padding-top: 46px; }
  .popup .label {
    width: 45%; }
  .popup .btn-tray .cancel-btn {
    display: none; }
  .popup .btn-tray .save-btn,
  .popup .btn-tray .reset-btn {
    display: inline-block;
    width: calc(50% - 5px);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-bottom: 0; }
    .popup .btn-tray .save-btn.first,
    .popup .btn-tray .reset-btn.first {
      margin-left: 0; }
    .popup .btn-tray .save-btn.first + .block-btn + .block-btn,
    .popup .btn-tray .reset-btn.first + .block-btn + .block-btn {
      margin-left: 0; } }
.popup .input, .popup .dropdown-btn, .popup .vessel-location .geoloc-view .hem-dropdown-btn, .vessel-location .geoloc-view .popup .hem-dropdown-btn,
.popup .vessel-location .coordinates-view .hem-dropdown-btn,
.vessel-location .coordinates-view .popup .hem-dropdown-btn,
.popup .vessel-location .city-view .hem-dropdown-btn,
.vessel-location .city-view .popup .hem-dropdown-btn, .popup .vessel-location .geoloc-view .gps-input, .vessel-location .geoloc-view .popup .gps-input,
.popup .vessel-location .coordinates-view .gps-input,
.vessel-location .coordinates-view .popup .gps-input,
.popup .vessel-location .city-view .gps-input,
.vessel-location .city-view .popup .gps-input,
.popup .dropdown-btn,
.popup .vessel-location .geoloc-view .hem-dropdown-btn,
.vessel-location .geoloc-view .popup .hem-dropdown-btn,
.popup .vessel-location .coordinates-view .hem-dropdown-btn,
.vessel-location .coordinates-view .popup .hem-dropdown-btn,
.popup .vessel-location .city-view .hem-dropdown-btn,
.vessel-location .city-view .popup .hem-dropdown-btn {
  display: inline-block;
  width: 180px;
  margin-left: 0; }
@media screen and (max-width: 440px) {
  .popup .input, .popup .dropdown-btn, .popup .vessel-location .geoloc-view .hem-dropdown-btn, .vessel-location .geoloc-view .popup .hem-dropdown-btn,
  .popup .vessel-location .coordinates-view .hem-dropdown-btn,
  .vessel-location .coordinates-view .popup .hem-dropdown-btn,
  .popup .vessel-location .city-view .hem-dropdown-btn,
  .vessel-location .city-view .popup .hem-dropdown-btn, .popup .vessel-location .geoloc-view .gps-input, .vessel-location .geoloc-view .popup .gps-input,
  .popup .vessel-location .coordinates-view .gps-input,
  .vessel-location .coordinates-view .popup .gps-input,
  .popup .vessel-location .city-view .gps-input,
  .vessel-location .city-view .popup .gps-input,
  .popup .dropdown-btn,
  .popup .vessel-location .geoloc-view .hem-dropdown-btn,
  .vessel-location .geoloc-view .popup .hem-dropdown-btn,
  .popup .vessel-location .coordinates-view .hem-dropdown-btn,
  .vessel-location .coordinates-view .popup .hem-dropdown-btn,
  .popup .vessel-location .city-view .hem-dropdown-btn,
  .vessel-location .city-view .popup .hem-dropdown-btn,
  .popup .label {
    display: block;
    width: calc(100% - 20px); }
  .popup .label {
    text-align: left;
    margin-top: 25px;
    margin-left: 10px; }
  .popup .mode-label {
    margin-top: 0; }
  .popup .popup-guts {
    padding-left: 20px; } }

.general-settings,
.advanced-settings {
  max-width: 600px; }
  .general-settings .heading,
  .advanced-settings .heading {
    line-height: 1.6; }
  .general-settings p,
  .advanced-settings p {
    color: #cbcaca;
    line-height: 1.6; }
  .general-settings .toggle-btn .on, .general-settings .toggle-btn .off,
  .advanced-settings .toggle-btn .on,
  .advanced-settings .toggle-btn .off {
    margin-top: 16px;
    margin-bottom: 32px;
    padding: 7px 10px;
    min-width: 50px; }
  .general-settings .block-btn,
  .advanced-settings .block-btn {
    margin-top: 16px;
    margin-bottom: 32px; }
  @media screen and (max-width: 880px) {
    .general-settings,
    .advanced-settings {
      padding: 20px; } }

@media screen and (min-width: 881px) {
  .view {
    max-width: 800px;
    min-height: 100px; }
    .view .view-head {
      border-bottom: 1px solid #4f7abd;
      font-size: 26px;
      margin: 0 0 30px 0;
      padding: 20px 0; } }

.headline {
  line-height: 1.6;
  margin-bottom: 15px; }
  @media screen and (min-width: 881px) {
    .headline {
      font-size: 21px; } }
  @media screen and (max-width: 880px) {
    .headline {
      font-size: 16px;
      margin-top: 30px;
      padding: 0 20px; } }
.manual-view{padding-bottom:20px;}
.clear-table {
  /*width: 100%;*/
  position: relative; }
  .clear-table .table-head {
    display: block;
    width: 100%;
    min-height: 46px;
    border-bottom: 1px solid #4f7abd;
    position: relative;
    vertical-align: middle;
    position: absolute;
    z-index: 1; }
  .clear-table .table-row {
    display: block;
    width: 100%;
    min-height: 46px;
    border-bottom: 1px solid #4f7abd;
    position: relative;
    vertical-align: middle; }
  .clear-table .table-col {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    padding: 15px;
    vertical-align: middle; }
  @media screen and (min-width: 881px) {
    .clear-table .table-col {
      font-size: 16px;
      padding: 22.5px; } }
  @media screen and (max-width: 880px) {
    .clear-table {
      margin: 0 20px; }
      .clear-table .table-col {
        font-size: 13px;
        padding: 15px; } }
  .clear-table .table-row {
    cursor: pointer; }
    .clear-table .table-row .install-btn {
      background-image: url(/images/radio-unchecked.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 21px 21px;
      min-height: 21px;
      min-width: 21px;
      display: inline-block;
      padding: 0;
      cursor: pointer; }
    .clear-table .table-row.\$selected .install-btn {
      background-image: url(/images/radio-checked.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 21px 21px;
      min-height: 21px;
      min-width: 21px; }

@media screen and (min-width: 881px) {
  .mobile {
    display: none; } }

@media screen and (max-width: 880px) {
  .desktop {
    display: none; } }

@media screen and (min-width: 881px) {
  .vessel-location .headline {
    margin: 40px 0 30px; } }
.vessel-location .note {
  line-height: 1.5;
  margin-top: 20px;
  font-size: 13px; }
.vessel-location .clear-table .table-row .table-col + .table-col {
  width: calc(100% - 21px); }

.vessel-location .nmea-view {
  border-bottom: 2px solid #4f7abd;
  padding-bottom: 40px; }
.vessel-location .block-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 75px;
  min-width: 75px;
  display: block;
user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}
  @media screen and (max-width: 880px) {
    .vessel-location .block-btn {
     /* max-width: initial;*/
      min-width: initial; } }
.vessel-location p {
  color: #ff0000;
  line-height: 1.6;
  margin-bottom: 20px; }
.vessel-location .toggle-btn {
  margin-bottom: 20px; }
.vessel-location .geoloc-view,
.vessel-location .coordinates-view,
.vessel-location .city-view {
  line-height: 1.4; }
  .vessel-location .geoloc-view .label,
  .vessel-location .coordinates-view .label,
  .vessel-location .city-view .label {
    display: inline-block;
    margin-top: 5px;
    color: #fff;
    text-align: left;
    width: initial;
    margin-bottom: initial; }
    @media screen and (max-width: 400px) {
      .vessel-location .geoloc-view .label,
      .vessel-location .coordinates-view .label,
      .vessel-location .city-view .label {
        display: block;
        margin-top: 10px; } }
    @media screen and (min-width: 401px) {
      .vessel-location .geoloc-view .label,
      .vessel-location .coordinates-view .label,
      .vessel-location .city-view .label {
        min-width: 90px; } }
  .vessel-location .geoloc-view .geoloc-label,
  .vessel-location .geoloc-view .coordinates-label,
  .vessel-location .coordinates-view .geoloc-label,
  .vessel-location .coordinates-view .coordinates-label,
  .vessel-location .city-view .geoloc-label,
  .vessel-location .city-view .coordinates-label {
    margin-top: 10px; }
    @media screen and (min-width: 401px) {
      .vessel-location .geoloc-view .geoloc-label,
      .vessel-location .geoloc-view .coordinates-label,
      .vessel-location .coordinates-view .geoloc-label,
      .vessel-location .coordinates-view .coordinates-label,
      .vessel-location .city-view .geoloc-label,
      .vessel-location .city-view .coordinates-label {
        display: block; } }
  .vessel-location .geoloc-view .city-label,
  .vessel-location .coordinates-view .city-label,
  .vessel-location .city-view .city-label {
    margin-top: 0; }
  .vessel-location .geoloc-view .input, .vessel-location .geoloc-view .dropdown-btn, .vessel-location .geoloc-view .hem-dropdown-btn, .vessel-location .geoloc-view .gps-input,
  .vessel-location .coordinates-view .input,
  .vessel-location .coordinates-view .dropdown-btn,
  .vessel-location .coordinates-view .hem-dropdown-btn,
  .vessel-location .coordinates-view .gps-input,
  .vessel-location .city-view .input,
  .vessel-location .city-view .dropdown-btn,
  .vessel-location .city-view .hem-dropdown-btn,
  .vessel-location .city-view .gps-input {
    margin: -2px 0 0;
    min-width: 200px;
    font-size: 13px; }
  .vessel-location .geoloc-view .gps-input,
  .vessel-location .coordinates-view .gps-input,
  .vessel-location .city-view .gps-input {
    min-width: 75px;
    width: 75px;
    min-height: 28px;
    text-align: center; }
  .vessel-location .geoloc-view .dropdown-btn, .vessel-location .geoloc-view .hem-dropdown-btn,
  .vessel-location .coordinates-view .dropdown-btn,
  .vessel-location .coordinates-view .hem-dropdown-btn,
  .vessel-location .city-view .dropdown-btn,
  .vessel-location .city-view .hem-dropdown-btn {
    display: inline-block;
    margin-bottom: -5px;
    margin-left: 10px;
    min-height: 28px;
    min-width: 200px; }
    @media screen and (max-width: 540px) {
      .vessel-location .geoloc-view .dropdown-btn, .vessel-location .geoloc-view .hem-dropdown-btn,
      .vessel-location .coordinates-view .dropdown-btn,
      .vessel-location .coordinates-view .hem-dropdown-btn,
      .vessel-location .city-view .dropdown-btn,
      .vessel-location .city-view .hem-dropdown-btn {
        display: block;
        margin: 10px 0 0; } }
  .vessel-location .geoloc-view .hem-dropdown-btn,
  .vessel-location .coordinates-view .hem-dropdown-btn,
  .vessel-location .city-view .hem-dropdown-btn {
    min-width: 54px;
    margin-bottom: -9px; }
    @media screen and (max-width: 540px) {
      .vessel-location .geoloc-view .hem-dropdown-btn,
      .vessel-location .coordinates-view .hem-dropdown-btn,
      .vessel-location .city-view .hem-dropdown-btn {
        display: inline-block; } }

.\/spinner .\#spinner-view {
  display: block; }

.spinner {
  width: 200px;
  height: 200px;
  margin: 30px auto;
  display: block; }

.advanced-settings .input, .advanced-settings .dropdown-btn, .advanced-settings .vessel-location .geoloc-view .hem-dropdown-btn, .vessel-location .geoloc-view .advanced-settings .hem-dropdown-btn,
.advanced-settings .vessel-location .coordinates-view .hem-dropdown-btn,
.vessel-location .coordinates-view .advanced-settings .hem-dropdown-btn,
.advanced-settings .vessel-location .city-view .hem-dropdown-btn,
.vessel-location .city-view .advanced-settings .hem-dropdown-btn, .advanced-settings .vessel-location .geoloc-view .gps-input, .vessel-location .geoloc-view .advanced-settings .gps-input,
.advanced-settings .vessel-location .coordinates-view .gps-input,
.vessel-location .coordinates-view .advanced-settings .gps-input,
.advanced-settings .vessel-location .city-view .gps-input,
.vessel-location .city-view .advanced-settings .gps-input {
  height: 40px;
  display: inline-block;
  width: calc(100% - 140px);
  margin: 0.5em 0 2em;
  vertical-align: top; }
.advanced-settings .block-btn {
  min-width: 130px;
  display: inline-block;
  float: right;
  margin-top: 0.5em; }

@media screen and (max-width: 880px) {
  body[class=''] .sidebar,
  .\/general .\#general-settings-view,
  .\/vessel-location .\#vessel-location-view,
  .\/advanced .\#advanced-settings-view,
  .\/network .\#network-settings-view,
  .\/network\/ethernet .\#ethernet-settings-view,
  .\/network\/wireless .\#wireless-settings-view {
    display: block; } }
@media screen and (min-width: 881px) {
  .sidebar,
  body[class=''] .\#general-settings-view,
  .\/general .\#general-settings-view,
  .\/vessel-location .\#vessel-location-view,
  .\/advanced .\#advanced-settings-view,
  .\/network .\#network-settings-view,
  .\/network\/ethernet .\#ethernet-settings-view,
  .\/network\/wireless .\#wireless-settings-view {
    display: block; }

  .\/network\/ethernet .\#network-settings-view,
  .\/network\/wireless .\#network-settings-view {
    display: block; }

  .\/network\/ethernet,
  .\/network\/wireless {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 600px; } }

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
