@import url(reset.css);
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor: inherit;
  font-size-adjust: 0.55;
  text-rendering: optimizeLegibility;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

html {
  background: #04122a url(/images/gradient.png) no-repeat;
  height: 100%;
  width: 100%; }
  @media screen and (max-width: 880px) {
    html {
      background-position: top center; } }
  @media screen and (min-width: 881px) {
    html {
      background-position: top left calc(50% + 120px); } }

body {
  color: #fff;
  cursor: default;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  height: 100%;
  line-height: 1;
  width: 100%; }

a {
  color: inherit;
  text-decoration: inherit; }

.header {
  background: transparent url(/images/header.png) no-repeat center/100%;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 4; }
  .header .tracvision-logo {
    background: transparent url(/images/tracvision-logo.svg) no-repeat center/90%;
    height: 100%;
    margin: auto;
    width: 150px;
    cursor: pointer; }
  .header .status-btn {
    cursor: pointer;
    font-size: 13px;
    height: 100%;
    text-align: center;
    width: 50px;
    float: left; }
    .header .status-btn .status-light {
      text-shadow: 0 1px #000;
      background-color: #4c5269;
      display: inline-block;
      font-size: 8.25px;
      height: 22px;
      line-height: 23px;
      margin: 7px 3px 4px 0;
      text-align: center;
      vertical-align: top;
      width: 10px; }
      .header .status-btn .status-light.\$green {
        background-color: #acd038; }
      .header .status-btn .status-light.\$orange {
        background-color: #e76d24; }
      .header .status-btn .status-light.\$red {
        background-color: #c51313; }
      .header .status-btn .status-light.\$off {
        background-color: #4c5269; }
  .header .nav-btn {
    cursor: pointer;
    font-size: 13px;
    height: 100%;
    text-align: center;
    width: 50px;
    float: right; }
    @media screen and (min-width: 881px) {
      .header .nav-btn {
        display: none; } }
    .header .nav-btn .nav-light {
      background-color: #fff;
      display: inline-block;
      height: 10px;
      margin: 7px 3px 2px 0;
      width: 10px; }
    .header .nav-btn .nav-light:nth-child(n+3) {
      margin-top: 0; }

.status {
  background-color: #000;
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 4;
  padding: 15px 20px;
  display: none;
  line-height: 1.4; }
  .status.\$expanded {
    display: block; }
  .status .status-label + .status-label {
    margin-top: .7em; }
  .status .antenna-status,
  .status .power-status,
  .status .acu-status {
    color: #cbcaca; }
    .status .antenna-status.\$green,
    .status .power-status.\$green,
    .status .acu-status.\$green {
      color: #acd038; }
    .status .antenna-status.\$orange,
    .status .power-status.\$orange,
    .status .acu-status.\$orange {
      color: #e76d24; }
    .status .antenna-status.\$red,
    .status .power-status.\$red,
    .status .acu-status.\$red {
      color: #c51313; }

@media screen and (max-width: 880px) {
  .nav {
    background-color: #000;
    height: 0;
    overflow: hidden;
    padding-bottom: 0%;
    position: fixed;
    top: 50px;
    transition: padding .3s;
    width: 100%;
    z-index: 3; }
    .nav.\$expanded {
      padding-bottom: 66%; }
    .nav .home-btn {
      background: transparent url(/images/home-icon-white.svg) no-repeat top 35% center/40.47619%;
      cursor: pointer;
      display: inline-block;
      margin-left: 1%;
      overflow: hidden;
      padding: 22% 0 6%;
      text-align: center;
      width: 32%; }
    .nav .sat-btn {
      background: transparent url(/images/sat-icon-white.svg) no-repeat top 35% center/42.85714%;
      cursor: pointer;
      display: inline-block;
      margin-left: 1%;
      overflow: hidden;
      padding: 22% 0 6%;
      text-align: center;
      width: 32%; }
    .nav .autoswitch-btn {
      background: transparent url(/images/autoswitch-icon-white.svg) no-repeat top 35% center/45.2381%;
      cursor: pointer;
      display: inline-block;
      margin-left: 1%;
      overflow: hidden;
      padding: 22% 0 6%;
      text-align: center;
      width: 32%; }
    .nav .settings-btn {
      background: transparent url(/images/settings-icon-white.svg) no-repeat top 35% center/40.47619%;
      cursor: pointer;
      display: inline-block;
      margin-left: 1%;
      overflow: hidden;
      padding: 22% 0 6%;
      text-align: center;
      width: 32%; }
    .nav .updates-btn {
      background: transparent url(/images/updates-icon-white.svg) no-repeat top 35% center/45.2381%;
      cursor: pointer;
      display: inline-block;
      margin-left: 1%;
      overflow: hidden;
      padding: 22% 0 6%;
      text-align: center;
      width: 32%; }
    .nav .support-btn {
      background: transparent url(/images/support-icon-white.svg) no-repeat top 35% center/30.95238%;
      cursor: pointer;
      display: inline-block;
      margin-left: 1%;
      overflow: hidden;
      padding: 22% 0 6%;
      text-align: center;
      width: 32%; } }
@media screen and (min-width: 881px) {
  .nav {
    background: #000;
    height: 45px;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 3; }
    .nav .home-btn {
      background: transparent url(/images/home-icon-grey.svg) no-repeat left 10px center/17px 21px;
      color: #bac7da;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      padding: 16px 15px 0 37px;
      background-position: left 20px center;
      padding-left: 47px; }
      .nav .home-btn:hover, .nav .home-btn.\$selected {
        background-image: url(/images/home-icon-white.svg);
        color: #fff; }
    .nav .sat-btn {
      background: transparent url(/images/sat-icon-grey.svg) no-repeat left 10px center/18px 21px;
      color: #bac7da;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      padding: 16px 15px 0 38px; }
      .nav .sat-btn:hover, .nav .sat-btn.\$selected {
        background-image: url(/images/sat-icon-white.svg);
        color: #fff; }
    .nav .autoswitch-btn {
      background: transparent url(/images/autoswitch-icon-grey.svg) no-repeat left 10px center/19px 21px;
      color: #bac7da;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      padding: 16px 15px 0 39px; }
      .nav .autoswitch-btn:hover, .nav .autoswitch-btn.\$selected {
        background-image: url(/images/autoswitch-icon-white.svg);
        color: #fff; }
    .nav .settings-btn {
      background: transparent url(/images/settings-icon-grey.svg) no-repeat left 10px center/17px 21px;
      color: #bac7da;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      padding: 16px 15px 0 37px; }
      .nav .settings-btn:hover, .nav .settings-btn.\$selected {
        background-image: url(/images/settings-icon-white.svg);
        color: #fff; }
    .nav .updates-btn {
      background: transparent url(/images/updates-icon-grey.svg) no-repeat left 10px center/19px 21px;
      color: #bac7da;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      padding: 16px 15px 0 39px; }
      .nav .updates-btn:hover, .nav .updates-btn.\$selected {
        background-image: url(/images/updates-icon-white.svg);
        color: #fff; }
    .nav .support-btn {
      background: transparent url(/images/support-icon-grey.svg) no-repeat left 10px center/13px 21px;
      color: #bac7da;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      padding: 16px 15px 0 33px; }
      .nav .support-btn:hover, .nav .support-btn.\$selected {
        background-image: url(/images/support-icon-white.svg);
        color: #fff; } }

.sidebar,
.view,
.popup,
.dropdown {
  display: none; }

@media screen and (min-width: 881px) {
  .sidebar {
    background: #000;
    bottom: 0;
    left: 0;
    position: absolute;
    right: auto;
    top: 95px;
    width: 240px; } }
@media screen and (max-width: 880px) {
  .sidebar {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 96px;
    top: 50px; }
    .sidebar .view-head {
      background-color: #000;
      border-bottom: 1px solid #4f7abd;
      font-size: 21px;
      left: 0;
      line-height: 46px;
      margin: 0 0 46px;
      position: fixed;
      right: 0;
      text-align: center;
      top: 50px;
      z-index: 2; }
    .sidebar .back-btn {
      background-image: url(/images/prev-icon-blue.svg);
      background-position: left 10px center;
      background-repeat: no-repeat;
      background-size: 21px 21px;
      min-height: 21px;
      min-width: 21px;
      cursor: pointer;
      display: block;
      height: 46px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .sidebar .btn-tray {
      background-color: #000;
      bottom: 0;
      padding: 10px;
      position: fixed;
      left: 0;
      right: 0;
      height: 60px; } }
.sidebar .sidebar-chunk {
  border-bottom: 1px solid #4f7abd;
  padding: 16px;
  position: relative; }
  .sidebar .sidebar-chunk .label + .label {
    margin-top: 10px; }
  .sidebar .sidebar-chunk .sidebar-chunk-head {
    color: #bac7da;
    padding-bottom: inherit; }
.sidebar .master-chunk .label {
  background-image: url(/images/autoswitch-icon-white.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 21px 21px;
  min-height: 21px;
  min-width: 21px;
  padding: 4px 30px 0;
  margin-top: -6px;
  margin-bottom: 4px; }
.sidebar .master-chunk .master-btn {
  bottom: 0;
  display: inline-block;
  font-size: 13px;
  padding: 6px 10px;
  position: absolute;
  right: 0;
  width: auto; }
.sidebar .sat-status {
  bottom: 16px;
  position: absolute; }
.sidebar .sat-signal {
  background: transparent url(/images/sat-signal-0.svg) no-repeat right center/60px;
  height: 60px;
  margin-top: -16px;
  width: 100%; }
  .sidebar .sat-signal.\$0 {
    background-image: url(/images/sat-signal-0.svg); }
  .sidebar .sat-signal.\$1 {
    background-image: url(/images/sat-signal-1.svg); }
  .sidebar .sat-signal.\$2 {
    background-image: url(/images/sat-signal-2.svg); }
  .sidebar .sat-signal.\$3 {
    background-image: url(/images/sat-signal-3.svg); }
  .sidebar .sat-signal.\$4 {
    background-image: url(/images/sat-signal-4.svg); }
  .sidebar .sat-signal.\$5 {
    background-image: url(/images/sat-signal-5.svg); }

@media screen and (min-width: 881px) {
  .view {
    bottom: 0;
    left: 240px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 95px;
    max-width: 800px; } }
  @media screen and (min-width: 881px) and (min-width: 880px) and (max-width: 1100px) {
    .view {
      max-width: 600px; } }
@media screen and (min-width: 881px) {
    .view .view-head {
      font-size: 21px;
      margin: 30px 0;
      text-align: center; }
    .view .back-btn {
      display: none; }
    .view .btn-tray {
      border-top: 1px solid #4f7abd;
      display: inline-block;
      padding: 30px 0 30px;
      width: 100%; }
      .view .btn-tray .block-btn {
        float: right;
        margin-left: 15px;
        min-width: 130px;
        text-align: center; } }
@media screen and (max-width: 880px) {
  .view {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 96px; }
    .view .view-head {
      background-color: #000;
      border-bottom: 1px solid #4f7abd;
      font-size: 21px;
      left: 0;
      line-height: 46px;
      margin: 0 0 46px;
      position: fixed;
      right: 0;
      text-align: center;
      top: 50px;
      z-index: 2; }
    .view .back-btn {
      background-image: url(/images/prev-icon-blue.svg);
      background-position: left 10px center;
      background-repeat: no-repeat;
      background-size: 21px 21px;
      min-height: 21px;
      min-width: 21px;
      cursor: pointer;
      display: block;
      height: 46px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .view .btn-tray {
      background-color: #000;
      bottom: 0;
      padding: 10px;
      position: fixed;
      left: 0;
      right: 0;
      height: 60px; } }

@media screen and (min-width: 881px) {
  .popup {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 6; }
    .popup .popup-guts,
    .popup .dropdown-guts {
      background-color: #101f30;
      box-shadow: 0 0 100px #000;
      display: block;
      height: 600px;
      left: 50%;
      margin: -300px -400px;
      padding-top: 46px;
      position: absolute;
      top: 50%;
      width: 800px; }
    .popup .view-head {
      background-color: #000;
      border-bottom: 1px solid #4f7abd;
      font-size: 21px;
      left: 0;
      line-height: 46px;
      margin: 0 0 46px;
      position: fixed;
      right: 0;
      text-align: center;
      top: 50px;
      z-index: 2;
      position: absolute;
      top: 0; }
    .popup .back-btn {
      background-image: url(/images/x-icon-blue.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 21px 21px;
      min-height: 21px;
      min-width: 21px;
      cursor: pointer;
      display: block;
      height: 46px;
      position: absolute;
      right: 0;
      top: 0;
      width: 46px; }
    .popup .btn-tray {
      border-top: 1px solid #4f7abd;
      display: inline-block;
      padding: 30px 0 30px;
      width: 100%;
      border-top: 0;
      position: absolute;
      bottom: 0;
      padding: 30px; }
      .popup .btn-tray .block-btn {
        float: right;
        margin-left: 15px;
        min-width: 130px;
        text-align: center; } }
@media screen and (max-width: 880px) {
  .popup {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 96px; }
    .popup .view-head {
      background-color: #000;
      border-bottom: 1px solid #4f7abd;
      font-size: 21px;
      left: 0;
      line-height: 46px;
      margin: 0 0 46px;
      position: fixed;
      right: 0;
      text-align: center;
      top: 50px;
      z-index: 2; }
    .popup .back-btn {
      background-image: url(/images/prev-icon-blue.svg);
      background-position: left 10px center;
      background-repeat: no-repeat;
      background-size: 21px 21px;
      min-height: 21px;
      min-width: 21px;
      cursor: pointer;
      display: block;
      height: 46px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .popup .btn-tray {
      background-color: #000;
      bottom: 0;
      padding: 10px;
      position: fixed;
      left: 0;
      right: 0;
      height: 60px; } }

.dropdown {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 6; }
  .dropdown .popup-guts,
  .dropdown .dropdown-guts {
    background-color: #101f30;
    box-shadow: 0 0 100px #000;
    display: block;
    height: 600px;
    left: 50%;
    margin: -300px -400px;
    padding-top: 46px;
    position: absolute;
    top: 50%;
    width: 800px; }
  .dropdown .view-head {
    background-color: #000;
    border-bottom: 1px solid #4f7abd;
    font-size: 21px;
    left: 0;
    line-height: 46px;
    margin: 0 0 46px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 50px;
    z-index: 2;
    position: absolute;
    top: 0; }
  .dropdown .back-btn {
    background-image: url(/images/x-icon-blue.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 21px 21px;
    min-height: 21px;
    min-width: 21px;
    cursor: pointer;
    display: block;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    width: 46px; }
  .dropdown .btn-tray {
    border-top: 1px solid #4f7abd;
    display: inline-block;
    padding: 30px 0 30px;
    width: 100%;
    border-top: 0;
    position: absolute;
    bottom: 0;
    padding: 30px; }
    .dropdown .btn-tray .block-btn {
      float: right;
      margin-left: 15px;
      min-width: 130px;
      text-align: center; }
  .dropdown .dropdown-guts {
    height: auto;
    min-height: auto;
    min-width: 280px;
    width: auto; }
  .dropdown .table {
    width: 100%;
    position: relative; }
    .dropdown .table .table-head {
      display: block;
      width: 100%;
      min-height: 46px;
      border-bottom: 1px solid #4f7abd;
      position: relative;
      vertical-align: middle;
      position: absolute;
      z-index: 1; }
    .dropdown .table .table-row {
      display: block;
      width: 100%;
      min-height: 46px;
      border-bottom: 1px solid #4f7abd;
      position: relative;
      vertical-align: middle; }
    .dropdown .table .table-col {
      display: inline-block;
      height: 100%;
      overflow: hidden;
      padding: 15px;
      vertical-align: middle; }
    .dropdown .table .table-head {
      display: block;
      width: 100%;
      min-height: 46px;
      border-bottom: 1px solid #4f7abd;
      position: relative;
      vertical-align: middle;
      position: absolute;
      z-index: 1;
      background-color: #243774; }
    .dropdown .table .table-row {
      display: block;
      width: 100%;
      min-height: 46px;
      border-bottom: 1px solid #4f7abd;
      position: relative;
      vertical-align: middle;
      background-color: #243774; }
      .dropdown .table .table-row.\$selected {
        background-color: #4f7abd; }
    .dropdown .table .table-col {
      display: inline-block;
      height: 100%;
      overflow: hidden;
      padding: 15px;
      vertical-align: middle; }
  .dropdown .table-col {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    padding: 15px;
    vertical-align: middle; }
  .dropdown .table-row {
    display: block;
    width: 100%;
    min-height: 46px;
    border-bottom: 1px solid #4f7abd;
    position: relative;
    vertical-align: middle;
    cursor: pointer; }
    .dropdown .table-row .dropdown-icon {
      background-image: url(/images/radio-unchecked.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 21px 21px;
      min-height: 21px;
      min-width: 21px;
      display: inline-block;
      padding: 0;
      margin-left: 15px; }
    .dropdown .table-row.\$selected .dropdown-icon {
      background-image: url(/images/radio-checked.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 21px 21px;
      min-height: 21px;
      min-width: 21px; }
  @media screen and (max-width: 880px) {
    .dropdown .dropdown-guts {
      bottom: 0 !important;
      left: 0 !important;
      margin: 0 !important;
      min-width: 0 !important;
      right: 0 !important;
      top: auto !important; } }

.input, .dropdown-btn {
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: #4c5269;
  border: 1px solid #000;
  color: inherit;
  cursor: text;
  font-family: inherit;
  font-size: 16px;
  font-weight: inherit;
  margin: -7px -11px;
  outline: 0;
  padding: 4px 10px; }

.toggle-btn {
  text-shadow: 0 1px #000;
  cursor: pointer;
  display: inline-block; }
  .toggle-btn .on, .toggle-btn .off {
    float: left;
    padding: 5px 10px;
    text-align: center;
    width: 50%; }
  .toggle-btn.\$on .on, .toggle-btn .off {
    background-color: #4f7abd;
    border: 1px solid #fff; }
  .toggle-btn.\$on .off, .toggle-btn .on {
    border: 1px solid #000;
    background-color: #4c5269; }
  .sidebar-chunk .toggle-btn {
    width: 100%; }

.block-btn {
  text-shadow: 0 1px #000;
  background-color: #4f7abd;
  cursor: pointer;
  display: inline-block;
  padding: 12px 17px;
  text-align: center; }
  .sidebar .block-btn {
    display: block;
    margin: 16px; }

.dropdown-btn {
  cursor: pointer;
  min-height: 28px;
  position: relative; }
  .dropdown-btn .dropdown-icon {
    background-image: url(/images/down-icon-white.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 7px 21px;
    min-height: 7px;
    min-width: 21px;
    background-color: #4f7abd;
    position: absolute;
    top: 0;
    right: 0;
    height: 26px;
    width: 26px; }

.flashing-view {
  z-index: 3; }
  .flashing-view .popup-guts {
    background: #101f30;
    position: fixed;
    text-align: center;
    line-height: 1.6;
    padding: 46px; }
    @media screen and (min-width: 881px) {
      .flashing-view .popup-guts {
        padding-top: 92px;
        width: 400px;
        height: 200px;
        margin-top: -100px;
        margin-left: -200px; } }
    @media screen and (max-width: 880px) {
      .flashing-view .popup-guts {
        height: 100%;
        width: 100%; } }

.menu-table {
  width: 100%;
  position: relative; }
  .menu-table .table-head {
    display: block;
    width: 100%;
    min-height: 46px;
    border-bottom: 1px solid #4f7abd;
    position: relative;
    vertical-align: middle;
    position: absolute;
    z-index: 1; }
  .menu-table .table-row {
    display: block;
    width: 100%;
    min-height: 46px;
    border-bottom: 1px solid #4f7abd;
    position: relative;
    vertical-align: middle; }
  .menu-table .table-col {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    padding: 15px;
    vertical-align: middle; }
  .menu-table .table-head {
    display: block;
    width: 100%;
    min-height: 46px;
    border-bottom: 1px solid #4f7abd;
    position: relative;
    vertical-align: middle;
    position: absolute;
    z-index: 1;
    background-color: #243774; }
  .menu-table .table-row {
    display: block;
    width: 100%;
    min-height: 46px;
    border-bottom: 1px solid #4f7abd;
    position: relative;
    vertical-align: middle;
    background-color: #243774; }
    .menu-table .table-row.\$selected {
      background-color: #4f7abd; }
  .menu-table .table-col {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    padding: 15px;
    vertical-align: middle; }
  .menu-table .table-row {
    cursor: pointer; }
  @media screen and (max-width: 880px) {
    .menu-table .table-row.\$selected {
      background-color: #243774; }
    .menu-table .table-row {
      background-image: url(/images/right-icon-blue.svg);
      background-position: right 15px center;
      background-repeat: no-repeat;
      background-size: 7px 21px;
      min-height: 7px;
      min-width: 21px; } }

.contact-header {
  padding: 16px; }

.contact-region {
  color: #bac7da;
  padding: 0 16px; }

@media screen and (min-width: 881px) {
  .system-info > .view-head {
    display: none; } }
@media screen and (max-width: 880px) {
  .system-info .tv-hub .view-head,
  .system-info .antenna-unit .view-head,
  .system-info .sensor .view-head {
    background: transparent;
    border: 0;
    left: 0;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: static;
    top: 0;
    font-size: 21px;
    margin: 30px 0;
    text-align: center; } }
.system-info .label,
.system-info .value {
  width: 50%;
  display: inline-block;
  margin-bottom: 15px; }
.system-info .label {
  color: #cbcaca;
  text-align: right;
  padding-right: 10px; }
.system-info .value {
  padding-left: 10px; }
.system-info .sensor {
  margin-bottom: 30px; }
.system-info .power-label {
  width: 100%;
  text-align: center;
  margin-top: 20px; }

.operational-log p,
.event-log p,
.restart-system p,
.command-line p {
  line-height: 1.6;
  margin-top: 13px;
  margin-bottom: 26px; }
@media screen and (max-width: 880px) {
  .operational-log p,
  .event-log p,
  .restart-system p,
  .command-line p {
    padding: 0 26px; }
  .operational-log .block-btn,
  .event-log .block-btn,
  .restart-system .block-btn,
  .command-line .block-btn {
    display: block;
    margin: 0 auto 13px;
    width: calc(100% - 52px); }
  .operational-log.view,
  .event-log.view,
  .restart-system.view,
  .command-line.view {
    padding-top: 26px; } }

.serial-log pre {
  background-color: #4c5269;
  display: block;
  font-color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 425px;
  line-height: 1.4;
  margin: 30px auto;
  overflow: auto;
  white-space: pre-wrap;
  width: 740px;
  padding: 0.5em; }
@media screen and (max-width: 880px) {
  .serial-log .btn-tray .save-btn {
    display: none; }
  .serial-log .btn-tray .email-btn {
    display: block; }
  .serial-log pre {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-bottom: 60px; } }

.event-log .event-table {
  width: 100%;
  position: relative;
  background-color: #4c5269;
  height: 400px;
  overflow: auto;
  margin-bottom: 30px; }
  .event-log .event-table .table-head {
    display: block;
    width: 100%;
    min-height: 46px;
    border-bottom: 1px solid #4f7abd;
    position: relative;
    vertical-align: middle;
    position: absolute;
    z-index: 1; }
  .event-log .event-table .table-row {
    display: block;
    width: 100%;
    min-height: 46px;
    border-bottom: 1px solid #4f7abd;
    position: relative;
    vertical-align: middle; }
  .event-log .event-table .table-col {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    padding: 15px;
    vertical-align: middle; }
  .event-log .event-table .table-head {
    display: block;
    width: 100%;
    min-height: 46px;
    border-bottom: 1px solid #4f7abd;
    position: relative;
    vertical-align: middle;
    position: absolute;
    z-index: 1;
    background-color: #243774; }
  .event-log .event-table .table-row {
    display: block;
    width: 100%;
    min-height: 46px;
    border-bottom: 1px solid #4f7abd;
    position: relative;
    vertical-align: middle; }
    .event-log .event-table .table-row:nth-child(odd) {
      background-color: #4c5269; }
    .event-log .event-table .table-row:nth-child(even) {
      background-color: #293147; }
  .event-log .event-table .table-col {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    padding: 15px;
    vertical-align: middle; }
  .event-log .event-table .table-head {
    background-color: #243774;
    font-size: 11px;
    min-height: 26px; }
    .event-log .event-table .table-head .table-col {
      padding: 7px 15px; }
  .event-log .event-table .table-row {
    font-size: 13px; }
  .event-log .event-table .table-head + .table-row {
    margin-top: 26px; }
  .event-log .event-table .date-col {
    width: 20%; }
  .event-log .event-table .message-col {
    width: 80%; }
@media screen and (max-width: 880px) {
  .event-log p {
    display: none; }
  .event-log .event-table {
    bottom: 60px;
    height: auto;
    margin-bottom: 0;
    position: absolute;
    top: 0; }
  .event-log .btn-tray .save-btn {
    display: none; }
  .event-log .btn-tray .email-btn {
    width: 100%;
    margin-bottom: 0; } }

@media screen and (max-width: 880px) {
  .restart-system .restart-ant-btn {
    margin-top: 13px; } }

.command-line p {
  background-color: #c51313;
  padding: 13px; }
.command-line iframe {
  background-color: #4c5269;
  width: 100%;
  height: 300px;
  margin-bottom: 26px; }
.command-line .btn-tray .input, .command-line .btn-tray .dropdown-btn {
  height: 40px;
  display: inline-block;
  width: calc(100% - 140px);
  margin: 0;
  vertical-align: top; }
.command-line .btn-tray .block-btn {
  display: inline-block;
  float: right;
  margin-left: 0; }
@media screen and (max-width: 880px) {
  .command-line.view {
    padding-top: 0; }
  .command-line p {
    display: none; }
  .command-line iframe {
    height: calc(100% - 60px);
    margin: 0; }
  .command-line .btn-tray .input, .command-line .btn-tray .dropdown-btn {
    width: calc(100% - 110px); }
  .command-line .btn-tray .block-btn {
    width: 100px;
    margin-bottom: 0; } }

@media screen and (max-width: 880px) {
  .sidebar,
  .\/system-info .\#system-info-view,
  .\/operational-log .\#operational-log-view,
  .\/serial-log .\#serial-log-view,
  .\/event-log .\#event-log-view,
  .\/restart-system .\#restart-system-view,
  .\/command-line .\#command-line-view {
    display: block; }

  .\/system-info .sidebar,
  .\/operational-log .sidebar,
  .\/event-log .sidebar,
  .\/restart-system .sidebar,
  .\/command-line .sidebar {
    display: none; } }
@media screen and (min-width: 881px) {
  .sidebar,
  body[class=''] .\#system-info-view,
  .\/system-info .\#system-info-view,
  .\/operational-log .\#operational-log-view,
  .\/serial-log .\#serial-log-view,
  .\/event-log .\#event-log-view,
  .\/restart-system .\#restart-system-view,
  .\/command-line .\#command-line-view {
    display: block; }

  .\/serial-log .\#operational-log {
    display: block; } }
