@media screen and (max-width: 880px) {
	body.at-splash .menu-view,
	body.at-menu .menu-view,
	body.at-about-the-app .about-the-app-view,
	body.at-about-the-satellites .about-the-satellites-view,
	body.at-technical-definitions .technical-definitions-view,
	body.at-about-blockage .about-blockage-view,
	body.at-diagnostic-log .diagnostic-log-view,
	body.at-restart-system .restart-system-view,
	body.at-event-history .event-history-view,
	body.at-command-line .command-line-view {
		display: block;
	}
}

@media screen and (min-width: 880px) {
	body.at-splash .menu-view,

	body.at-about-the-app .menu-view,
	body.at-about-the-app .about-the-app-view,

	body.at-about-the-satellites .menu-view,
	body.at-about-the-satellites .about-the-satellites-view,

	body.at-technical-definitions .menu-view,
	body.at-technical-definitions .technical-definitions-view,

	body.at-about-blockage .menu-view,
	body.at-about-blockage .about-blockage-view,

	body.at-diagnostic-log .menu-view,
	body.at-diagnostic-log .diagnostic-log-view,

	body.at-restart-system .menu-view,
	body.at-restart-system .restart-system-view,

	body.at-event-history .menu-view,
	body.at-event-history .event-history-view,

	body.at-command-line .menu-view,
	body.at-command-line .command-line-view {
		display: block;
	}
}

.menu-view h2,
.menu-view h3 {
	padding: 0.875em 1.25em;
	text-align: left;
}

.menu-view h3:first-of-type {
	padding-top: 0;
}

.contact-btn {
	display: block;
	margin: 0 20px;
}

.email-btn {
	margin-bottom: 0.875em;
}

.diagnostic-log-view .btn,
.restart-system-view .btn {
	margin-bottom: 0.5em;
}

.events {
	background-color: #1c335d;
	overflow: auto;
	width: 100%;
}

.event {
	background-color: #4c5168;
	padding: 0.875em 1.25em;
}

.event:nth-child(2n) {
	background-color: #3b4154;
}

.event-date-time {
	display: inline-block;
	height: 100%;
}

.event-message {
	display: inline-block;
}

.command-line-output {
	background-color: #1c335d;
	display: block;
	width: 100%;
}


@media screen and (min-width: 880px) {
	.event-history-content {
		max-width: 800px;
	}

	.events {
		height: 400px;		
		margin-bottom: 2em;
	}

	.tool-bar .basic-btn {
		margin-right: 1em;
	}

	.command-line-output {
		margin-bottom: 2em;
	}
}

@media screen and (max-width: 880px) {
	.event-history-view {
		min-height: 100%;
	}

	.event-history-content {
		height: auto;
		max-width: 880px;
		min-height: 100%;
		padding: 95px 0 0;
		position: absolute;
		width: 100%;
		top: 0;
	}

	.events {
		height: 100%;
		margin-bottom: 60px;
	}

	.tool-bar .basic-btn {
		float: left;
		width: calc(50% - 5px);
	}

	.tool-bar .basic-btn+.basic-btn {
		margin-left: 10px;
	}
}