/*       *\

    ^3^

\*       */

.updates,
.updates-button,
.update {
	background: #06102a;
}

menu {
	margin: 0;
	padding: 0;
}

/*                           *\

     SMALL & MEDIUM SHARED

\*                           */

@media screen and (max-width: 880px) {

}

/*                *\

     SMALL SOLO

\*                */

@media screen and (max-width: 540px) {

}

/*                 *\

     MEDIUM SOLO

\*                 */

@media screen and (min-width: 540px) and (max-width: 880px) {

}

/*                *\

     LARGE SOLO

\*                */

@media screen and (min-width: 880px) {
	.technician-mode menu {
		width: 260px;
	}

	.technician-mode .update {
		bottom: 0;
		left: 260px;
		position: absolute;
		top: 95px;
		right: 0;
	}
}