/*       *\

    ^3^

\*       */

.page,
.bg,
.smc,
.mmc,
.lmc,
.lsb,
.row,
.back-btn {
	display: block;
}

.bg,
.row,
.back-btn {
	width: 100%;
}

.bg,
.col {
	height: 100%;
}

.bg {
	left: 0;
	position: absolute;
	top: 0;
}

.back-btn img {
	display: inline;
	background: transparent url(/images/back.png) no-repeat center center;
	height: 40px;
	width: 40px;
	vertical-align: middle;
}

.back-btn {
	background: #020306;
}




.ant {
	background: #1b2846;
	position: relative;
	margin-bottom: 25px;
	height: 30px;
}

.ant .type,
.ant .conn {
	padding: 10px;
}

.ant .conn,
.ant img {
	position: absolute;
	top: 0;
}

.ant img {
	background: transparent url(/images/forward.png) no-repeat center center;
	height: 100%;
	right: 0;
	width: 30px;
}

.ant .conn {
	color: #a1f851;
	display: none;
	right: 30px;
}

.ant.connected .conn {
	display: block;
}

.ant .ver {
	background: #2a2e4e;
	height: 15px;
	position: absolute;
	text-align: right;
	top: 100%;
}

.ant .por,
.ant .sys,
.ant .dev {
	display: inline-block;
	font-size: 10px;
	text-align: left;
	width: 70px;
}




.updates-menu,
.updates-main {
	background: -moz-radial-gradient(center, ellipse cover, #0d2764 5%, #06102a 70%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#0d2764), color-stop(70%,#06102a)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #0d2764 5%,#06102a 70%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #0d2764 5%,#06102a 70%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #0d2764 5%,#06102a 70%); /* IE10+ */
	background: radial-gradient(ellipse at center, #0d2764 5%, #06102a 70%); /* W3C */
}

.updates-main .type {
	font-size: 30px;
	padding: 20px;
	text-align: right;
}

.updates-main .row {
	height: 100px;
	margin-bottom: 60px;
	position: relative;
}

.updates-main .bg {
	background: #ccc;
	opacity: 0.1;
}

.updates-main .col {
	width: 350px;
	margin: auto;
	position: relative;
}

.updates-main .label {
	padding: 20px 0 10px 0;
}

.updates-main .sys .label {
	padding-top: 30px;
}

.updates-main .cta {
	color: #a1f851;
	left: 100px;
	padding-top: 10px;
	position: absolute;
	top: 100%;
}

.updates-main .ver {
	color: #cacaca;
}

.updates-main .btn {
	position: absolute;
	background: transparent url(/images/download-button.png) no-repeat center center;
	bottom: -70px;
	height: 95px;
	width: 95px;
	z-index: 1;
}

.updates-main .btn input {
	cursor: pointer;
	height: 100%;
	opacity: 0.01;
	width: 100%;
}


/*                           *\

     SMALL & MEDIUM SHARED

\*                           */

@media screen and (max-width: 880px) {
	.page {
		position: relative;
	}

	.smc,
	.mmc,
	.lmc {
		width: 100%;
	}

	.back-btn,
	.updates-menu,
	.technician-mode .updates-menu,
	.technician-mode .updates-main {
		display: none;
	}

	.technician-mode .back-btn,
	.technician-mode .updates-menu.selected,
	.technician-mode .updates-main.selected {
		display: block;
	}
}

/*                *\

     SMALL SOLO

\*                */

@media screen and (max-width: 540px) {

}

/*                 *\

     MEDIUM SOLO

\*                 */

@media screen and (min-width: 540px) and (max-width: 880px) {

}

/*                *\

     LARGE SOLO

\*                */

@media screen and (min-width: 880px) {
	.back-btn {
		display: none;
	}

	.page,
	.lmc,
	.lsb {
		bottom: 0;
		position: absolute;
	}

	.page {
		left: 0;
		right: 0;
		top: 95px;
	}

	.lmc,
	.lsb {
		top: 0;
	}

	.lmc {
		left: 0;
		right: 0;
	}

	.technician-mode .lmc {
		left: 260px;
	}

	.lsb {
		display: none;
		width: 260px;
	}

	.technician-mode .lsb {
		display: block;
	}
}