/*       *\

    ^3^

\*       */

.ant {
	background: #1b2846;
	position: relative;
	margin-bottom: 25px;
	height: 30px;
}

.ant .type,
.ant .conn {
	padding: 10px;
}

.ant .conn,
.ant img {
	position: absolute;
	top: 0;
}

.ant img {
	background: transparent url(/images/forward.png) no-repeat center center;
	height: 100%;
	right: 0;
	width: 30px;
}

.ant .conn {
	color: #a1f851;
	display: none;
	right: 30px;
}

.ant.connected .conn {
	display: block;
}

.ant .ver {
	background: #2a2e4e;
	height: 15px;
	position: absolute;
	text-align: right;
	top: 100%;
}

.ant .por,
.ant .sys,
.ant .dev {
	display: inline-block;
	font-size: 10px;
	text-align: left;
	width: 70px;
}




.sb,
.mc {
	background: -moz-radial-gradient(center, ellipse cover, #0d2764 5%, #06102a 70%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#0d2764), color-stop(70%,#06102a)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #0d2764 5%,#06102a 70%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #0d2764 5%,#06102a 70%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #0d2764 5%,#06102a 70%); /* IE10+ */
	background: radial-gradient(ellipse at center, #0d2764 5%, #06102a 70%); /* W3C */
}

.mc .type {
	font-size: 30px;
	padding: 20px;
	text-align: right;
}

.mc .row {
	height: 100px;
	margin-bottom: 60px;
	position: relative;
}

.mc .bg {
	background: #ccc;
	opacity: 0.1;
}

.mc .col {
	width: 350px;
	margin: auto;
	position: relative;
}

.mc .label {
	padding: 20px 0 10px 0;
}

.mc .sys .label {
	padding-top: 30px;
}

.mc .cta {
	color: #a1f851;
	left: 100px;
	padding-top: 10px;
	position: absolute;
	top: 100%;
}

.mc .ver {
	color: #cacaca;
}

.mc .btn {
	position: absolute;
	background: transparent url(/images/download-button.png) no-repeat center center;
	bottom: -70px;
	height: 95px;
	width: 95px;
	z-index: 1;
}

.mc .btn input {
	cursor: pointer;
	height: 100%;
	opacity: 0.01;
	width: 100%;
}


/*                           *\

     SMALL & MEDIUM SHARED

\*                           */

@media screen and (max-width: 880px) {
	.back-btn,
	.sb,
	.technician-mode .sb,
	.technician-mode .mc {
		display: none;
	}

	.technician-mode .back-btn,
	.technician-mode .sb.selected,
	.technician-mode .mc.selected {
		display: block;
	}
}

/*                *\

     SMALL SOLO

\*                */

@media screen and (max-width: 540px) {

}

/*                 *\

     MEDIUM SOLO

\*                 */

@media screen and (min-width: 540px) and (max-width: 880px) {

}

/*                *\

     LARGE SOLO

\*                */

@media screen and (min-width: 880px) {
	.mc {
		left: 0;
		right: 0;
	}

	.technician-mode .mc {
		left: 260px;
	}

	.sb {
		display: none;
		width: 260px;
	}

	.technician-mode .sb {
		display: block;
	}
}