@import "base.scss";

.sidebar,
.\#vessel-view {
  display: block;
}

.sat-table {
  @include grey-table;

  .table-row {

    .install-btn {
      @include bgimg('radio-unchecked');
      display: inline-block;
      padding: 0;
      margin-left: 15px;
      cursor: pointer;
    }

    &.\$installed {
      background-color: $bright-blue;
      .install-btn {
        @include bgimg('radio-checked');
      }
    }
  }
}

.master-dropdown .dropdown-guts {
  @include breakpoint($desktop) {
    min-width: 340px;
  }
}

.vessel-view {
  @include bgimg('vessel-animation-bg', center, 360px, 360px);
  background-position: top 125px center;
  overflow: hidden;

  .demo-mode {
    @extend .block-btn;
    background-color: $red;
    cursor: default;
    display: none;
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .vessel-heading {
    font-size: $large-font;
    margin-top: 60px;
    text-align: center;
    width: 100%;
  }

  .vessel-name {
    color: $bright-grey;
    text-align: center;
    width: 100%;
  }

  .vessel-animation {
    @include bgimg('vessel-animation-green', center, 460px, 460px);

    &.\$warning {
      background-image: url(/images/vessel-animation-orange.svg);
    }

    &.\$error {
      background-image: url(/images/vessel-animation-red.svg);
    }
  }
}

@include breakpoint($mobile) {
  .sidebar {
    background-color: #000;
  }

  .sidebar,
  .vessel-view {
    position: relative;
    top: $header-height;
  }

  .vessel-view {
    background-position: top 95px center;

    .vessel-heading {
      margin-top: 30px;
    }

    .vessel-name {
      margin-bottom: 30px;
    }
  }
}

@include breakpoint('screen and (max-width: 600px)') {
  .vessel-view {
    padding-bottom: 30px;
    .demo-mode {
      bottom: 10px;
      left: 30px;
      top: auto;
    }
  }
}

@include breakpoint('screen and (max-width: 480px)') {
  .vessel-view {
    background-position: top 42% center;
    background-size: 58% 58%;
    min-width: 0;
    min-height: 0;

    .vessel-animation {
      background-size: contain;
      min-width: 0;
      min-height: 0;
      width: 100%;
      padding-bottom: 100%;
    }
  }
}
