@mixin bgimg($url, $pos: center center, $w: 21px, $h: 21px) {
	background-image: url($url);
	background-position: $pos;
	background-repeat: no-repeat;
	min-height: $w;
	min-width: $h;
}

@mixin icon($x: center, $y: center, $w: 21px, $h: 21px) {
	background: transparent no-repeat $x $y/$w $h;
	min-height: $h;
	min-width: $w;
}

@mixin tracvision-logo($x: center, $y: center, $w: 150px, $h: 50px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/tracvision-logo.svg);
}

@mixin right-icon-blue($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/right-icon-blue.svg);
}	

@mixin right-icon-white($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/right-icon-white.svg);
}	

@mixin next-icon-blue($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/next-icon-blue.svg);
}	

@mixin next-icon-white($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/next-icon-white.svg);
}	

@mixin radio-unchecked($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/radio-unchecked.svg);
}	

@mixin radio-checked($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/radio-checked.svg);
}	

@mixin heart-icon-black($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/heart-icon-black.svg);
}	

@mixin heart-icon-white($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/heart-icon-white.svg);
}	

@mixin up-icon-blue($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/up-icon-blue.svg);
}	

@mixin up-icon-white($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/up-icon-white.svg);
}	

@mixin down-icon-blue($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/down-icon-blue.svg);
}	

@mixin down-icon-white($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/down-icon-white.svg);
}	

@mixin prev-icon-blue($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/prev-icon-blue.svg);
}	

@mixin prev-icon-white($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/prev-icon-white.svg);
}	

@mixin minus-icon-blue($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/minus-icon-blue.svg);
}	

@mixin minus-icon-white($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/minus-icon-white.svg);
}	

@mixin plus-icon-blue($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/plus-icon-blue.svg);
}	

@mixin plus-icon-white($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/plus-icon-white.svg);
}	

@mixin x-icon-blue($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/x-icon-blue.svg);
}	

@mixin x-icon-red($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/x-icon-red.svg);
}	

@mixin x-icon-white($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/x-icon-white.svg);
}	

@mixin info-icon($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/info-icon.svg);
}	

@mixin support-icon-grey($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/support-icon-grey.svg);
}	

@mixin support-icon-white($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/support-icon-white.svg);
}	

@mixin support-icon($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/support-icon.svg);
}	

@mixin updates-icon-grey($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/updates-icon-grey.svg);
}	

@mixin updates-icon-white($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/updates-icon-white.svg);
}	

@mixin updates-icon($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/updates-icon.svg);
}	

@mixin settings-icon-grey($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/settings-icon-grey.svg);
}	

@mixin settings-icon-white($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/settings-icon-white.svg);
}	

@mixin settings-icon($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/settings-icon.svg);
}	

@mixin autoswitch-icon-grey($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/autoswitch-icon-grey.svg);
}	

@mixin autoswitch-icon-white($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/autoswitch-icon-white.svg);
}	

@mixin autoswitch-icon($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/autoswitch-icon.svg);
}	

@mixin sat-icon-grey($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/sat-icon-grey.svg);
}	

@mixin sat-icon-white($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/sat-icon-white.svg);
}	

@mixin sat-icon($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/sat-icon.svg);
}	

@mixin home-icon-grey($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/home-icon-grey.svg);
}	

@mixin home-icon-white($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/home-icon-white.svg);
}	

@mixin home-icon($x: center, $y: center, $w: 21px, $h: 21px) {
	@include icon($x, $y, $w, $h);
	background-image: url(/images/home-icon.svg);
}