@import "base.scss";

.menu-table {
	@include blue-table;

	.table-row {
		cursor: pointer;
	}

	@include breakpoint($mobile) {
		.table-row.\$selected {
			background-color: $light-blue;
		}

		.table-row {
			@include bgimg('right-icon-blue', 96% 50%, $fine-icon, auto);
		}
	}
}

.label,
.value {
  width: 50%;
  display: inline-block;
  margin-bottom: 15px;
}

.label {
  color: $grey;
  text-align: right;
  padding-right: 10px;
}

.value {
  padding-left: 10px;
}

.password-info-label {
  font-size: .75em;

  @include breakpoint($desktop) {
    position: absolute;
    left: 590px;
    margin-top: -2px;
  }

  @include breakpoint($mobile) {
    display: block;
    margin-top: 15px;
    margin-left: 0px;
  }

  @media screen and (min-width: 440px) and (max-width: 880px) {
    margin-top: 0;
    margin-left: 45%;
  }  
}

.edit-btn {
  width: 130px;
  float: right;
  margin-right: calc(50% - 135px);
  margin-bottom: 15px;
}


@include breakpoint($desktop) {
  .network-settings {
    >.view-head {
      display: none;
    }

    .ethernet-settings,
    .wireless-settings {
      @include clearfix;
    }
  }
}

@include breakpoint($mobile) {
  .network-settings {
    .ethernet-settings,
    .wireless-settings {
      @include clearfix;
    }

    .ethernet-settings,
    .wireless-settings {
      .view-head {
        //  undo all of @include mobile-view-head
        background: transparent;
        border: 0;
        left: 0;
        line-height: 1;
        margin: 0;
        padding: 0;
        position: static;
        top: 0;
        //  make it a desktop-view-head
        @include desktop-view-head;
      }
    }
  }
}

//  network-settings-view
.network-settings.\$eth-off .wireless-settings {
  display: none;
}

//  ethernet-settings-view
//  wireless-settings-view
.popup {
  .link {
    width: 40%;
    margin: 30px auto;
    color: $bright-blue;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: underline;
    @include breakpoint($mobile) {
      width: 100%;
      line-height: 1.6;
    }
  }

  .ethernet-settings,
  .wireless-settings {
    padding-bottom: 106px;
  }

  &.\$eth-static .ethernet-settings {
    .ip-value,
    .subnet-value,
    .gateway-value,
    .broadcast-value {
      display: none;
    }
  }

  &.\$eth-dynamic .ethernet-settings {
    .ip-input,
    .subnet-input,
    .gateway-input,
    .broadcast-input {
      display: none;
    }
  }

  &.\$wlan-bridged,
  &.\$wlan-end-point,
  &.\$wlan-static {
    .wireless-settings .value {
      display: none;
    }
  }
}

.\$eth-off .ethernet-settings {
  .ip-label, .ip-value, .ip-input,
  .subnet-label, .subnet-value, .subnet-input,
  .gateway-label, .gateway-value, .gateway-input,
  .broadcast-label, .broadcast-value, .broadcast-input {
    display: none;
  }
}

.\$wlan-off .wireless-settings {
  .network-label, .network-value, .network-dropdown-btn,
  .ssid-label, .ssid-value, .ssid-input,
  .ip-label, .ip-value, .ip-input,
  .subnet-label, .subnet-value, .subnet-input,
  .gateway-label, .gateway-value, .gateway-input,
  .broadcast-label, .broadcast-value, .broadcast-input,
  .security-label, .security-value, .security-dropdown-btn,
  .password-label, .password-value, .password-input{
    display: none;
  }
}

.\$wlan-bridged,
.\$wlan-end-point {
  .wireless-settings {
    .network-label, .network-value, .network-dropdown-btn,
    .gateway-input, .broadcast-input, .subnet-input {
      display: none;
    }

    .gateway-value, .broadcast-value, .subnet-value {
      display: inline-block !important; // not sure why, but i had to use important here
    }
  }
}

.\$wlan-dynamic .wireless-settings {
  .ip-input,
  .subnet-input,
  .gateway-input,
  .broadcast-input {
    display: none;
  }
}

.\$dtv-service .checkswitch-mode {
  display: none;
}

.\$not-linear .multiswitch-mode {
  display: none;
}

.\$not-tv6 .sidelobe-mode {
  display: none;
}

.\$hide-view .nmea-view,
.\$hide-view .sidelobe-mode {
 display: none;
}

.\$wlan-sec-off .wireless-settings {
  .password-label, .password-value, .password-input, .password-info-label {
    display: none;
  }
}

.popup {
  @include breakpoint($desktop) {
    .popup-guts {
      padding-top: $big-bump*2;
    }

    .btn-tray {
      left: 0;
    }
  }

  @include breakpoint($mobile) {
    .popup-guts {
      padding-top: $big-bump;
    }

    .label {
      width: 45%;
    }

    .btn-tray {
      .cancel-btn {
        display: none;
      }

      .save-btn,
      .reset-btn {
        @include split(2, 10px, '.block-btn');
        margin-bottom: 0;
      }
    }
  }

  .input,
  .dropdown-btn {
    display: inline-block;
    width: 180px;
    margin-left: 0;
  }

  @media screen and (max-width: 440px) {
    .input,
    .dropdown-btn,
    .label {
      display: block;
      width: calc(100% - 20px);
    }


    .label {
      text-align: left;
      margin-top: 25px;
      margin-left: 10px;
    }

    .mode-label {
      margin-top: 0;
    }

    .popup-guts {
      padding-left: 20px;
    }
  }
}

.general-settings,
.advanced-settings {
  max-width: 600px;

  .heading {
    line-height: 1.6;
  }

  p {
    color: $grey;
    line-height: 1.6;
  }

  .toggle-btn {
    .on, .off {
      margin-top: 16px;
      margin-bottom: 32px;
      padding: 7px 10px;
      min-width: 50px;
    }
  }

  .block-btn {
    margin-top: 16px;
    margin-bottom: 32px;
  }

  @include breakpoint($mobile) {
    padding: 20px;
  }
}

//  Set Location Page
////////////////////////////////////////////////////////////////////////////////
.view {
  @include breakpoint($desktop) {
    max-width: 800px;
    min-height: 100px;
    
    .view-head {
      border-bottom: 1px solid $bright-blue;
      font-size: 26px;
      margin: 0 0 30px 0;
      padding: 20px 0;
    }
  }
}

.headline {
  line-height: 1.6;
  margin-bottom: 15px;

  @include breakpoint($desktop) {
    font-size: $large-font;
  }

  @include breakpoint($mobile) {
    font-size: $medium-font;
    margin-top: 30px;
    padding: 0 20px;
  }
}

.clear-table {
  @include table;

  @include breakpoint($desktop) {
    .table-col {
      font-size: $medium-font;
      padding: $table-row-padding * 1.5;
    }
  }

  @include breakpoint($mobile) {
    margin: 0 20px;

    .table-col {
      font-size: $small-font;
      padding: $table-row-padding;
    }
  }

  .table-row {
    cursor: pointer;

    .install-btn {
      @include bgimg('radio-unchecked');
      display: inline-block;
      padding: 0;
      cursor: pointer;
    }

    &.\$selected .install-btn {
      @include bgimg('radio-checked');
    }
  }
}

.mobile {
  @include breakpoint($desktop) {
    display: none;
  }
}

.desktop {
  @include breakpoint($mobile) {
    display: none;
  }
}

.vessel-location{
  .headline {
    @include breakpoint($desktop) { margin: 40px 0 30px; }
  }
  
  .note {
    line-height: 1.5;
    margin-top: 20px;
    font-size: $small-font;
  }

  //  for the value column
  .clear-table .table-row .table-col+.table-col {
    width: calc(100% - 21px);
  }
}

.vessel-location {
  
  .nmea-view{
    border-bottom: 2px solid $bright-blue;
   padding-bottom: 40px;
  }
    
  .block-btn {
    // margin-left/right:auto centers a block element
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 75px;
    min-width: 75px;
    display: block;
    
    @include breakpoint($mobile) {
    max-width: initial;
    min-width: initial;
    }
  }
  
  p {
    color: $grey;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  
  .toggle-btn{
    margin-bottom: 20px;
  }
  
  .geoloc-view,
  .coordinates-view,
  .city-view {
    line-height: 1.4;
 
    .label {
      display: inline-block;
      margin-top: 5px;
      color: #fff;
      text-align: left;
      width: initial;
      margin-bottom: initial;

      @media screen and (max-width: 400px) {
        display: block;
        margin-top: 10px;
      }

      @media screen and (min-width: 401px) {
        min-width: 90px;
      }
    }
    
    .geoloc-label,
    .coordinates-label {
      margin-top: 10px;
      @media screen and (min-width: 401px) {
        display: block;
      }
    }

    .city-label {
      margin-top: 0;
    }
    
    .input {
      margin: -2px 0 0;
      min-width: 200px;
      font-size: $small-font;
    }
    
    .gps-input {
      @extend .input;
      min-width: 75px;
      width: 75px;
      min-height: 28px;
      text-align: center;
    }

    .dropdown-btn {
      display: inline-block;
      margin-bottom: -5px;
      margin-left: 10px;
      min-height: 28px;
      min-width: 200px;

      @media screen and (max-width: 540px) {
        display: block;
        margin: 10px 0 0;
      }
    }
    
    .hem-dropdown-btn {
      @extend .dropdown-btn;
      min-width: 54px;
      margin-bottom: -9px;
      @media screen and (max-width: 540px) {
        display: inline-block;
      }
    }
  }
}
//  spinner
////////////////////////////////////////////////////////////////////////////////

.\/spinner .\#spinner-view{
  display: block;
}

.spinner {
  @extend %animated-spinner;
  width: 200px;
  height: 200px;
  margin: 30px auto;
  display: block; 
}

//  Advaced Settings Page
////////////////////////////////////////////////////////////////////////////////
.advanced-settings {
  .input {
    //  block btn is 130 min width
    height: 40px;
    display: inline-block;
    width: calc(100% - 140px);
    margin: 0.5em 0 2em;
    vertical-align: top;
  }

  .block-btn {
    min-width: 130px;
    display: inline-block;
    float: right;
    margin-top: 0.5em;
  }
}

//	routing
////////////////////////////////////////////////////////////////////////////////

//	mobile
@include breakpoint($mobile) {
  body[class=''] .sidebar,
  .\/general .\#general-settings-view,
  .\/vessel-location .\#vessel-location-view,
  .\/advanced .\#advanced-settings-view,
  .\/network .\#network-settings-view,
  .\/network\/ethernet .\#ethernet-settings-view,
  .\/network\/wireless .\#wireless-settings-view {
    display: block;
  }
}

//	desktop
@include breakpoint($desktop)  {

  .sidebar,
  body[class=''] .\#general-settings-view,
  .\/general .\#general-settings-view,
  .\/vessel-location .\#vessel-location-view,
  .\/advanced .\#advanced-settings-view,
  .\/network .\#network-settings-view,
  .\/network\/ethernet .\#ethernet-settings-view,
  .\/network\/wireless .\#wireless-settings-view {
		display: block;
	}

  .\/network\/ethernet,
  .\/network\/wireless {
    .\#network-settings-view {
      display: block;
    }
  }

  .\/network\/ethernet,
  .\/network\/wireless {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      min-height: 600px;
  }
}