@import "base.scss";

.menu-table {
	@include blue-table;

	.table-row {
		cursor: pointer;
	}

	@include breakpoint($mobile) {
		.table-row.\$selected {
			background-color: $light-blue;
		}

		.table-row {
			@include bgimg('right-icon-blue', right 15px center, $fine-icon);
		}
	}
}

.label,
.value {
  width: 50%;
  display: inline-block;
  margin-bottom: 15px;
}

.label {
  color: $grey;
  text-align: right;
  padding-right: 10px;
}

.value {
  padding-left: 10px;
}

.password-info-label {
  font-size: .75em;

  @include breakpoint($desktop) {
    position: absolute;
    left: 590px;
    margin-top: -2px;
  }

  @include breakpoint($mobile) {
    display: block;
    margin-top: 15px;
    margin-left: 0px;
  }

  @media screen and (min-width: 440px) and (max-width: 880px) {
    margin-top: 0;
    margin-left: 45%;
  }  
}

.edit-btn {
  width: 130px;
  float: right;
  margin-right: calc(50% - 135px);
  margin-bottom: 15px;
}


@include breakpoint($desktop) {
  .network-settings {
    >.view-head {
      display: none;
    }

    .ethernet-settings,
    .wireless-settings {
      @include clearfix;
    }
  }
}

@include breakpoint($mobile) {
  .network-settings {
    .ethernet-settings,
    .wireless-settings {
      @include clearfix;
    }

    .ethernet-settings,
    .wireless-settings {
      .view-head {
        //  undo all of @include mobile-view-head
        background: transparent;
        border: 0;
        left: 0;
        line-height: 1;
        margin: 0;
        padding: 0;
        position: static;
        top: 0;
        //  make it a desktop-view-head
        @include desktop-view-head;
      }
    }
  }
}

//  network-settings-view
.network-settings.\$eth-off .wireless-settings {
  display: none;
}

//  ethernet-settings-view
//  wireless-settings-view
.popup {
  .link {
    width: 40%;
    margin: 30px auto;
    color: $bright-blue;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: underline;
    @include breakpoint($mobile) {
      width: 100%;
      line-height: 1.6;
    }
  }

  .ethernet-settings,
  .wireless-settings {
    padding-bottom: 106px;
  }

  &.\$eth-static .ethernet-settings {
    .ip-value,
    .subnet-value,
    .gateway-value,
    .broadcast-value {
      display: none;
    }
  }

  &.\$eth-dynamic .ethernet-settings {
    .ip-input,
    .subnet-input,
    .gateway-input,
    .broadcast-input {
      display: none;
    }
  }

  &.\$wlan-bridged,
  &.\$wlan-end-point,
  &.\$wlan-static {
    .wireless-settings .value {
      display: none;
    }
  }
}

.\$eth-off .ethernet-settings {
  .ip-label, .ip-value, .ip-input,
  .subnet-label, .subnet-value, .subnet-input,
  .gateway-label, .gateway-value, .gateway-input,
  .broadcast-label, .broadcast-value, .broadcast-input {
    display: none;
  }
}

.\$wlan-off .wireless-settings {
  .network-label, .network-value, .network-dropdown-btn,
  .ssid-label, .ssid-value, .ssid-input,
  .ip-label, .ip-value, .ip-input,
  .subnet-label, .subnet-value, .subnet-input,
  .gateway-label, .gateway-value, .gateway-input,
  .broadcast-label, .broadcast-value, .broadcast-input,
  .security-label, .security-value, .security-dropdown-btn,
  .password-label, .password-value, .password-input{
    display: none;
  }
}

.\$wlan-bridged,
.\$wlan-end-point {
  .wireless-settings {
    .network-label, .network-value, .network-dropdown-btn,
    .gateway-input, .broadcast-input, .subnet-input {
      display: none;
    }

    .gateway-value, .broadcast-value, .subnet-value {
      display: inline-block !important; // not sure why, but i had to use important here
    }
  }
}

.\$wlan-dynamic .wireless-settings {
  .ip-input,
  .subnet-input,
  .gateway-input,
  .broadcast-input {
    display: none;
  }
}

.\$dtv-service .checkswitch-mode {
  display: none;
}

.\$wlan-sec-off .wireless-settings {
  .password-label, .password-value, .password-input, .password-info-label {
    display: none;
  }
}

.popup {
  @include breakpoint($desktop) {
    .popup-guts {
      padding-top: $big-bump*2;
    }

    .btn-tray {
      left: 0;
    }
  }

  @include breakpoint($mobile) {
    .popup-guts {
      padding-top: $big-bump;
    }

    .label {
      width: 45%;
    }

    .btn-tray {
      .cancel-btn {
        display: none;
      }

      .save-btn,
      .reset-btn {
        @include split(2, 10px, '.block-btn');
        margin-bottom: 0;
      }
    }
  }

  .input,
  .dropdown-btn {
    display: inline-block;
    width: 180px;
    margin-left: 0;
  }

  @media screen and (max-width: 440px) {
    .input,
    .dropdown-btn,
    .label {
      display: block;
      width: calc(100% - 20px);
    }


    .label {
      text-align: left;
      margin-top: 25px;
      margin-left: 10px;
    }

    .mode-label {
      margin-top: 0;
    }

    .popup-guts {
      padding-left: 20px;
    }
  }
}

.general-settings,
.advanced-settings {
  max-width: 600px;

  .heading {
    line-height: 1.6;
  }

  p {
    color: $grey;
    line-height: 1.6;
  }

  .toggle-btn {
    .on, .off {
      margin-top: 16px;
      margin-bottom: 32px;
      padding: 7px 10px;
      min-width: 50px;
    }
  }

  .block-btn {
    margin-top: 16px;
    margin-bottom: 32px;
  }

  @include breakpoint($mobile) {
    padding: 20px;
  }
}

.advanced-settings {
  .input {
    //  block btn is 130 min width
    height: 40px;
    display: inline-block;
    width: calc(100% - 140px);
    margin: 0.5em 0 2em;
    vertical-align: top;
  }

  .block-btn {
    min-width: 130px;
    display: inline-block;
    float: right;
    margin-top: 0.5em;
  }
}

//	routing
////////////////////////////////////////////////////////////////////////////////

//	mobile
@include breakpoint($mobile) {
  body[class=''] .sidebar,
  .\/general .\#general-settings-view,
  .\/advanced .\#advanced-settings-view,
  .\/network .\#network-settings-view,
  .\/network\/ethernet .\#ethernet-settings-view,
  .\/network\/wireless .\#wireless-settings-view {
    display: block;
  }
}

//	desktop
@include breakpoint($desktop)  {

  .sidebar,
  body[class=''] .\#general-settings-view,
	.\/general .\#general-settings-view,
  .\/advanced .\#advanced-settings-view,
  .\/network .\#network-settings-view,
  .\/network\/ethernet .\#ethernet-settings-view,
  .\/network\/wireless .\#wireless-settings-view {
		display: block;
	}

  .\/network\/ethernet,
  .\/network\/wireless {
    .\#network-settings-view {
      display: block;
    }
  }

  .\/network\/ethernet,
  .\/network\/wireless {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      min-height: 600px;
  }
}