@import "base.scss";

.menu-table {
	@include blue-table;

	.table-row {
		cursor: pointer;
	}

	@include breakpoint($mobile) {
		.table-row.\$selected {
			background-color: $light-blue;
		}

		.table-row {
			@include bgimg('right-icon-blue', 98% 50%, $fine-icon);
		}
	}
}

.help-btn {
  @include table-row;
  background-color: $light-blue;
  padding: $table-row-padding;
  cursor: pointer;
  img {
    width: $large-font;
    height: $large-font;
    vertical-align: middle;
    margin: -10px .5em;
  }
}

.contact-header {
	padding: $sidebar-padding;
}

.contact-region {
	color: $bright-grey;
	padding: 0 $sidebar-padding;
}

.system-info {
  .remote-diagnostics-btn {
    cursor: pointer;
  }

  @include breakpoint($desktop) {
    >.view-head {
      display: none;
    }
  }

  @include breakpoint($mobile) {
    .tv-hub,
    .antenna-unit,
    .sensor {
      .view-head {
        //  undo all of @include mobile-view-head
        background: transparent;
        border: 0;
        left: 0;
        line-height: 1;
        margin: 0;
        padding: 0;
        position: static;
        top: 0;
        //  make it a desktop-view-head
        @include desktop-view-head;
      }
    }
  }

  .label,
  .value {
    width: 50%;
    display: inline-block;
    margin-bottom: 15px;
  }

  .label {
    color: $grey;
    text-align: right;
    padding-right: 10px;
  }

  .value {
    padding-left: 10px;
  }

  .sensor {
    margin-bottom: 30px;
  }

  .power-label {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}

.remote-diagnostics,
.operational-log,
.event-log,
.restart-system,
.command-line {
	p {
		line-height: 1.6;
		margin-top: $lil-bump/2;
		margin-bottom: $lil-bump;
	}

	@include breakpoint($mobile) {
		p {
			padding: 0 $lil-bump;
		}

		.block-btn {
			display: block;
			margin: 0 auto $lil-bump/2;
			width: calc(100% - #{$lil-bump*2});
		}

		&.view {
			padding-top: $lil-bump;
		}
	}
}

.operational-log {
  .progress-bar {
    position: relative;
    background-color: $light-grey;
    height: $lil-bump;
    margin-bottom: $lil-bump * 1.5;

    @include breakpoint($mobile) {
      width: calc(100% - #{$lil-bump*2});
      margin-left: $lil-bump;
    }
  }

  .progress-fill {
    width: 0%;
    height: 100%;
    background-color: $bright-blue;
  }

  .label {
    position: absolute;
    font-size: $small-font;
    top: $small-font * -1.5;
  }

  .label+.label {
    right: 0;
  }
}

.remote-diagnostics {
  @include breakpoint($desktop) {
    max-width: 600px;
    max-height: 300px;
    margin: -150px -300px !important;

    p {
      padding: $lil-bump;
    }

    .connect-btn {
      margin-left: $lil-bump;
      margin-right: 10px;
    }

    .block-btn {
      min-width: 130px;
    }

    .state {
      margin-left: $lil-bump;
      position: relative;
      bottom: 30px;
    }
  }

  @include breakpoint($mobile) {
    .state {
      width: 100%;
      text-align: center;
      position: relative;
      bottom: 15px;
    }
  }
}

.serial-log {
  pre {
    background-color: $light-grey;
    display: block;
    font-color: inherit;
    font-family: inherit;
    font-size: inherit;
    height: 425px;
    line-height: 1.4;
    margin: 30px auto;
    overflow: auto;
    white-space: pre-wrap;
    width: 740px;
    padding: 0.5em;
  }

  @include breakpoint($mobile) {
    .btn-tray .save-btn {
      display: none;
    }

    .btn-tray .email-btn {
      display: block;
    }

    pre {
      width: 100%;
      height: 100%;
      margin: 0;
      margin-bottom: 60px;
    }
  }
}

.event-log {

  .link {
    color: $bright-blue;
    text-decoration: underline;
    cursor: pointer;
  }

	.event-table {
		@include alt-table;
    background-color: $light-grey;
		height: 400px;
		overflow: auto;
		margin-bottom: 30px;

		.table-head {
			background-color: $light-blue;
			font-size: $fine-font;
			min-height: $lil-bump;

			.table-col { padding: 7px 15px; }
		}

		.table-row {
			font-size: $small-font;
		}

		.table-head+.table-row {
			margin-top: $lil-bump;
		}

		.date-col {
			width: 20%;
		}

		.message-col {
			width: 80%;
		}
	}

	@include breakpoint($mobile) {
		p {
			display: none;
		}

		.event-table {
			bottom: 60px;
			height: auto;
			margin-bottom: 0;
			position: absolute;
			top: 0;
		}

		.btn-tray {
			.save-btn {
				display: none;
			}

			.email-btn {
				width: 100%;
				margin-bottom: 0;
			}
		}
	}
}

.restart-system {
	@include breakpoint($mobile) {
		.restart-ant-btn {
			margin-top: $lil-bump/2;
		}
	}
}

.command-line {
	p {
		background-color: $red;
		padding: $lil-bump/2;
	}

	iframe {
		background-color: $light-grey;
		width: 100%;
		height: 300px;
		margin-bottom: $lil-bump;
	}

	.btn-tray {
		.input {
			//	block btn is 130 min width
			height: 40px;
			display: inline-block;
			width: calc(100% - 140px);
			margin: 0;
			vertical-align: top;
		}

		.block-btn {
			display: inline-block;
			float: right;
			margin-left: 0;
		}		
	}

	@include breakpoint($mobile) {
		&.view {
			padding-top: 0;
		}

		p {
			// margin: 0;
			display: none;
		}

		iframe {
			height: calc(100% - 60px);
			margin: 0;
		}

		.btn-tray {
			.input {
				width: calc(100% - 110px);
			}

			.block-btn {
				width: 100px;
				margin-bottom: 0;
			}
		}
	}
}

//	routing
////////////////////////////////////////////////////////////////////////////////

//	mobile
@include breakpoint($mobile) {
	body[class=''] .sidebar,
  .\/system-info .\#system-info-view,
  .\/remote-diagnostics .\#remote-diagnostics-view,
  .\/operational-log .\#operational-log-view,
	.\/serial-log .\#serial-log-view,
	.\/event-log .\#event-log-view,
	.\/restart-system .\#restart-system-view,
	.\/command-line .\#command-line-view {
		display: block;
	}
}

//	desktop
@include breakpoint($desktop) {
  .sidebar,
  body[class=''] .\#system-info-view,
  .\/system-info .\#system-info-view,
  .\/remote-diagnostics .\#remote-diagnostics-view,
  .\/operational-log .\#operational-log-view,
	.\/serial-log .\#serial-log-view,
	.\/event-log .\#event-log-view,
	.\/restart-system .\#restart-system-view,
	.\/command-line .\#command-line-view {
		display: block;
	}

  .\/serial-log .\#operational-log-view,
  .\/remote-diagnostics .\#system-info-view {
    display: block;
  }

  .\/serial-log,
  .\/remote-diagnostics {
    .popup {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }

  .\/serial-log .popup {
    min-height: 600px;
  }

  .\/remote-diagnostics .popup {
    min-height: 300px;
  }
}