@import "base.scss";

*:hover {
  outline: 1px solid red;
}

html {
  background-position: top center;
}

.header {
  .status-btn,
  .nav-btn {
    display: none;
  }

  .tracvision-logo {
    margin: 0;
  }
}

.nav {
  display: none;
}

.view {
  @include breakpoint($desktop) {
    max-width: 800px;
    left: 0;

    .view-head {
      border-bottom: 1px solid $bright-blue;
      font-size: 26px;
      margin: 0 0 30px 0;
      padding: 20px 0;
    }
  }
}

.mobile {
  @include breakpoint($desktop) {
    display: none;
  }
}

.desktop {
  @include breakpoint($mobile) {
    display: none;
  }
}

.bottom-bar {
  @include mobile-view-head;
  bottom: 0;
  margin: 0;
  top: auto;
  border: 0;

  .next-btn,
  .prev-btn,
  .exit-btn {
    cursor: pointer;
    font-size: $medium-font;
  }

  .next-btn {
    @include bgimg('next-icon-white', center right 10px);
    float: right;
    padding: 0 40px 0 20px;
  }

  .prev-btn {
    @include bgimg('prev-icon-white', center left 10px);
    float: left;
    padding: 0 20px 0 40px;
  }

  .exit-btn {
    @include bgimg('x-icon-white', center left 15px);
    float: left;
    padding: 0 20px 0 50px;
  }
}

.clear-table {
  @include table;

  @include breakpoint($desktop) {
    max-width: 680px;
    margin: auto;

    .table-col {
      font-size: $medium-font;
      padding: $table-row-padding * 1.5;
    }
  }

  @include breakpoint($mobile) {
    margin: 0 20px;
    width: calc(100% - 40px);

    .table-col {
      font-size: $small-font;
      padding: $table-row-padding;
    }
  }

  .table-row {
    cursor: pointer;

    .install-btn {
      @include bgimg('radio-unchecked');
      display: inline-block;
      padding: 0;
      cursor: pointer;
    }

    &.\$selected .install-btn {
      @include bgimg('radio-checked');
    }
  }
}

.grey-box-table {
  .table-row {
    @include text-shadow;
    background-color: $dark-grey;
    cursor: pointer;
    position: relative;

    &.\$selected { background-color: $bright-blue; }
  }

  @include breakpoint($mobile) {
    margin-bottom: $big-bump * 2;

    .title {
      background-color: #000;
      font-size: $small-font;
      line-height: $lil-bump;
      text-align: center;
      width: 100%;
    }

    .\$selected .title {
      background-color: $light-blue;
    }

    .copy {
      padding: 20px;
      font-size: $small-font;
      line-height: 1.6;
    }

    .radio-icon {
      display: none;
    }
  }

  @include breakpoint($desktop) {
    text-align: center;

    .table-row+.table-row {
      margin-left: 30px;
    }

    .table-row {
      display: inline-block;
      min-height: 200px;
      vertical-align: top;
      width: 245px;
      margin-bottom: 96px;
    }

    .title,
    .copy {
      margin: 0 auto;
      padding: 20px 0;
      width: calc(100% - 40px);
    }

    .title {
      border-bottom: 1px solid #fff;
      font-size: $large-font;      
      text-align: center;
    }

    .copy {
      line-height: 1.6;
      font-size: $small-font;
      text-align: left;
    }

    .radio-icon {
      @include bgimg('radio-unchecked');
      bottom: -35px;
      cursor: pointer;
      left: 50%;
      margin-left: -10px;
      padding: 0;
      position: absolute;
    }

    .\$selected .radio-icon {
      @include bgimg('radio-checked');
    }    
  }
}

.headline {
  text-align: center;
  line-height: 1.6;
  margin-bottom: 15px;

  @include breakpoint($desktop) {
    font-size: $large-font;
  }

  @include breakpoint($mobile) {
    font-size: $medium-font;
    margin-top: 30px;
    padding: 0 20px;
  }
}


//  index
////////////////////////////////////////////////////////////////////////////////

.wizard-index {
  display: block;
  line-height: 1.2;

  .system-detected {
    font-size: $large-font;
    text-align: center;
    line-height: 1.4;

    @include breakpoint($mobile) {
      margin: 30px 0;
      font-size: $medium-font;
    }

    @include breakpoint($desktop) {
      margin-bottom: 60px;
    }

    .copy {
      font-size: 26px;
    }
  }

  .col {
    text-align: center;

    .copy {
      line-height: 1.4;
      font-size: $small-font;
      margin: 30px 0;
    }

    @include breakpoint($desktop) {
      @include split(2, 0px, '.col');
      vertical-align: top;
      margin-bottom: $big-bump * 1.5;
    }

    @include breakpoint($mobile) {
      &:not(.first) {
        margin-top: 30px;
        margin-bottom: $big-bump * 1.5;
      }
    }
  }

  .step {
    border-bottom: 1px solid $bright-blue;
    height: 65px;
    margin: auto 15px auto 75px;
    position: relative;
    text-align: left;

    @include breakpoint($mobile) {
      & { margin: auto 20px auto 75px; }
      font-size: $small-font;
      line-height: 1.6;
    }

    &.step-1,
    &.step-3 {
      padding-top: 12px;
    }

    &.step-2 {
      padding-top: 22px;
    }
  }

  .bullet {
    @include text-shadow;
    background-color: $bright-blue;
    border-radius: 100%;
    font-size: $large-font;
    height: 45px;
    left: -60px;
    line-height: 45px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 45px;
  }
}


//  registration
////////////////////////////////////////////////////////////////////////////////

.installer-id {  
  .headline {
    @include breakpoint($desktop) { margin: 60px 0 30px; }
  }
}

.cdt-vessel-info,
.diy-vessel-info,
.installer-info {
  .form {
    max-width: 440px;
    margin: auto;
    padding: 0px 20px;
  }

  .label {
    font-size: $small-font;
    margin: 20px 0 10px 10px;
  }

  .input {
    font-size: $medium-font;
    width: 100%;
    margin: 0;
    padding: 6px 10px;
  }

  .note {
    font-size: $small-font;
    float: right;
    margin-top: 30px;
  }
}

body[class=''] .\#installer-id-view,
.\/cdt-vessel-info .\#cdt-vessel-info-view, 
.\/diy-vessel-info .\#diy-vessel-info-view, 
.\/installer-info .\#installer-info-view {
  display: block;
}


//  gps
////////////////////////////////////////////////////////////////////////////////

.vessel-location,
.backup-gps-source,
.heading-source {
  .headline {
    @include breakpoint($desktop) { margin: 60px 0 30px; }
  }

  .note {
    line-height: 1.6;
    margin-top: 30px;
    text-align: center;

    @include breakpoint($mobile) {
      font-size: $small-font;
      padding: 0 20px;
    }

    @include breakpoint($desktop) {
      font-size: $medium-font;
    }
  }
}

.backup-gps-source .headline.desktop {
  white-space: nowrap;
}

.\/vessel-location .\#vessel-location-view,
.\/backup-gps-source .\#backup-gps-source-view, 
.\/heading-source .\#heading-source-view {
  display: block;
}

@include breakpoint($mobile) {
  .\/coordinates .\#coordinates-view {
    display: block;
  }

  .coordinates-view input {
    width: 100%;
  }
}

@include breakpoint($desktop) {
  .\/coordinates .\#vessel-location-view {
    display: block;
  }
}


//  service
////////////////////////////////////////////////////////////////////////////////

.service-provider,
.local-channels,
.dish-network {
  .headline {
    @include breakpoint($desktop) { margin: 60px 0 30px; }
  }

  .note {
    text-align: center;
    line-height: 1.6;

    @include breakpoint($mobile) {
      padding: 30px 20px;
    }

    @include breakpoint($desktop) {
      margin: 0 auto;
      max-width: 680px;
      padding: 30px 0;
    }
  }

  .link {
    line-height: 1.6;
    color: $bright-blue;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: underline;
    padding: 0 20px;
    display: inline-block;
  }
}

.directv {
  .headline {
    @include breakpoint($mobile) { margin: 30px 0; }
    @include breakpoint($desktop) { margin: 60px 0; }
  }  
}

.local-channels,
.dish-network {
  text-align: center;

  .clear-table {
    text-align: left;
  }
}

body[class=''] .\#service-provider-view,
.\/local-channels .\#local-channels-view,
.\/directv .\#directv-view,
.\/dish-network .\#dish-network-view,
.\/spinner .\#spinner-view {
  display: block;
}


//  satellites
////////////////////////////////////////////////////////////////////////////////

.\/options .\#options-view,
.\/circular-options .\#circular-options-view,
.\/tv5-manual-options .\#tv5-manual-options-view {
  display: block;
}