@import "base.scss";

@mixin bottom-bumper {
  &:after {
    content: ' ';
    display: block;
    padding-bottom: 65px;
    width: 100%;
  }
}

html {
  background-position: top center;
}

.header {
  .status-btn,
  .nav-btn {
    display: none;
  }

  .tracvision-logo {
    margin: 0;
  }
}

.nav {
  display: none;
}

.view {
  @include breakpoint($desktop) {
    max-width: 800px;
    left: 0;

    .view-head {
      border-bottom: 1px solid $bright-blue;
      font-size: 26px;
      margin: 0 0 30px 0;
      padding: 20px 0;
    }
  }
}

.mobile {
  @include breakpoint($desktop) {
    display: none;
  }
}

.desktop {
  @include breakpoint($mobile) {
    display: none;
  }
}

.bottom-bar {
  @include mobile-view-head;
  bottom: 0;
  margin: 0;
  top: auto;
  border: 0;

  .next-btn,
  .prev-btn,
  .exit-btn {
    cursor: pointer;
    font-size: $medium-font;
  }

  .next-btn {
    @include bgimg('next-icon-white', center right 10px);
    float: right;
    padding: 0 40px 0 20px;
  }

  .prev-btn {
    @include bgimg('prev-icon-white', center left 10px);
    float: left;
    padding: 0 20px 0 40px;
  }

  .exit-btn {
    @include bgimg('x-icon-white', center left 15px);
    float: left;
    padding: 0 20px 0 50px;
  }
}

.clear-table {
  @include table;

  @include breakpoint($desktop) {
    max-width: 680px;
    margin: auto;

    .table-col {
      font-size: $medium-font;
      padding: $table-row-padding * 1.5;
    }
  }

  @include breakpoint($mobile) {
    margin: 0 20px;
    width: calc(100% - 40px);

    .table-col {
      font-size: $small-font;
      padding: $table-row-padding;
    }
  }

  .table-row {
    cursor: pointer;

    .install-btn {
      @include bgimg('radio-unchecked');
      display: inline-block;
      padding: 0;
      cursor: pointer;
    }

    &.\$selected .install-btn {
      @include bgimg('radio-checked');
    }
  }
}

.grey-box-table {
  .table-row {
    @include text-shadow;
    background-color: $dark-grey;
    cursor: pointer;
    position: relative;

    &.\$selected { background-color: $bright-blue; }
  }

  @include breakpoint($mobile) {
    margin-bottom: $big-bump * 2;

    .table-row {
      padding-bottom: 20px;
    }

    .title {
      background-color: #000;
      font-size: $small-font;
      line-height: $lil-bump;
      text-align: center;
      width: 100%;
    }

    .\$selected .title {
      background-color: $light-blue;
    }

    .copy {
      padding: 20px;
      font-size: $small-font;
      line-height: 1.6;
    }

    .radio-icon {
      display: none;
    }

    .image {
      background: transparent no-repeat center center/100% 100%;
      height: 70px;
      margin-top: 20px;
    }
  }

  @include breakpoint($desktop) {
    text-align: center;

    .table-row+.table-row {
      margin-left: 30px;
    }

    .table-row {
      display: inline-block;
      min-height: 200px;
      vertical-align: top;
      width: 245px;
      margin-bottom: 96px;
    }

    .title,
    .copy {
      margin: 0 auto;
      padding: 20px 0;
      width: calc(100% - 40px);
    }

    .title {
      border-bottom: 1px solid #fff;
      font-size: $large-font;      
      line-height: 1.2;
      text-align: center;
    }

    .image {
      background: transparent no-repeat center center/100% 100%;
      height: 70px;
      margin: 20px 0;
      width: 100%;
    }

    .copy {
      font-size: $small-font;
      line-height: 1.6;
      text-align: left;
    }

    .radio-icon {
      @include bgimg('radio-unchecked');
      bottom: -35px;
      cursor: pointer;
      left: 50%;
      margin-left: -10px;
      padding: 0;
      position: absolute;
    }

    .\$selected .radio-icon {
      @include bgimg('radio-checked');
    }    
  }
}

.headline {
  text-align: center;
  line-height: 1.6;
  margin-bottom: 15px;

  @include breakpoint($desktop) {
    font-size: $large-font;
  }

  @include breakpoint($mobile) {
    font-size: $medium-font;
    margin-top: 30px;
    padding: 0 20px;
  }
}

.link {
  color: $bright-blue;
  cursor: pointer;
  text-decoration: underline;
}

.bullet {
  @include text-shadow;
  background-color: $bright-blue;
  border-radius: 100%;
  font-size: $large-font;
  height: 45px;
  left: -60px;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 45px;
}


//  index
////////////////////////////////////////////////////////////////////////////////

.wizard-index {
  display: block;
  line-height: 1.2;

  .system-detected {
    font-size: $large-font;
    text-align: center;
    line-height: 1.4;

    @include breakpoint($mobile) {
      margin: 30px 0;
      font-size: $medium-font;
    }

    @include breakpoint($desktop) {
      margin-bottom: 60px;
    }

    .copy {
      font-size: 26px;
    }
  }

  .col {
    text-align: center;

    .copy {
      line-height: 1.4;
      font-size: $small-font;
      margin: 30px 0;
    }

    @include breakpoint($desktop) {
      @include split(2, 0px, '.col');
      vertical-align: top;
      margin-bottom: $big-bump * 1.5;
    }

    @include breakpoint($mobile) {
      &:not(.first) {
        margin-top: 30px;
        margin-bottom: $big-bump * 1.5;
      }
    }
  }

  .step {
    border-bottom: 1px solid $bright-blue;
    height: 65px;
    margin: auto 15px auto 75px;
    position: relative;
    text-align: left;

    @include breakpoint($mobile) {
      & { margin: auto 20px auto 75px; }
      font-size: $small-font;
      line-height: 1.6;
    }

    &.step-1,
    &.step-2,
    &.step-3 {
      padding-top: 12px;
    }
  }

  .note {
    font-size: $small-font;
    margin: 30px 15px auto 75px;
    position: relative;
    text-align: center;
    @include breakpoint($mobile) {
      margin: 30px 0;
    }
  }
}


//  registration
////////////////////////////////////////////////////////////////////////////////

.installer-id {
  .headline {
    @include breakpoint($desktop) { margin: 60px 0 30px; }
  }
}

.cdt-vessel-info,
.diy-vessel-info,
.installer-info {
  @include bottom-bumper;

  .form {
    max-width: 440px;
    margin: auto;
    padding: 0px 20px;
  }

  .label {
    font-size: $small-font;
    margin: 20px 0 10px 10px;
  }

  .input {
    font-size: $medium-font;
    width: 100%;
    margin: 0;
    padding: 6px 10px;
  }

  .note {
    font-size: $small-font;
    margin-top: 30px;
    width: 100%;
    text-align: right;
  }

  .save-info {
    display: block;
    text-align: center;
    font-size: $small-font;
    margin-top: 30px;
  }

  .save-btn {
    @include bgimg('radio-unchecked');
    display: inline-block;
    position: relative;
    top: 6px;
    margin-right: 0.5em;
    cursor: pointer;
  }

  .save-btn.\$on {
    background-image: url(/images/radio-checked.svg);
  }
}

.\/installer-id .\#installer-id-view,
.\/cdt-vessel-info .\#cdt-vessel-info-view, 
.\/diy-vessel-info .\#diy-vessel-info-view, 
.\/installer-info .\#installer-info-view {
  display: block;
}


//  gps
////////////////////////////////////////////////////////////////////////////////
.\$hide-view .nmea-view {
  display: none;
}

.vessel-location,
.heading-source {
  .headline {
    text-align: left;
    @include breakpoint($desktop) { margin: 60px 0 30px; }
  }

  .note {
    line-height: 1.6;
    margin-top: 30px;
    text-align: left;
    font-size: $small-font;
  }

  .clear-table {
    @include table;
    max-width: 100%;
  
    @include breakpoint($desktop) {
   
      .table-col {
        font-size: $medium-font;
        padding: $table-row-padding * 1.5;
      }
    }

    @include breakpoint($mobile) {
      margin: 0 20px;

      .table-col {
        font-size: $small-font;
        padding: $table-row-padding;
      }
    }

    .table-row {
      cursor: pointer;

      .install-btn {
        @include bgimg('radio-unchecked');
        display: inline-block;
        padding: 0;
        cursor: pointer;
      }

      &.\$selected .install-btn {
        @include bgimg('radio-checked');
      }
    }
  }

  //  for the value column
  .clear-table .table-row .table-col+.table-col {
    width: calc(100% - 21px);
  }
}

.vessel-location {

  .nmea-view{
    border-bottom: 2px solid $bright-blue;
    margin-bottom: 55px;
  }
  
  .manual-view{
   margin-bottom: 55px;
  }


  .block-btn {
    // margin-left/right:auto centers a block element
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 75px;
    min-width: 75px;
    display: block;
    
    @include breakpoint($mobile) {
    max-width: initial;
    min-width: initial;
    }
  }
  
  p {
    color: $grey;
    line-height: 1.6;
    margin-bottom: 20px;
  }
    
  .toggle-btn {
    margin-bottom: 20px;
  }
    
  .geoloc-view,
  .coordinates-view,
  .city-view {
    line-height: 1.4;

    .label {
      display: inline-block;
      margin-top: 5px;
      color: #fff;
      text-align: left;
      width: initial;
      margin-bottom: initial;
      
      @media screen and (max-width: 400px) {
        display: block;
        margin-top: 10px;
      }

      @media screen and (min-width: 401px) {
        min-width: 90px;
      }
    }

    .geoloc-label,
    .coordinates-label {
      margin-top: 10px;
      @media screen and (min-width: 401px) {
        display: block;
      }
    }

    .city-label {
      margin-top: 0;
    }
    
    .input {
      margin: -2px 0 0;
      min-width: 200px;
      font-size: $small-font;
    }
    
    .gps-input {
      @extend .input;
      min-width: 75px;
      width: 75px;
      min-height: 28px;
      text-align: center;
    }

    .dropdown-btn {
      display: inline-block;
      margin-bottom: -5px;
      margin-left: 10px;
      min-height: 28px;
      min-width: 200px;

      @media screen and (max-width: 400px) {
        margin: 10px 0 0;
      }
    }
    
    .hem-dropdown-btn {
      @extend .dropdown-btn;
      min-width: 54px;
      margin-bottom: -9px;
      @media screen and (max-width: 400px) {
        display: inline-block;
        max-width: 54px;
      }
      
    }
    
  }
}

.\/vessel-location .\#vessel-location-view,
.\/heading-source .\#heading-source-view,
.\/spinner .\#spinner-view {
  display: block;
}

//  service
////////////////////////////////////////////////////////////////////////////////

.service-provider,
.tri-am-group,
.local-channels,
.dish-network {
  .headline {
    @include breakpoint($desktop) { margin: 60px 0 30px; }
  }

  .note {
    text-align: center;
    line-height: 1.6;

    @include breakpoint($mobile) {
      padding: 30px 20px;
    }

    @include breakpoint($desktop) {
      margin: 0 auto;
      max-width: 680px;
      padding: 30px 0;
    }
  }

  .link {
    line-height: 1.6;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px;
    display: inline-block;
  }
}

.directv {
  .headline {
    @include breakpoint($mobile) { margin: 30px 0; }
    @include breakpoint($desktop) { margin: 60px 0; }
  }  
}

.tri-am-group,
.local-channels,
.dish-network {
  text-align: center;

  .clear-table {
    text-align: left;
  }
}

.dish-network {
  .link {
    margin-bottom: 60px;
  }
}

.cities-119 {
  .cities {
    padding: $lil-bump;
    line-height: 1.6;
  }

  @include breakpoint($mobile) {
    .popup-guts {
      margin-bottom: 30px;
    }
  }

  @include breakpoint($desktop) {
    .popup-guts {
      width: 600px;
      margin-left: -300px;
    }

    .view-head {
      margin-bottom: 0;
    }

    .cities {
      max-height: 100%;
      overflow: auto;
    }
  }
}

body[class=''] .\#service-provider-view,
.\/tri-am-group .\#tri-am-group-view,
.\/local-channels .\#local-channels-view,
.\/directv .\#directv-view,
.\/dish-network .\#dish-network-view,
.\/cities-119 .\#cities-119-view,
.\/spinner .\#spinner-view {
  display: block;
}

@include breakpoint($desktop) {
  .\/cities-119 .\#directv-view {
    display: block;
  }
}


//  satellites
////////////////////////////////////////////////////////////////////////////////

.options .view-head {
  margin-bottom: 100px;
}

.options,
.circular-options,
.tv5-manual-options {
  .copy {
    line-height: 1.4;
    margin: 0 auto 40px;
    max-width: 680px;
    text-align: center;
  }

  @include breakpoint($mobile) {
    .copy {
      padding: 0 20px;
      margin: 20px auto;
    }
  }
}

.region-table {
  @include blue-table;
  width: $sidebar-width;

  .table-row {
    cursor: pointer;
  }

  @include breakpoint($mobile) {
    .table-row.\$selected {
      background-color: $light-blue;
    }

    .table-row {
      @include bgimg('right-icon-blue', 98% 50%, $fine-icon, auto);
    }
  }
}

.group-table {
  @extend .region-table;

  .table-row {
    .install-btn {
      @include bgimg('radio-unchecked');
      display: inline-block;
      padding: 0;
      margin-left: 15px;
    }

    &.\$installed .install-btn {
      @include bgimg('radio-checked');
    }
  }
}

.sat-table {
  @include alt-table;
  overflow: auto;

  .table-head {
    background-color: $light-blue;
    font-size: $fine-font;
    min-height: $lil-bump;

    .table-col { padding: 7px 15px; }
    .sort-btn { cursor: pointer; }
    .sort-btn.\$ascending { @include bgimg('up-icon-white'); }
    .sort-btn.\$descending { @include bgimg('down-icon-white'); }

    .sort-btn.\$ascending,
    .sort-btn.\$descending {
      background-color: $bright-blue;
      background-position: right 15px center;
      background-size: 9px;
    }
  }

  //  for the fixed header
  .table-head+.table-row {
    margin-top: $lil-bump;
  }

  .table-row {
    font-size: $small-font;

    .install-btn {
      @include bgimg('radio-unchecked');
      cursor: pointer;
      margin: auto;
      width: 21px;
    }

    &.\$installed {
      .install-btn { background-image: url(/images/radio-checked.svg); }
      background-color: $bright-blue;
    }
  }
  
  .install-col {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  @include breakpoint($desktop) {
    width: 800px - $sidebar-width - 10px;

    .install-col {  width: 11%; }
    .name-col {   width: 29%; }
    .orb-slot-col { width: 28%; }
    .region-col {   width: 32%; }

    .popup & { height: 100%; }
  }

  @include breakpoint($mobile) {
    .table-head {
      position: fixed;
      top: $header-height + $big-bump;// view-head height
    }

    .install-col {  width: 15%; }
    .name-col {   width: 50%; }
    .orb-slot-col { width: 35%; }
    .region-col {   display: none; }
    .fav-col {    display: none; }
  }

  .popup & {
    .table-row {
      cursor: pointer;
    }
  }
}

.single-view,
.group-view {
  .copy {
    margin-bottom: 30px;
    text-align: center;
  }

  .container {
    position: relative;
  }

  .group-table .block-btn {
    margin: $sidebar-padding;
    width: calc(100% - #{$sidebar-padding * 2});
  }

  @include breakpoint($mobile) {
    .copy {
      display: none;
    }

    .left, .right {
      width: 100%;
    }

    .container-head {
      display: none;
    }

    .single-sat-table {
      top: 0;
    }
  }

  @include breakpoint($desktop) {
    .container {
      background-color: darken($dark-grey, 10);
      height: 600px;
      margin-bottom: 30px;
      width: 100%;

      .container-head {
        @include mobile-view-head;
        @include breakpoint($mobile) { display: none; }
        top: 0;
      }

      .left {
        left: 0;
        position: absolute;
        right: auto;
        width: $sidebar-width;
      }

      .right {
        left: auto;
        position: absolute;
        right: 0;
        width: calc(100%  - #{$sidebar-width} - 10px);
      }
    }

    .region-table,
    .single-sat-table,
    .group-table,
    .group-info {
      top: $big-bump;
    }

    .sat-table {
      overflow: auto;
      max-height: 600px - $big-bump;
    }
  }
}

.group-sat-table {
  width: 100%;
  .name-col { width: 34%; }
  .orb-slot-col { width: 33%; }
  .region-col { display: inline-block; width: 33%; }
}




@mixin label {
  font-size: $small-font;
  color: $bright-grey;
}

@mixin thin-black-bar {
  background-color: #000;
  font-size: $small-font;
  height: $lil-bump;
  padding: ($lil-bump - $small-font)/2;
  text-align: center;
  width: 100%;
}

@mixin desktop-slot-head {
}

@mixin desktop-slot-foot {
  @include thin-black-bar;
  position: absolute;
  bottom: 0;
}

@mixin desktop-slot($class: false) {
  @include split(2, 30px, $class);
  background-color: $dark-grey;
  position: relative; 

  .slot-head, .slot-foot {
    @include thin-black-bar;
    position: absolute;
  }

  .slot-head { top: 0; }
  .slot-foot { bottom: 0; }
}

@mixin mobile-slot {
  @include table-row;
  width: calc(100% - #{$table-row-padding*4});
  margin: auto;
  padding: $table-row-padding;

  &.name-block {
    margin: $table-row-padding auto $table-row-padding * 2;
    border-bottom: 0;
  }

  &.first {
    border-top: 1px solid $bright-blue;
  }

  .slot-head,
  .name-label {
    @include label;
    padding-bottom: $table-row-padding/2;
  }

  .info-btn,
  .slot-foot {
    display: none;
  }
}

.group-info {
  @include breakpoint($desktop) {
    .name-block {
      width: 100%;
      text-align: center;
      padding: 30px;
      .name-label { display: none; }
    }

    .slot {
      @include desktop-slot('.slot');
      height: 140px;

      .slot-foot {
        color: #000;
      }

      .install-btn, .info-btn, .sat-name {
        position: absolute;
        top: 50%;
      }

      .install-btn, .info-btn {
        cursor: pointer;
        margin-top: $medium-icon/-2;
      }

      .sat-name {
        margin-top: $medium-font/-2;
        text-align: center;
        width: 100%;
      }

      .install-btn {
        @include bgimg('radio-unchecked');
        display: none;
        left: 25px;
      }

      .info-btn {
        @include bgimg('info-icon');
        right: 25px;
        display: none;
      }
    }

    //  if the group is installed
    &.\$installed .slot {
      .install-btn {
        display: block;
      }

      //  if group installed and sat installed
      &.\$installed {
        background-color: $light-blue;
        .slot-head, .slot-foot {
          background-color: $bright-blue;
          color: #fff;
        }

        .install-btn {
          @include bgimg('radio-checked');
        }
      }
    }
  }
}

.group-edit,
.group-info {
  @include breakpoint($mobile) {
    .name-block,
    .slot {
      @include mobile-slot;
    }

    .install-btn {
      cursor: pointer;
    }

    .block-btn.install-btn {
      margin: 30px;
      display: block;
    }

    .btn-tray {
      .block-btn {
        @include split(2, $btn-tray-padding, '.block-btn');
        display: inline-block;
        margin-bottom: 0;
      }

      .install-btn {
        display: none;
      }
    }

    &.\$installed .slot {
      padding-left: ($table-row-padding * 2) + $medium-icon;
      .install-btn {
        @include bgimg('radio-unchecked');
        position: absolute;
        left: $table-row-padding;
        top: 50%;
        margin-top: $medium-icon/-2;
      }

      &.\$installed .install-btn {
        @include bgimg('radio-checked');
      }
    }

    &.\$predefined .btn-tray {
      display: none;
    }

    &.group-edit {
      .group-name {
        padding-left: 16px;
        margin-left: -16px;
        width: calc(100% + 32px);
      }

      .slot {
        @include bgimg('right-icon-blue', 98% 50%, $fine-icon, auto);
        cursor: pointer;
      }
    }
  }

  //  if the sat is n/a, don't show install/info btns
  .slot.\$n\/a {
    .install-btn, .info-btn{
      display: none;
    }
  }

  //  can't install if already installed
  &.\$installed .btn-tray .install-btn {
    display: none;
  }

  //  can't edit/delete if the group is predefined
  &.\$predefined .btn-tray {
    .edit-btn, .delete-btn {
      display: none;
    }
  }
}

.group-edit {
  @include breakpoint($desktop) {
    &.popup-guts {
      height: 540px;
      margin-top: -270px;
    }

    .name-block,
    .slot {
      @include mobile-slot;
    }

    &.\$installed .slot {
      padding-left: ($table-row-padding * 2) + $medium-icon;
      .install-btn {
        @include bgimg('radio-unchecked');
        position: absolute;
        left: $table-row-padding;
        top: 50%;
        margin-top: $medium-icon/-2;
      }

      &.\$installed .install-btn {
        @include bgimg('radio-checked');
      }
    }

    &.group-edit {
      .group-name {
        padding-left: 16px;
        margin-left: -16px;
        width: calc(50% + 16px);
      }

      .slot {
        @include bgimg('right-icon-blue', 98% 50%, $fine-icon, auto);
        cursor: pointer;
      }
    }
  }
}

.group-info,
.group-edit {
  .block-btn.install-btn {
    display: block;
  }

  &.\$installed .block-btn.install-btn {
    display: none;
  }
}


.\/options .\#options-view,
.\/circular-options .\#circular-options-view,
.\/tv5-manual-options .\#tv5-manual-options-view {
  display: block;
}

//  mobile
@include breakpoint($mobile) {
  .region-table,
  .single-sat-table,
  .group-table,
  .group-info {
    display: none;
  }

  //  single mode
  .\/regions,
  .\/regions\/region {
    .\#single-view {
      display: block;
    }
  }

  .\/regions .\#region-table-view,
  .\/regions\/region .\#single-sat-table-view {
    display: block;
  }

  //  group mode
  .\/groups,
  .\/groups\/group,
  .\/groups\/group\/edit,
  .\/groups\/group\/edit\/sats {
    .\#group-view {
      display: block;
    }
  }

  .\/groups .\#group-table-view,
  .\/groups\/group .\#group-info-view,
  .\/groups\/group\/edit .\#group-edit-view,
  .\/groups\/group\/edit\/sats .\#group-sat-table-view {
    display: block;
  }

  .\/groups\/group\/edit,
  .\/groups\/group\/edit\/sats {
    .bottom-bar {
      display: none;
    }
  }
}

//  desktop
@include breakpoint($desktop) {
  //  single mode
  .\/regions,
  .\/regions\/region {
    .\#single-view,
    .\#region-table-view,
    .\#single-sat-table-view {
      display: block;
    }
  }
  
  //  group mode
  .\/groups,
  .\/groups\/group,
  .\/groups\/group\/edit,
  .\/groups\/group\/edit\/sats {
    .\#group-view,
    .\#group-table-view,
    .\#group-info-view {
      display: block;
    }
  }

  .\/groups\/group\/edit .\#group-edit-view,
  .\/groups\/group\/edit\/sats .\#group-sat-table-view {
    display: block;
  }
}

//  system
////////////////////////////////////////////////////////////////////////////////

.skew-angle {
  .skew-table {
    @extend .clear-table;

    margin: 30px 0;

    .slot-col {
      text-align: center;
      width: 15%;
    }

    .sat-col { width: 55%; }
    .skew-col { width: 30%; }

    .table-head {
      background-color: $light-blue;
      min-height: $lil-bump;
      position: relative;
      font-size: $fine-font;
      line-height: 1;
      border-bottom: 0;
      .table-col {
        font-size: $fine-font;
        padding: 7px 15px;
      }
    }

    .table-row {
      cursor: default;

      .table-col {
        font-size: $small-font;
        padding: 13px 15px;
      }      
    }
  }

  .single {
    margin: 30px 0;
  }

  .single,
  .important {
    font-size: $large-font;
  }

  .link {
    display: block;
    text-align: center;
  }

  .skew-image {
    width: 90%;
    margin: 5%;
  }

  @include breakpoint($desktop) {
    .column {
      @include split(2, 20px, 'column');
      line-height: 1.6;
      vertical-align: middle;
    }
  }

  @include breakpoint($mobile) {
    .column {
      margin: 20px;
      line-height: 1.4;
    }

    .skew-table {
      width: 100%;
    }
  }
}

.linear-system-config,
.other-system-config {
  .copy {
    line-height: 1.4;
    margin: 0 auto 40px;
    max-width: 680px;
    text-align: center;
  }

  @include breakpoint($mobile) {
    .copy {
      padding: 0 20px;
      margin: 20px auto;
    }

    .grey-box-table .image {
      height: 200px;
      margin-bottom: 40px;
    }
  }

  @include breakpoint($desktop) {    
    .grey-box-table {
      .table-row {
        width: 255px;
      }

      .table-row+.table-row {
        margin-left: 15px;
      }

      .image {
        height: 220px;
        background-size: 90% 90%;
        margin: 20px 0 55px;
      }
    }
  }
}

.linear-system-config {
  .copy {
    margin-bottom: 20px;
  }

  .clear-table {
    @include breakpoint($desktop) {
      max-width: 700px;
    }

    .info-btn {
      @include bgimg('info-icon');
      height: 100%;
      padding: 0;
      position: absolute;
      right: 0;
    }
  }

  .subtitle {
    font-size: $small-font;
    position: relative;
    text-align: left;
    @include breakpoint($desktop) {
      margin-left: 5px;
    }
  }

  @include breakpoint($mobile) {
    .info-btn,
    .install-btn {
      position: absolute;
    }

    .content-col {
      padding-left: 40px;
      padding-right: 40px;
    }

    .table-row {
      line-height: 1.6;
    }
  }
}

.other-system-config {
  .subtitle {
    bottom: 20px;
    font-size: $small-font;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}

.diagram-image {
  margin: 4%;
  height: 92%;
  width: 92%;
}

body[class=""] .\#skew-angle-view,
.\/skew-angle .\#skew-angle-view,
.\/other-system-config .\#other-system-config-view,
.\/linear-system-config .\#linear-system-config-view,
.\/diagram-1 .\#diagram-1-view,
.\/diagram-2 .\#diagram-2-view,
.\/diagram-3 .\#diagram-3-view,
.\/diagram-4 .\#diagram-4-view {
  display: block;
}

@include breakpoint($desktop) {
  .\/diagram-1 .\#linear-system-config-view,
  .\/diagram-2 .\#linear-system-config-view,
  .\/diagram-3 .\#linear-system-config-view,
  .\/diagram-4 .\#linear-system-config-view {
    display: block;
  }
}

//  checkswitch
////////////////////////////////////////////////////////////////////////////////

.config-1,
.config-2,
.config-3 {
  .important {
    font-size: $large-font;
    margin-top: 30px;
  }

  .video-iframe {
    display: block;
  }

  @include breakpoint($mobile) {
    .column {
      padding-left: 20px;
      padding-right: 20px;
      line-height: 1.4;
    }

    .video-iframe {
      width: 300px;
      height: 253px;
      margin: 30px auto;
    }
  }

  @include breakpoint($desktop) {
    .column {
      @include split(2, 20px, 'column');
      line-height: 1.6;
      vertical-align: middle;
    }

    .video-iframe {
      width: 390px;
      height: 330px;
      margin: 0 auto;
    }
  }
}

.complete-1,
.complete-2,
.complete-3 {
  .column {
    position: relative;
  }

  .bullet {
    left: 0;
    top: 50%;
    margin-top: -23px;
  }

  .copy {
    padding-left: 65px;
    line-height: 1.4;
  }

  @include breakpoint($mobile) {
    .column {
      margin: 30px 0;
      padding: 0 20px;
    }

    .bullet {
      left: 20px;
    }
  }

  @include breakpoint($desktop) {
    .column {
      @include split(2, 20px, 'column');
      vertical-align: middle;
      margin-top: 30px;
    }    
  }
}

.\/config-1 .\#config-1-view,
.\/config-2 .\#config-2-view,
.\/config-3 .\#config-3-view,
.\/complete-1 .\#complete-1-view,
.\/complete-2 .\#complete-2-view,
.\/complete-3 .\#complete-3-view,
.\/diagram-1 .\#diagram-1-view,
.\/diagram-2 .\#diagram-2-view,
.\/diagram-3 .\#diagram-3-view {
  display: block;
}

@include breakpoint($desktop) {
  .\/diagram-1 .\#complete-1-view,
  .\/diagram-2 .\#complete-2-view,
  .\/diagram-3 .\#complete-3-view {
    display: block;
  }
}

//  autoswitch
////////////////////////////////////////////////////////////////////////////////

.autoswitch-icon {
  @include bgimg('autoswitch-icon-white');
  display: inline-block;
  margin-right: 5px;
  vertical-align: text-top;
}

.receiver-table {
  @include breakpoint($mobile) {
    @include grey-table;

    .table-row {
      @include bgimg('right-icon-blue', 98% 50%, $fine-icon, auto);
      cursor: pointer;

      .label,
      .status-col,
      .id-col,
      .edit-col {
        display: none;
      }

      .select-col {
        padding-right: 0;
      }

      .select-icon {
        @include bgimg('grey-dot-icon');
        display: inline-block;
        padding: 0;
        cursor: pointer;
      }

      &.\$active .select-icon {
        @include bgimg('green-dot-icon');
      }

      &.\$master {
        background-color: $bright-blue;
        background-image: url(/images/right-icon-white.svg);
        .select-icon {
          @include bgimg('radio-checked');
        }
      }
    }    
  }

  @include breakpoint($desktop) {
    @include table;

    .table-row {
      @include table-row;
      background-color: #000;
      border-bottom: 0;
      margin-bottom: 20px;
      border: 1px solid $light-grey;

      .table-col {
        @include table-col;
        padding: 20px;
      }

      .select-col,
      .status-col {
        width: 10%;
        vertical-align: top;
        padding-bottom: 0;
        .label {
          text-align: center;
          margin-bottom: 7px;
        }
      }

      .name-col,
      .id-col {
        width: 27%;
        .label {
          margin-bottom: 10px;
        }
      }

      .edit-col {
        width: 26%;
        .edit-btn {
          width: 100%;
        }
      }

      .label {
        font-size: $small-font;
        color: $bright-grey;
        white-space: nowrap;
      }

      .value {
        white-space: nowrap;
      }

      .select-icon,
      .status-icon {
        @include bgimg('grey-dot-icon');
      }

      &.\$hub {
        .edit-btn {
          display: none;
        }
      }

      &.\$active {
        border-color: $green;

        .status-icon {
          background-image: url('/images/green-dot-icon.svg');
        }

        .select-icon {
          @include bgimg('radio-unchecked');
          cursor: pointer;
        }
      }

      &.\$master {
        background-color: $light-blue;
        border-color: $light-blue;

        .select-icon {
          @include bgimg('radio-checked');
          cursor: default;
        }
      }
    }
  }
}

.receiver-table-view {
  .copy {
    display: none;
    font-size: $small-font;
    line-height: 1.4;
    margin-bottom: 1.4em;

    .note,
    .link {
      margin: 1.4em 0;
    }

    .link {
      color: $bright-grey;
      text-decoration: underline;
    }

    @include breakpoint($mobile) {
      margin: 1.4em;
    }

    &.come-back-copy {
      display: inline-block;
      margin-left: 20px;
      max-width: 400px;
      vertical-align: top;
      margin-bottom: 100px;

      @include breakpoint($mobile) {
        display: block;
        text-align: center;
        margin: auto;
        margin-bottom: 100px;
        max-width: 300px;
      }
    }
  }

  .new-btn {
    display: inline-block;
    vertical-align: top;

    @include breakpoint($mobile) {
      display: block;
      margin: $sidebar-padding;
    }
  }
}

.receiver-info,
.receiver-edit {
  @include breakpoint($mobile) {
    //  only appears on mobile
    padding: 20px;

    .edit-btn,
    .select-btn,
    .cancel-btn,
    .save-btn {
      @include split(2, $btn-tray-padding, '.block-btn');
      margin-bottom: 0;
    }

    .select-btn {
      display: none;
    }

    .remove-btn {
      width: 100%;
      margin-top: 30px;
      background-color: $red;
    }

    .label {
      color: $bright-grey;
      font-size: $small-font;
      margin: 0 0 10px 10px;
    }

    .value {
      margin: 0 0 30px 10px;
    }

    .input {
      margin-bottom: 25px;
      margin-left: 0;
      width: 100%;
    }

    .status-icon {
      @include bgimg('grey-dot-icon', left center);
      border-bottom: 1px solid $bright-blue;
      border-top: 1px solid $bright-blue;
      line-height: 21px;
      margin: 0;
      padding: 13px 35px;
    }

    .master-icon { display: none; }

    .\$active & {
      .status-icon {
        background-image: url(/images/green-dot-icon.svg);
      }

      .select-btn {
        display: inline-block;
      }
    }

    .\$hub & .edit-btn {
      display: none;
    }

    .\$master & {
      .select-btn { display: none; }

      .master-icon {
        @include bgimg('radio-checked', right center);
        display: block;
        line-height: 21px;
        padding-right: 35px;
        position: absolute;
        right: $btn-tray-padding * 2;
        text-align: right;
        top: 20px;
      }
    }
  }

  @include breakpoint($desktop) {
    max-width: 700px;
    max-height: 280px;
    margin-left: -350px !important;
    margin-top: -140px !important;

    .btn-tray {
      margin: $lil-bump;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      border-top: 1px solid $bright-blue;
      width: 648px;
    }

    .label,
    .input {
      width: 310px;
      position: absolute;
    }

    .label {
      color: $bright-grey;
      padding-left: 11px;
      top: 80px;
    }

    .input {
      top: 110px;
      margin: 0;
    }

    .name-input,
    .name-label {
      left: $lil-bump;
    }

    .id-input,
    .id-label {
      right: $lil-bump;
    }

    .status-icon {
      display: none;
    }

    .remove-btn {
      background-color: $red;
      position: absolute;
      bottom: $lil-bump;
      left: $lil-bump;
      width: 130px;
      z-index: 1;
    }
  }
}


//  routing
////////////////////////////////////////////////////////////////////////////////

//  mobile
@include breakpoint($mobile) {
  body[class=''] .\#receiver-table-view,
  .\/receiver .\#receiver-info-view,
  .\/receiver\/edit .\#receiver-edit-view {
    display: block;
  }
}

//  desktop
@include breakpoint($desktop)  {
  .\#receiver-table-view,
  .\/receiver\/edit .\#receiver-edit-view {
    display: block;
  }
}



//  activation
////////////////////////////////////////////////////////////////////////////////

.generic-activation,
.directv-activation,
.dish-activation,
.bell-activation,
.complete-activation {
  .headline {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .copy {
    line-height: 1.6;
    max-width: 540px;
    margin: 0 auto;
    @include breakpoint($mobile) {
      font-size: $small-font;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .cta,
  .phone {
    font-size: $large-font;
  }

  .cta {
    margin-top: 30px;
  }

  .cta,
  .phone,
  .time {
    text-align: center;
    margin-bottom: 15px;
  }
}

.directv-activation {
  @include breakpoint($desktop) {
    .column {
      @include split(2, 20px, 'column');
      line-height: 1.6;
      vertical-align: top;
    }
  }

  .link {
    display: block;
    margin: 30px auto 40px;
    max-width: 280px;
    text-align: center;
  }
}

.generic-activation,
.complete-activation {
  .headline,
  .copy {
    text-align: center;
  }
}

.\/generic-activation .\#generic-activation-view,
.\/directv-activation .\#directv-activation-view,
.\/dish-activation .\#dish-activation-view,
.\/bell-activation .\#bell-activation-view,
.\/complete-activation .\#complete-activation-view {
  display: block;
}


//  spinner
////////////////////////////////////////////////////////////////////////////////

.\/spinner .\#spinner-view,
.\/geo-spinner .\#geo-spinner-view,
.\/checkswitch-spinner .\#checkswitch-spinner-view {
  display: block;
}

.spinner {
  @extend %animated-spinner;
  width: 200px;
  height: 200px;
  margin: 30px auto;
  display: block; 
}

.spinner-view .exit-btn {
  cursor: pointer;
}