@import "base.scss";

.updates-icon {
  @include bgimg('updates-icon-white');
  display: inline-block;
  margin-right: 5px;
  vertical-align: text-top;
}

.menu-table {
  @include blue-table;

  .table-row {
    cursor: pointer;
  }

  @include breakpoint($mobile) {
    .table-row.\$selected {
      background-color: $light-blue;
    }

    .table-row {
      @include bgimg('right-icon-blue', right 15px center, $fine-icon);
    }
  }

  .update-label {
    @include text-shadow;
    display: inline;
  }

  .connected-label {
    @include text-shadow;
    color: $green;
    display: none;
  }

  .\$connected .connected-label {
    display: inline;
  }

  .version-label {
    color: $bright-grey;
    font-size: $small-font;
    margin-top: .5em;
    white-space: nowrap;
  }

  .antenna-version-label,
  .connected-version-label {
    display: none;
  }

  .\$connected .antenna-version-label {
    display: block;
  }

  .\$antenna.\$connected .connected-version-label {
    display: block;
  }

  .\$sat-library .antenna-version-label {
    display: block;
  }

  .device-version-label {
    display: none;
  }
}

.update {
  .install-btn,
  .download-btn,
  .block-btn {
    z-index: 2;
    position: relative;
  }

  .block-btn {
    margin-top: 15px;
    display: none;
    min-width: 120px;
  }

  .flash-all-btn {
    margin-left: 15px;
  }

  &.\$up-to-date .system-version .bg {
    height: 120px;
  }

  &.\$antenna.\$connected.\$tech-mode {
    .system-version .bg {
      height: 155px;
    }

    &.\$up-to-date .system-version .bg {
      height: 175px;
    }

    .block-btn {
      display: inline-block;
    }
  }

  @include breakpoint($desktop) {
    max-width: 400px;
  }
  
  .section {
    position: relative;
    padding: 30px 0;
    margin-bottom: 80px;

    .bg {
      position: fixed;
      left: 0;
      margin-top: -30px;
      background: #fff;
      height: 100px;
      opacity: 0.07;
      width: 100%;
      border-bottom: 3px solid #bbb;
      z-index: 0;
    }
 
    .desktop-version .bg {
      height: 75px;
    }

    .version {
      color: $bright-grey;
      padding-top: 8px;
    }

    .cta {
      bottom: -30px;
      color: $green;
      left: 110px;
      position: absolute;
    }

    .not-connected-label,
    .not-available-label {
      color: $red;
    }
  }

  .download-btn {
    @include bgimg('download', center, 80px, 80px);
  }

  .install-btn {
    @include bgimg('no-download', center, 80px, 80px);
  }

  .download-btn,
  .install-btn {
    cursor: pointer;
    position: absolute;
    bottom: -65px;
    left: 15px;
    height: 80px;
    width: 80px;
    z-index: 1;
    border-radius: 100%;

    input {
      cursor: pointer;
      height: 100%;
      opacity: 0.01;
      width: 100%;
      display: none;
    }
  }

  .mobile-version {
    display: none;
  }

  .connected-label,
  .not-available-label {
    display: none;
  }

  &.\$connected {
    .connected-label,
    .system-version {
      display: block;
    }
    
    .not-connected-label {
      display: none;
    }

    .install-btn {
      background-image: url(/images/download.svg);
      input {
        display: block;
      }
    }
  }

  &.\$has-downloaded-latest {
    .download-btn {
      background-image: url(/images/up-to-date.svg);
    }

    .cta.available-label {
      color: $grey;
    }
  }

  &.\$not-available {
    .available-label {
      display: none;
    }

    .not-available-label {
      display: block;
    }

    .download-btn {
      background-image: url(/images/no-download.svg);
    }
  }

  .up-to-date-label {
    display: none;
  }

  &.\$up-to-date {
    .install-btn {
      background-image: url(/images/up-to-date.svg);
    }

    .not-up-to-date-label {
      display: none;
    }

    .up-to-date-label {
      display: block;
    }

    .device-version .up-to-date-label {
      color: $grey;
    }

    .system-version .up-to-date-label {
      color: $green;
      margin-top: 0.5em;
    }
  }

  @include breakpoint($mobile) {
    padding: 0 20px;

    .portal-version {
      margin-top: 40px;
    }

    .section .bg {
      position: absolute;
      width: calc(100% + 40px);
      margin-left: -20px;
      height: 100%;
    }
  }
}

@include breakpoint($mobile) {
  .sidebar,
  .\/update .\#update-view {
    display: block;
  }

  .\/update .sidebar {
    display: none;
  }
}

@include breakpoint($desktop) {
  .sidebar {
    z-index: 1;
  }

  .sidebar,
  .\#update-view {
    display: block;
  }
}