/*       *\

    ^3^

\*       */


.mcg {
	width: 800px;
}

.mc .headline {
	margin-top: 60px;
	text-align: center;
}

.setting {
	position: relative;
}

.setting p {
	color: #ccc;
	line-height: 200%;
	margin-left: 170px;
}

.setting .of-btn {
	float: left;
	margin-top: 40px;
}