/*Created with Adobe RoboHelp 9.*/
BODY {
	x-next-page: page-with-header;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
}
h1 {
	margin-left: 0px;
	margin-right: 0px;
	text-align: left;
	text-indent: 0px;
	word-spacing: 0.250em;
	color: #000000;
	letter-spacing: 0.00em;
	margin-left: 0px;
	margin-bottom: 8px;
	margin-top: 0px;
	margin-right: 0px;
	font-style: normal;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	x-next-class: ;
	x-next-type: P;
	font-size: 150%;
	text-decoration: none;
}
h2 {
	text-align: left;
	text-indent: 0px;
	word-spacing: 0.250em;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	letter-spacing: 0.00em;
	margin-left: 0px;
	margin-bottom: 8px;
	margin-top: 0px;
	margin-right: 0px;
	font-family: Arial, Helvetica, sans-serif;
	x-next-class: ;
	x-next-type: P;
	font-size: 140%;
	text-decoration: none;
}
h3 {
	margin-right: 0px;
	text-align: left;
	text-indent: 0px;
	word-spacing: 0.250em;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	letter-spacing: 0.00em;
	margin-left: 0px;
	margin-bottom: 8px;
	font-family: Arial, Helvetica, sans-serif;
	x-next-class: ;
	x-next-type: P;
	font-size: 120%;
	margin-top: 36px;
	text-decoration: none;
}
h4 {
	margin-right: 0px;
	text-align: left;
	text-indent: 0px;
	word-spacing: 0.250em;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	letter-spacing: 0.00em;
	margin-left: 0px;
	margin-bottom: 8px;
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
	x-next-class: ;
	x-next-type: P;
	font-size: 100%;
	text-decoration: none;
}
P {
	margin-left: 0px;
	margin-right: 0px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
	margin-bottom: 18px;
	font-size: 100%;
}
p.Title {
	margin-left: 0px;
	margin-right: 0px;
	text-align: left;
	text-indent: 0px;
	margin-top: 22px;
	margin-bottom: 11px;
	word-spacing: 0.250em;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	letter-spacing: 0.00em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	text-decoration: none;
}
p.CellBody {
	margin-left: 0px;
	margin-right: 0px;
	text-align: left;
	text-indent: 0px;
	margin-top: 0px;
	word-spacing: 0.250em;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0.00em;
	margin-bottom: 0px;
	text-decoration: none;
}
p.CellHeading {
	margin-left: 0px;
	margin-right: 0px;
	text-align: left;
	text-indent: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	word-spacing: 0.250em;
	letter-spacing: 0.00em;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}
p.Footnote {
	margin-right: 0px;
	text-align: left;
	word-spacing: 0.250em;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	letter-spacing: 0.00em;
	margin-bottom: 18px;
	margin-top: 5px;
	margin-left: 0px;
	font-size: 90%;
	text-decoration: none;
}
span.PageNumber {
	font-weight: bold;
}
span.Emphasis {
	font-style: italic;
}
span.WebJump {
}
span.Superscript {
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: normal;
	color: #000000;
	letter-spacing: 0.00em;
}
span.Underline {
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0.00em;
	text-decoration: underline;
}
span.Bold {
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.00em;
}
span.White {
	color: #ffffff;
}
span.Emphasis {
	font-style: italic;
}
span.Symbol {
	font-family: Symbol;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.GreyBold {
	font-weight: bold;
	color: #3f3f3f;
}
span.Subscript {
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: normal;
	color: #000000;
	letter-spacing: 0.00em;
}
p.breadcrumbs {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 120%;
}
p.Figure {
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 90%;
}
p.Note {
	font-style: italic;
	color: #000000;
}
p.TextBeforeList {
	margin-bottom: 5px;
}
p.TextBetweenLists {
	margin-top: 30px;
	margin-bottom: 5px;
}
p.SignalWord {
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 125%;
}
p.TextAfterList {
	margin-top: 30px;
}
p.KVHLCD {
	font-family: "Courier New", Courier, Monotype;
	margin-bottom: 0px;
	font-weight: bold;
	color: #000000;
}
li.KVHBullet {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}
p.Trademark {
	font-style: italic;
	font-size: 90%;
}
p.Graphic {
	margin-bottom: 24px;
}
A.breadcrumbs {
	font-size: 100%;
}
A.popupspot {
}
li.StepList {
	margin-left: 0px;
	margin-right: 0px;
	list-style: decimal;
	margin-top: 0px;
	margin-bottom: 18px;
}
li.BulletList {
	list-style: disc;
	margin-left: 0px;
	margin-top: 18px;
	margin-bottom: 0px;
}
p.Step {
	margin-top: 0px;
	margin-bottom: 18px;
	font-family: Arial, Helvetica, "MS Sans Serif";
	list-style: rh-list;
	x-list-class: StepNumbered;
	x-list-level: 1;
	text-indent: 20in;
	margin-left: 50px;
}
rh-list.StepNumbered {
	x-lvl-2-type: lower-alpha;
	x-lvl-2-format: "<x>&c";
	x-lvl-2-margin: 20px;
	x-lvl-3-type: lower-roman;
	x-lvl-3-format: "<x>&c";
	x-lvl-3-margin: 40px;
	x-lvl-4-type: decimal;
	x-lvl-4-format: "&o<x>&c";
	x-lvl-4-margin: 60px;
	x-lvl-5-format: "&o<x>&c";
	x-lvl-5-margin: 80px;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "&o<x>&c";
	x-lvl-6-margin: 100px;
	x-lvl-8-type: lower-alpha;
	x-lvl-8-margin: 140px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-margin: 120px;
	x-lvl-9-type: lower-roman;
	x-lvl-9-margin: 160px;
	x-lvl-1-pfx-class: rls-1-StepNumbered;
	x-level-count: 9;
	x-lvl-1-format: "<x>.";
	x-lvl-1-margin: 30px;
	x-lvl-1-text-indent: -30px;
	x-lvl-1-p-class: Step;
	x-lvl-1-p-tag: p;
}
span.rls-1-StepNumbered {
	color: #000000;
	font-family: Arial, Helvetica, "MS Sans Serif";
	font-size: 100%;
	font-weight: bold;
}
A.dropspot {
}
span.Button {
	color: #800000;
	font-weight: bold;
}
DIV.droptext {
}
table.Warning tr.t1st td {
	font-weight: bold;
	background-color: #ff7f00;
	font-size: 100%;
	text-align: left;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
table.Warning td {
	padding: 5px;
}
table.Warning {
	x-1st-row: 1;
	x-1st-row-name: t1st;
	/*width: 95%;*/
	border: 2px solid #808080;
	border-collapse: collapse;
	margin-bottom: 18px;
}
table.Caution tr.t1st td {
	font-weight: bold;
	background-color: #ffff00;
	font-size: 100%;
	text-align: left;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
table.Caution td {
	padding: 5px;
}
table.Caution {
	x-1st-row: 1;
	x-1st-row-name: t1st;
	/*width: 95%;*/
	border: 2px solid #808080;
	border-collapse: collapse;
	margin-bottom: 18px;
}
table.Danger tr.t1st td {
	font-weight: bold;
	background-color: #ff0000;
	font-size: 100%;
	text-align: left;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
table.Danger td {
	padding: 5px;
}
table.Danger {
	x-1st-row: 1;
	x-1st-row-name: t1st;
	/*width: 95%;*/
	border: 2px solid #808080;
	border-collapse: collapse;
	margin-bottom: 18px;
}
table.Important tr.t1st td {
	font-weight: bold;
	text-align: left;
	background-color: #ffff00;
	font-size: 100%;
	vertical-align: middle;
	padding: 5px;
}
table.Important td {
	padding: 5px;
}
table.Important {
	x-1st-row: 1;
	x-1st-row-name: t1st;
	/*width: 95%;*/
	border: 2px solid #808080;
	border-collapse: collapse;
	margin-bottom: 18px;
}
span.Blue {
	color: #0000ff;
}
span.Red {
	color: #ff0000;
}
H5 {
	font-family: Arial, Helvetica, sans-serif;
}
H6 {
	font-family: Arial, Helvetica, sans-serif;
}
li.TableBullet {
	list-style: disc;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}
table.SimpleGridBlack {
	padding: 0px;
	border-top: Solid 2px #808080;
	border-left: Solid 2px #808080;
	x-border-spacing: 0px;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	border-collapse: collapse;
	margin-bottom: 18px;
	/*width: 95%;*/
}
table.SimpleGridBlack td {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}
table.SimpleGridBlack tr.t1Row td {
	border-right-style: Solid;
	border-right-width: 2px;
	border-right-color: #808080;
	border-bottom-style: Solid;
	border-bottom-width: 2px;
	border-bottom-color: #808080;
}
table.SimpleGridBlack tr.t2Row td {
	border-right-style: Solid;
	border-right-width: 2px;
	border-right-color: #808080;
	border-bottom-style: Solid;
	border-bottom-width: 2px;
	border-bottom-color: #808080;
}
SPAN.glosstext {
	color: #008000;
}
