/*       *\

    ^3^

\*       */

.contact-region {
	padding: 0 20px 20px;
}

.region-name {
	line-height: 130%;
}

.contact-region a {
	display: block;
	margin-top: 6px;
	text-align: center;
}

/*                           *\

     SMALL & MEDIUM SHARED

\*                           */

@media screen and (max-width: 880px) {

}

/*                *\

     SMALL SOLO

\*                */

@media screen and (max-width: 540px) {

}

/*                 *\

     MEDIUM SOLO

\*                 */

@media screen and (min-width: 540px) and (max-width: 880px) {

}

/*                *\

     LARGE SOLO

\*                */

@media screen and (min-width: 880px) {
	
}