.menu h2 {
	line-height: 45px;
}

.menu h2,
.menu h3 {
	padding: 0 20px;
}

.menu h3 {
	line-height: 1.2em;
}

.menu .contact-btn {
	margin: 10px 20px;
}

.menu .phone-btn {
	margin-bottom: 20px;
}

.help-view p {
	margin-bottom: 2em;
}

.help-view .back-btn {
	margin-bottom: 30px;
}

.help-view h1 {
	margin-top: 30px;
}

