/*       *\ 

    ^3^

\*       */

.event {
	padding-bottom: 15px;
}

.event + .event {
	border-top: 1px solid #ccc;
	padding-top: 15px;
}

/*                           *\

     SMALL & MEDIUM SHARED

\*                           */

@media screen and (max-width: 880px) {
	.sb {
		display: none;
	}
}

/*                *\

     SMALL SOLO

\*                */

@media screen and (max-width: 540px) {

}

/*                 *\

     MEDIUM SOLO

\*                 */

@media screen and (min-width: 540px) and (max-width: 880px) {

}

/*                *\

     LARGE SOLO

\*                */

@media screen and (min-width: 880px) {
	.events {
		border: 1px solid #ccc;
		height: 200px;
		margin-bottom: 30px;
		overflow: auto;
		padding: 20px 20px 0;
	}
}