/*       *\

    ^3^

\*       */

.support-mc p {
	margin-bottom: 30px;
}

.support-mc b,
.support-mc p {
	line-height: 120%;
}

/*                           *\

     SMALL & MEDIUM SHARED

\*                           */
	
@media screen and (max-width: 880px) {
	.sb {
		display: none;
	}
}

/*                *\

     SMALL SOLO

\*                */

@media screen and (max-width: 540px) {

}

/*                 *\

     MEDIUM SOLO

\*                 */

@media screen and (min-width: 540px) and (max-width: 880px) {

}

/*                *\

     LARGE SOLO

\*                */

@media screen and (min-width: 880px) {
	
}