/*       *\

    ^3^

\*       */

/*                           *\

     SMALL & MEDIUM SHARED

\*                           */
	
.restart-system .border-btn {
	display: block;
	margin-bottom: 10px;
	text-align: center;
	width: 120px;
}

@media screen and (max-width: 880px) {
	.sb {
		display: none;
	}
}

/*                *\

     SMALL SOLO

\*                */

@media screen and (max-width: 540px) {

}

/*                 *\

     MEDIUM SOLO

\*                 */

@media screen and (min-width: 540px) and (max-width: 880px) {

}

/*                *\

     LARGE SOLO

\*                */

@media screen and (min-width: 880px) {
	
}